<template>
	<div class="modal wide">
		<div class="modal-header">
			<h5>{{ this.helpText.title }}</h5>
			<div class="close" @click="closeglobalmodal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="modal-content">
			<input type="hidden" name="_token" :value="this.csrf">
			<div class="loading text-centre" id="gfx-loader-icon">
				<h2><svg style="animation: spin infinite 2s ease;" class="feather-icon icon-loader"><use xlink:href="#loader"></use></svg></h2>
			</div>
			<div class="grid gfx-list">
				<div class="grid-col-span-2" v-for="(item,index) in gfxList" :key="item.id" :data-gfx="item.id">
					<img :src="'/media/find/'+item.id+'/preview'" loading="lazy" :data-id="item.id" @click="setupGFXEdit(item.id)">
					<div class="info">
						<h4>{{ helpText.resize }}</h4>
						<div class="grid">
							<div class="grid-col-span-2 grid-col-span-tablet-6" v-for="(size,name) in item.sizes" :key="item.id+'_'+name">
								<div class="grid">
									<div class="grid-col-span-1 grid-col-span-tablet-6">
										{{ name }}
									</div>
									<div class="grid-col-span-1 grid-col-span-tablet-6">
										<label class="fakebox" :for="name+'_'+item.id">
											<input :name="name" :id="name+'_'+item.id" value="1" :checked="(size) ? true : false" type="checkbox">
											<div class="checkbox">
												<svg class="feather-icon icon-check"><use xlink:href="#check"></use></svg>
											</div>
										</label>
									</div>
								</div>
							</div>
							<div class="grid-col-span-2 grid-col-span-laptop-12">
								<button @click="updateMedia(item.id)" class="button button-blue" style="margin-right: 1rem;margin-bottom: 1rem;">{{ helpText.update }}</button>
								<button @click="deleteMedia(item.id)" class="button delete">{{ helpText.delete }}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<style>
.gfx-list img{
	cursor: pointer;
}
.gfx-list .info{
	display: none;
}
.gfx-list .grid-col-span-tablet-12{
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-gap: 2rem;
}
.gfx-list .grid-col-span-tablet-12 .info{
	display: block;
}
</style>
<script>
	export default {
		data: function(){	
			return{
				helpText: JSON.parse(document.getElementById('user-gfx-help-text').innerHTML),
				csrf: $('[name="csrf-token"]').attr('content'),
				user: JSON.parse(document.getElementById('user-data').innerHTML),
				gfxList: {}
			}
		},
		methods: {
			closeglobalmodal(){
				this.$emit('closeglobalmodal');
			},
			setupGFXEdit(id){
				$('.gfx-list > *').removeClass('grid-col-span-tablet-12');
				$('.gfx-list [data-id="'+id+'"]').parent().addClass('grid-col-span-tablet-12');
			},
			updateMedia(id){
				const config = {
					headers: {
						'content-type': 'multipart/form-data',
						'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
					}
				}
				let comp = this;
				let eventData = null;
				let formData = new FormData();
				var i = {};
				$('.gfx-list [data-gfx="'+id+'"] input[type="checkbox"]').each(function(){
					i[$(this).attr('name')] = $(this).prop('checked');
				});
				formData.append('id', id);
				formData.append('data', JSON.stringify(i));
				axios.post('/user/'+id+'/media', formData, config)
					.then(function (response) {
						$('.gfx-list > *').removeClass('grid-col-span-tablet-12');
					});
				
			},
			deleteMedia(id){
				const config = {
					headers: {
						'content-type': 'multipart/form-data',
						'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
					}
				}
				let comp = this;
				let eventData = null;
				let formData = new FormData();
				formData.append('id', id);
				formData.append('delete', 'true');
				axios.post('/user/'+id+'/media', formData, config)
					.then(function (response) {
						$('.gfx-list [data-gfx="'+id+'"]').remove();
					});
			}
		},
		mounted(){
			var ins = this;
			$.get('/user/'+ins.user.id+'/media', function(data){
				$('#gfx-loader-icon').remove();
				ins.gfxList = JSON.parse(data);
			});
		}
	}
</script>