<template>
	<div>
		<div class="research-upper">
			<div class="icon">
				ICON
			</div>
			<div class="content">
				<input-help required label="Category Name" value="Industry" helptext="" name="category_name"></input-help>
				<textarea-help label="Category Description" value="This is the industry category" helptext="" name="category_description"></textarea-help>
			</div>
		</div>

		<div class="research-area">
			
		</div>
	</div>
</template>

<script>
	export default {
		props: [],
		methods:{
			setup(){
				var el = this;
				el.resizeResearchArea();

				$(window).on('resize', function(){
					el.resizeResearchArea();
				});
			},
			resizeResearchArea(){
				$('.research-area').height(0);
				$('.research-area').height($(window).height() - $('.research-upper').outerHeight() - $('.main-menu').outerHeight() - 40);
			}
		},
		mounted(){
			this.setup();
		}
	}
</script>