.error-wrapper{
	display: flex;
	width: 100%;
	height: 100%;
	background: colour(dark-grey);
	align-items: center;
	justify-content: center;

	.error-number{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 33vw;
		opacity: 0.25;
		font-weight: 900;
	}

	.error-wrapper-inner{
		padding: 2rem;
		max-width: 800px;
		text-align: center;
		z-index: 2;
		color: colour(white);
	}
}