@font-face {
  font-family: 'Emoji';
  src: url('/fonts/NotoColorEmoji.ttf');
}

.ui-selectable-helper {
	position: absolute; 
	z-index: 100;
	background: colour(white) !important;
	opacity: 0.2;
}

.gfx-image-sprite{
	object-fit: none;
    width: 95px;
    height: 95px;
}

.pagination-nav{
	text-align: center;
}

.pagination-links{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	font-size: 0;

	> *{
		width: 2rem;
		height: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0.5rem;
		border: 1px solid;
		margin: 0.25rem;
		font-size: 1rem;
	}

	.arrow{
		height: 1.5rem;
		width: 1.5rem;
	}

	a, a:visited{
		color: colour(white);
		background: colour(blue);
		border-color: colour(blue);
		transition: 0.2s ease;
	}

	span, a:focus, a:hover{
		background: colour(white);
		color: colour(blue);
	}
	
}

	.builderSearch{
		max-height: 35vh;
		overflow-y: auto;
		padding-top: 0.5rem;
		outline: none;
	}
	.builder-output {
		cursor: pointer;
		+ .builder-output{
			margin-top: 5px;
			padding-top: 5px;
			border-top: 1px solid colour(blue);
		}
	}
	.addToBuilder{
		width: 2rem;
		height: 2rem;
		font-size: 1.5rem;
		padding: 0;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0.5rem auto;
		background: colour(blue);
		color: colour(white);
		border-radius: 50%;
	}

	.choose-country, .choose-state{
		color: colour(blue);
		cursor: pointer;
	}

img{
	max-width: 100%;
}

.emoji{
	font-family: 'Emoji';
}

.loader-overlay{
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5rem;
	background: rgba(0,0,0,0.5);
	color: colour(white);

	.icon-loader{
		transition: 0.2s ease;
		animation: spin infinite 2s ease;
	}
}

.emoji-select{
	select.default-input{
		font-family: 'Emoji', 'Poppins', sans-serif;
		option:not([disabled]){
			font-family: 'Emoji', 'Poppins', sans-serif;
		}
		&:invalid{
			font-family: $body;
		}
	}
}

.page-content{
	padding: space() space(2);
}

.circle-image{
	position: relative;
	width: 100%;
	padding-top: 100%;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.align-centre{
	align-items: center;
}

:root{
	@each $name,$value in $colours{
		--#{"" + $name}: #{$value};
	}
	--space : 1rem;
	--fontSize : 1rem;
}

.swatch{
	width: 1.5rem;
	height: 1.5rem;
	border: 1px solid #000000;

	@each $name,$value in $colours{
		&-#{"" + $name}{
			background: #{$value};
		}
	}
}

.colour-preview{
	display: grid;
	grid-template-columns: 2rem 1fr;
	margin-bottom: 1rem;
}

.colour-preview-wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;

	@media screen and (min-width: 1200px){
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.heightChecker{
	height: 1em;
	border: 1px solid #000000;
}

html,body{
	padding: 0;
	margin: 0;
	font-family: $body;
	font-size: vw(fontSize(body));
	background: colour(pageBackground);
	color: colour(text);
	overflow: hidden;
	max-height: 100vh;
}

.feather-icon{
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
	width: 1em;
	height: 1em;

	&.icon-discord,&.icon-steam{
		stroke-width: 0;
		fill: currentColor;
	}

	&.icon-discord{
		height: 1.5em;
	    width: 1.5em;
	    margin: 0 -0.25em;
	}
}

#app{
	display: flex;
	flex-wrap: wrap;
}

.main-content{
	width: 100%;
	height: calc(100vh - 2.5rem);
	overflow: auto;
}

.main-menu{
	width: 100%;
	background: colour(blue);
	padding: 0 space();
	height: 2.5rem;
	color: colour(white);
	display: flex;
	position: relative;
	z-index: 100;

	.menu{
		display: flex;
		align-items: center;
		width: 100%;
		.menu-item,a{
			color: colour(white);
			display: flex;
			align-items: center;
			transition: 0.2s ease;
		}
		.menu-item,.menu-item > a{
			font-size: 1rem;
			&.has-children{
				position: relative;
				cursor: pointer;

				.children{
					position: absolute;
					bottom: calc(100% + 1rem);
					left: 50%;
					transform: translateX(-50%);
					width: 430%;
					max-width: 100vw;
					background: colour(blue);
					transition: 0.2s ease;
					border-radius: 1rem;
					padding: space(0.5) space(1.5);
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					opacity: 0;
					pointer-events: none;

					> *{
						width: calc(33% - 0.75rem);
						display: block;
						margin: space(0.5) 0;
					}

					> a{
						&:hover{
							color: colour(text);
						}
					}

					.title,.description{
						display: inline-block;
						width: 100%;
					}

					.title{
						font-family: $heading;
					}

					.description{
						font-size: 75%;
						font-weight: 100;
					}

					&:before,&:after{
						content: '';
						position: absolute;
					}

					&:before{
						width: 1rem;
						height: 1rem;
						top: 100%;
						left: 50%;
						background: colour(blue);
						transform: translateX(-50%) translateY(-50%) rotate(45deg);
					}

					&:after{
						width: 60%;
						height: 1rem;
						top: 100%;
						left: 20%;
					}
				}

				&:hover,&:focus,&:focus-within{
					.children{
						pointer-events: initial;
						opacity: 1;
					}
				}
			}

			&:hover,&:focus{
				color: colour(text);
			}

			svg{
				margin-right: space(0.5);
			}

			+ .menu-item{
				margin-left: space();
				padding-left: space();
				border-left: 1px solid rgba(colour(white), 0.2);

				&.support{
					margin-left: auto;
					border-left: 0;
				}
			}
		}
	}
}

.menu-item-notification{
	position: absolute;
	top: 0.25rem;
	right: -0.25rem;
	width: 0.5rem;
	height: 0.5rem;
	background: colour(red);
	border-radius: 50%;
}

.main-menu-toggle{
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-right: space(3);
	svg{
		margin-right: space(0.5);
	}
}

.sidebar-menu{
	background: colour(dark-grey);

	a{
		&:hover{
			color: colour(blue);
		}
	}
}

.has-sidebar{
	.sidebar-menu{
		width: 3rem;
	}
	.main-content{
		width: calc(100% - 3rem);
	}
	&.open{
		.sidebar-menu{
			width: vw(220px);
		}
		.main-content{
			width: calc(100% - #{vw(220px)});
		}
	}
}

.sidebar-toggle{
	background: colour(blue);
	color: colour(white);
	text-align: center;
	line-height: 1;
	padding: space(0.5);
}

.sidebar-menu-items{
	padding: space();
}

.sidebar-menu-item{
	color: colour(white);
	display: flex;
	align-items: center;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid rgba(colour(white), 0.2);
	margin-bottom: 0.5rem;
	cursor: pointer;
	&:hover{
		color: colour(blue);
	}
	svg,.icon{
		margin-right: space(0.5);
	}

	input[type="checkbox"]{
		
	}
}

.help-text-file{
	display: none;
}

.showHelpData{
	[data-help]:not(.close){
		animation: helpHighlight 5s ease infinite;
	}
	#toggleHelp{
		background: colour(blue);
		color: colour(white);
	}
}

.enterDeleteMode{
	&.active{
		color: colour(red);
	}
}

.loader{
	position: absolute;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0);
	z-index: 999;
	top: 0;
	left: 0;
	transition: 0.4s ease;
	transition-delay: 0.1s;
	font-size: 5rem;
	color: colour(blue);

	.feather-icon{
		position: relative;
	    z-index: 2;
	    top: calc(50% - 0.5em);
	    left: calc(50% - 0.5em);
	    animation: spin infinite 2s ease;
	    transition: 0.1s ease;
	}

	&:before,&:after{
		content: '';
		position: absolute;
		left: 0;
		width: 100vw;
		height: 100%;
		transition: 0.4s ease;
	}

	&:before{
		z-index: 2;
		background: colour(white);
		top: 0;
	}
	&:after{
		z-index: 1;
		background: colour(white);
		bottom: 0;
	}

	&.loaded{
		pointer-events: none;

		.feather-icon{
			opacity: 0;
		}
		
		&:before{
			opacity: 0;
		}	

		&:after{
			opacity: 0;
		}
	}

	&.loading{
		transition-delay: 0s;
		
		&:before,&:after{
			opacity: 1;
		}

	}
}

@keyframes helpHighlight {
	0% {
		background-color: initial;
	}

	50%{
		background-color: rgba(#ccff00, 0.1);
	}

	100% {
		background-color: initial;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	50%{
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes nicelyIn {
	0% {
		opacity: 0;
		transform: translateX(-20vw) translateY(50vw) scale(0);
	}

	50%{
		opacity: 0.5;
		transform: translateY(50vw);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.grid{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: space(2);
}

.grid-tight{
	grid-gap: 0.5rem;
}

.gfx-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
	grid-gap: 1rem 5px;

	> img{
		cursor: pointer;
		max-width: 90%;
		margin: 0 auto;

		&:hover{
			opacity: 0.75;
		}
	}
}

.tabble-content{
	margin-top: 2rem;
}

.tab-headers{
	display: flex;
}
.tab-header{
	display: inline-block;
	padding: space();
	text-align: center;
	max-width: vw(330px);
	width: 100%;
	border: 1px solid colour(blue);
	border-bottom: none;
	color: colour(blue);
	border-top-left-radius: space();
	border-top-right-radius: space();

	&:focus,&:hover{
		background: rgba(colour(blue), 0.5);
		color: colour(white);
	}

	&.active{
		background: colour(blue);
		color: colour(white);
	}
	+ .tab-header{
		border-left: 0;
	}
}

.tab-content{
	border: 1px solid colour(blue);
}

.tab-details{
	padding: 2rem;
	display: none;
	max-height: 42vh;
	overflow: auto;

	&.active{
		display: block;
	}

	&.no-pad{
		padding: 0;
	}
}

@include gridStarts(12);
@include gridColumnSpans(12);
@include gridRowSpans(6);


.alert-message{
	position: fixed;
	top: 0;
	left: 50%;
	width: 75vw;
	transform: translateX(-50%);
	padding: space(0.5) space();
	color: colour(white);
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	z-index: 100;

	&.success{
		background: colour(green);
	}

	&.error{
		background: colour(red);
	}
}

small{
	font-size: 75%;
}

.flex-at-end{
	display: flex;
	align-items: flex-end;
}

@include maxWidth(desktop){
	html,body{
		font-size: vw((fontSize(body) * 0.8), 1300);
	}
}

@include maxWidth(laptop){
	html,body{
		font-size: vw((fontSize(body) * 0.8), 820);
	}
	.main-menu-toggle{
		font-size: 0;
		svg{
			width: 1.5rem;
			height: 1.5rem;
		}
	}
	.main-menu{
		.menu{
			> .menu-item{
				font-size: 0;
				svg{
					width: 1.5rem;
					height: 1.5rem;
					margin-left: 1rem;
					margin-right: 1rem;
				}

				&.has-children{
					.children{
						font-size: 1rem;
						display: block;
						width: 60vw;
						> *{
							width: 100%;
							margin: 0.5rem;
						}
					}
				}
			}
		}
	}
}

@include maxWidth(laptop){
	.grid{
		grid-template-columns: repeat(6, 1fr);
	}

	.gfx-list{
		grid-template-columns: repeat(2, 1fr);
	}

	.sidebar-menu-item{
		font-size: 0;
		justify-content: center;
		*{
			font-size: 1rem;
		}
	}
}

@include maxWidth(tablet){
	.grid{
		grid-template-columns: repeat(2, 1fr);
	}
	html,body{
		font-size: vw((fontSize(body) * 1.3), 600);
	}
}

/*Theme classes*/
.theme-menu-top{
	.main-menu{
		order: 1;
	}
	.sidebar-menu{
		order: 2;
		.sidebar-toggle{
			display: none;
		}
	}
	.main-content{
		order: 3;
	}

	.modal{
		top: 7vh;
	}

	.main-menu .menu .menu-item.has-children .children, .main-menu .menu .menu-item > a.has-children .children{
		bottom: auto;
		top: calc(100% + 1rem);

		&:before{
			top: 0;
		}

		&:after{
			top: auto;
			bottom: 100%;
		}
	}
}

.dark-theme{
	.sidebar-menu{
		.sidebar-menu-item{
			color: colour(text);
		}
	}
}

.mt{
	margin-top: space();
}