.homepage{
	padding: 3rem;
}

.home-forum-updates{
	border: 1px solid colour(blue);
	border-top-right-radius: space();
	overflow: hidden;
}

.home-update{
	padding: 1rem;
	background: colour(white);
	p{
		font-size: 0.8rem;
	}
	&:nth-child(even){
		background: colour(offwhite);
	}
}

.patron-list{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;

	li{
		margin-bottom: 1rem;
		width: 50%;
	}

	.image-wrapper{
		display: inline-block;
		vertical-align: middle;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		margin-right: 1rem;

		img{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}