.user-social-links, .user-header > .grid{
	align-items: center;
}

.user-social-links{
	svg{
		stroke: colour(blue);

		&.icon-discord,&.icon-steam{
			fill: colour(blue);
		}
	}

	a,a:visited{
		color: colour(text);
		word-break: break-all;
	}
}

.user-avatar{
	border-radius: 50%;
	width: 14rem;
	height: 14rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
}

.user-forum-post{
	+ .user-forum-post{
		margin-top: 2rem;
	}
}

.theme-tab{
	span{
		display: block;
		border: 1px solid colour(blue);
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
		transition: 0.2s ease;
		color: colour(blue);
		padding: 0.5rem;
		cursor: pointer;

		&:hover{
			background: rgba(0,0,0,0.2);
		}
	}

	input{
		display: none;

		&:checked ~ span{
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			color: colour(white);
			background: colour(blue);
		}
	}

	+.theme-tab{
		span{
			border-top: none;
		}
	}
}

.theme-content{
	display: none;
	&[data-active="true"]{
		display: block;
	}
}

.user-name-select{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	justify-content: center;
	span{
		background: colour(blue);
		display: inline-block;
		color: colour(white);
		padding: space(0.2) space(0.4);
		border-radius: 0.2rem;
		border: 1px solid colour(blue);
		margin: 0.2rem;
		cursor: pointer;
		transition: 0.2s ease;
		min-width: 1.5rem;
		text-align: center;
		text-transform: uppercase;

		&:hover{
			border-radius: 0.8rem;
		}
	}

	input{
		display: none;
		&:checked{
			~ span{
				background: rgba(0,0,0,0);
				color: colour(blue);
				border-radius: 0.8rem;
			}
		}
	}
}

.user-name-select + .user-search-box{
	margin-top: space(2);
}

.user-search-box{
	background: colour(white);
	padding: space() space(3);
	border-radius: space(1);
	> *{
		margin-top: space();
		margin-bottom: space();
	}
}

.user-search-list{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
	margin-top: space(2);
}

.user-search-item{
	display: grid;
	grid-template-columns: 5rem 1fr;
	.image{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.details{
		color: colour(text);
		background: colour(white);
		padding: space() space(2);
		border-bottom-right-radius: space();
		border-top-right-radius: space();
		transition: 0.2s ease;
		word-break: break-all;

		.username{
			font-family: $heading;
			font-size: 1.25rem;
			display: inline-block;
			width: 100%;
		}
	}

	&:hover{
		.details{
			background: colour(blue);
			color: colour(white);
		}
	}
}

@media screen and (min-width: 992px){
	.user-search-box{
		max-width: space(40);
		margin-left: auto;
		margin-right: auto;
		display: grid;
		grid-template-columns: 1fr auto;
		grid-gap: 1rem;
	}

	.user-search-list{
		grid-template-columns: 1fr 1fr 1fr;
	}
}