<template>
	<div class="page-content">
	    <div class="country-lists grid">
	    	<div class="grid-col-span-12 text-centre" v-if="lists.length == 0">
	    		<h2><svg style="animation: spin infinite 2s ease;" class="feather-icon icon-loader"><use xlink:href="#loader"></use></svg></h2>
	    	</div>
	    	<div class="grid-col-span-6" v-for="item in lists">
	    		<mod-preview :mod="item" :list="item.countries" link_preview="/country/view" preview_text_property="name"></mod-preview>
	    	</div>
	    </div>
	</div>
</template>

<script>
    export default{
    	data(){
    		return {
    			lists: []
    		}
    	},
        mounted(){
        	var el = this;
        	$.get('/country/api/list/', function(data){
        		el.lists = data;
        	});
        }
    }
</script>
