<template>
	<div id="country-editor-tabs">
		<component v-bind:is="setCountryTab" @openSecondaryModal="openSecondaryComponent" @closeSecondaryModal="closeSecondaryComponent" @updateStartDate="updateStartDate" @openMilitaryEditor="openMilitaryEditor" @openGovernmentEditor="openGovernmentEditor" v-bind="passData"></component>
		<component v-bind:is="secondaryComponent" @closeSecondaryModal="closeSecondaryComponent" @updateGFX="updateGFX" @updateData="updateData" v-bind="passData" ></component>
		<component v-bind:is="tertiaryComponent" @closeTertiaryModal="closeTertiaryComponent" @closeSecondaryModal="closeSecondaryComponent" @openSecondaryModal="openSecondaryComponent" @updateGFX="updateGFX" @updateData="updateData" v-bind="passData" ></component>
	</div>
</template>

<script>
	export default {
		props: [
			'data', 'countrytab', 'startdate'
		],
		data(){
			return {
				secondary : 'placeholder',
				tertiary : 'placeholder',
				hasChangedTab : false,
				passData : {
					data : this.data,
					startDate : this.startdate,
					helpText : JSON.parse(document.getElementById('help-'+this.countrytab.toLowerCase()+'-text').innerHTML),
					toolHelp : JSON.parse(document.getElementById('tool-help-file').innerHTML),
					militaryType: null,
					militaryId: 0,
					tool: 'country',
					queryString: null,
					gfxObject: null,
					gfxList: 'gfx-list',
					secondaryData: null
				}
			};
		},
		methods:{
			openSecondaryComponent(modal, info = null){
				this.secondary = modal;
				if(info){
					if(info.hasOwnProperty('type')){
						if(info.type == 'leader'){
							this.passData.gfxList = 'leader-gfx-list';
						}else{
							this.passData.gfxList = 'gfx-list';
						}
					}else{
						if(info.indexOf('data-uid') > -1){
							//If traits
							this.passData.secondaryData = info;
						}else{
							this.passData.gfxList = 'gfx-list';
						}
					}
					if(info.hasOwnProperty('elem')){
						this.passData.gfxObject = info.elem;
					}
				}else{
					this.passData.gfxList = 'gfx-list';
				}
				
				resetCountrySaveUpdateEvents();
			},
			closeSecondaryComponent(refresh = true){
				if(this.secondary == "trait-selector"){
					refresh = false;
				}
				this.secondary = 'placeholder';
				resetCountrySaveUpdateEvents();
				if(refresh){
					var tab = this.countrytab;
					var parent = this.$parent;
					parent.updateCountryTab('placeholder');
					setTimeout(function(){	
						parent.updateCountryTab(tab);
					}, 10);
				}else{
					$('.country-data-save').show();
				}
			},
			closeTertiaryComponent(refresh = true){
				this.tertiary = 'placeholder';
				resetCountrySaveUpdateEvents();
				if(refresh){
					var tab = this.countrytab;
					var parent = this.$parent;
					parent.updateCountryTab('placeholder');
					setTimeout(function(){	
						parent.updateCountryTab(tab);
					}, 10);
				}else{
					$('.country-data-save').show();
				}
			},
			updateData(data){
			},
			updateGFX(data){
			},
			updateStartDate(index){
				this.passData.startDate = index;
			},
			openMilitaryEditor(type, id){
				this.passData.militaryType = type;
				this.passData.militaryId = id;
				this.tertiary = 'military-editor';
				resetCountrySaveUpdateEvents();
			},
			openGovernmentEditor(type, id){
				this.passData.militaryType = type;
				this.passData.militaryId = id;
				this.tertiary = 'government-editor';
				resetCountrySaveUpdateEvents();
			}
		},
		watch: {
			startdate: function(){
				this.passData.startDate = this.startdate
			}
		},
		computed:{
			setCountryTab: function(){
				if(this.hasChangedTab){
					updateCountryData(this.data);
					resetCountrySaveUpdateEvents();
				}
				if(document.getElementById('help-'+this.countrytab.toLowerCase()+'-text')){
					this.passData.helpText = JSON.parse(document.getElementById('help-'+this.countrytab.toLowerCase()+'-text').innerHTML)
				}
				this.hasChangedTab = true;
				return this.countrytab.toLowerCase();
			},
			secondaryComponent : function(){
				return this.secondary.toLowerCase();
			},
			tertiaryComponent : function(){
				return this.tertiary.toLowerCase();
			}
		}
	}
</script>