<template>
	<div>
		<div class="country-data input-labels-use-page-background" v-if="country != null">
			<div class="country-edit-tabs">
				<div class="country-dates">
					<button @click="setDate(index)" :class="'country-date-button '+(activeDate == index ? 'active' : '')" v-for="item,index in country.dates">
						{{ item.year }}.{{ item.month }}.{{ item.day }}
					</button>
				</div>
				<div class="country-sections">
					<div class="input-with-help">
						<div class="input-wrapper">
							<select class="default-input" name="choosePageSection" @change="setSection($event.target.value)" required="true">
								<option value="" selected="true" disabled>Section</option>
								<option v-if="activeDate == 0">Ideologies</option>
								<option>Politics</option>
								<option v-if="activeDate == 0">Government</option>
								<option v-if="activeDate == 0">Military</option>
								<option>Divisions</option>
								<option>Research</option>
								<!-- <option v-if="activeDate != 0">Completed Focuses</option> -->
								<option>National Spirits</option>
								<option>States</option>
								<option>Data</option>
							</select>
							<div class="select-dropdown"><svg class="feather-icon chevron-down"><use xlink:href="#chevron-down"></use></svg></div>
							<label class="input-label" for="choosePageSection">Section</label>
						</div>
					</div>
				</div>
			</div>

			<ideologies :active="activeSection == 'Ideologies' ? true : false" :date="country.dates[activeDate]" @updateDateData="updateDateData" :mod-id="modId" :editable="editable"></ideologies>
			<politics :active="activeSection == 'Politics' ? true : false" :date="country.dates[activeDate]" @updateDateData="updateDateData" :mod-id="modId" :editable="editable"></politics>
			<government :active="activeSection == 'Government' ? true : false" :country="country" @updateCountryData="updateCountryData" :mod-id="modId" :editable="editable"></government>
			<military :active="activeSection == 'Military' ? true : false" :country="country" @updateCountryData="updateCountryData" :mod-id="modId" :editable="editable"></military>
			<divisions :active="activeSection == 'Divisions' ? true : false" :date="country.dates[activeDate]" @updateDateData="updateDateData" :mod-id="modId" :editable="editable"></divisions>
			<research :active="activeSection == 'Research' ? true : false" :date="country.dates[activeDate]" @updateDateData="updateDateData" :mod-id="modId" :editable="editable"></research>
			<states :active="activeSection == 'States' ? true : false" :country="country" :startDate="activeDate" @updateCountryData="updateCountryData" :mod-id="modId" :editable="editable"></states>
			<misc :active="activeSection == 'Data' ? true : false" :date="country.dates[activeDate]" :country="country" @updateDateData="updateDateData" @updateCountryData="updateCountryData" :mod-id="modId" :editable="editable"></misc>
			<national-spirits :active="activeSection == 'National Spirits' ? true : false" :date="country.dates[activeDate]" @updateDateData="updateDateData" :mod-id="modId" :editable="editable"></national-spirits>
			<div v-if="activeSection == 'Completed Focuses'"><h3 class="text-centre mt">Coming soon</h3></div>
		</div>
		<div id="map-output"></div>

		<button class="button country-save" v-if="needsSaving && editable" @click="saveCountry()">Save</button>
	</div>
</template>

<script>
	export default {
		props: ['id', 'modId', 'mapUrl'],
		data(){
			return {
				country: null,
				editable: false,
				activeDate: null,
				activeSection: null,
				needsSaving: false,
				stateData: [],
				mapSVG: null
			}
		},
		mounted(){
			let el = this;
			$.get('/country/api/'+this.id, function(data){
				el.country = data;
				el.setDate(0);
			});
			$.get('/country/api/'+this.id+'/editable', function(data){
				el.editable = data.editable;
			});
			$.get('/get-data/states', function(data){
				el.stateData = data;
			});
		},
		methods:{
			getDate(){
				if(this.country != null){
					return this.country.dates[this.activeDate];
				}else{
					return;
				}
			},
			setDate(index){
				this.activeDate = index;
				this.setSection(null);
				jQuery('[name="choosePageSection"]').val('');
			},
			setSection(section){
				this.activeSection = section;
			},
			updateDateData(data){
				this.country.dates[this.activeDate] = data;
				this.needsSaving = true;
			},
			updateCountryData(data){
				this.country = data;
				this.needsSaving = true;
			},
			getMapSVG(){
				if(this.mapSVG != null){
					return this.mapSVG;
				}

				$('#pageloader').removeClass('loaded');
				let el = this;
				$.get(this.mapUrl, function(data){
					let elem = $('#map-output');
					elem.html(data);
					setTimeout(function(){
						$.each(el.stateData, function(n, state){
							let stateID = state.id;
							elem.find('svg').append('<g id="state-'+stateID+'"></g>');

							$.each(state.provinces, function(i, p){
								elem.find('[data-province-id="'+p+'"]').attr('data-state-id', stateID).attr('fill', state.colour);
								elem.find('#state-'+stateID).append(elem.find('[data-province-id="'+p+'"]'));
							});
						});

						el.mapSVG = elem.html();
						$('#pageloader').addClass('loaded');
						elem.html('');
						return el.mapSVG;
					}, 100);
				});
			},
			saveCountry(){
				let el = this;
				let formData = new FormData();
				formData.append('id', this.country.id);
				formData.append('_token', document.querySelector('[name="csrf-token"]').content);
				formData.append('country', JSON.stringify(this.country));
				axios.post('/country/save', formData)
				.then(function (response){
					el.needsSaving = false;
				});
			}
		}
	}
</script>