<template>
	<div>
		<modal title="Create new country">
			<form action="/country/create" method="POST" class="grid">
				<csrf></csrf>
				<div class="grid-col-span-6">
					<input-help required="true" name="name" label="Name"></input-help>
					<p><small>NOTE: This name is used as the filename upon exporting the country so MUST match, exactly, the country you wish to override. e.g. "Germany" if you wish to override the tag GER</small></p>
				</div>
				<div class="grid-col-span-6">
					<tag-list name="tag" label="Tag" required="true"></tag-list>
				</div>
				<div class="grid-col-span-6">
					<mod-list></mod-list>
				</div>
				<div class="grid-col-span-6 text-right">
					<button class="button button-blue">Submit</button>
				</div>
			</form>
		</modal>
	</div>
</template>

<script>
	export default {
		mounted(){

		}
	}
</script>