<template>
	<div class="modal wide">
		<div class="modal-header">
			<h5>{{ this.helpText.create_modal.title }}</h5>
			<div class="close" @click="closeglobalmodal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="modal-content">
			<form action="/country/create" method="POST">
				<input type="hidden" name="_token" :value="this.csrf">
				<div class="grid">
					<div class="grid-col-span-6">
						<select-help :label="this.helpText.create_modal.mod" :helptext="this.helpText.create_modal.mod_help" name="mod_id" :values="mods"></select-help>
						<input-help :label="this.helpText.create_modal.name" :helptext="this.helpText.create_modal.name_help" name="name"></input-help>
						<select-help :label="this.helpText.create_modal.type" :helptext="this.helpText.create_modal.type_help" name="mod" :values="this.modTypes"></select-help>
					</div>
					<div class="grid-col-span-6">
						<datalist-help :label="this.helpText.create_modal.tag" :values="countries" :helptext="this.helpText.create_modal.tag_help" name="tag"></datalist-help>
						<div class="emoji-select data-field">
							<select-help :label="this.helpText.create_modal.lang" :helptext="this.helpText.create_modal.lang_help" name="language" :values="languages"></select-help>
						</div>
						<btn :text="this.helpText.create_modal.submit"></btn>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		data: function(){
			var hT = JSON.parse(document.getElementById('modal-help-text').innerHTML);

			var modTypes = [];
			
			Object.keys(hT.create_modal.modTypes).forEach(function(index) {
				modTypes.push({'value':index, 'label':hT.create_modal.modTypes[index]});
			});
			
			return{
				helpText: hT,
				csrf: $('[name="csrf-token"]').attr('content'),
				countries: JSON.parse(document.getElementById('country-list').innerHTML),
				languages: window.getFileLanguages(),
				mods: JSON.parse(document.getElementById('mod-list').innerHTML),
				modTypes: modTypes
			}
		},
		methods: {
			closeglobalmodal(){
				this.$emit('closeglobalmodal');
			}
		}
	}
</script>