<template>
	<div class="modal wide">
		<div class="modal-header">
			<h5>{{ this.helpText.division_location }}</h5>
			<div class="close" @click="closeSecondaryModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="modal-content">
			<h4 class="text-centre">{{ this.division.name }}</h4>
			<div class="map-wrapper" data-zoom="1.0">
				<div class="map dragscroll" id="division-province-map"></div>
			</div>
			<div v-if="this.editingProvince" class="division-province-edit">
				<div class="grid">
					<span class="close" @click="cancelEdit()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></span>
					<div class="input-wrapper grid-col-span-12 grid-col-span-tablet-8">
						<input id="divisionsInProvince" class="default-input" type="number" step="1" min="0" max="999" :value="this.editingProvince[1]" :data-province-id="this.editingProvince[0]">
					</div>
					<div class="grid-col-span-12 grid-col-span-tablet-4 text-right">
						<button class="button button-primary" @click="updateProvinceData()">{{ this.helpText.update }}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	//TODO - Update localisation
	export default {
		props: ['data', 'startDate', 'helpText'],
		data(){
			var divData = getCurrentEditingDivision();
			var division = this.data.dates[divData[0]].divisions[divData[1]];
			return{
				division: division,
				editingProvince: null
			}
		},
		methods :{
			generateMap(){
				var ins = this;
				var div = this.division;
				var $map = $('#division-province-map');
				$map.html($('#province-map').html());
				setTimeout(function(){
					$map.find('[data-province-id]').removeAttr('data-has-troops');
					$.each(div.locations, function(id, amount){
						$('[data-province-id="'+id+'"]').attr('data-has-troops', 'true');
					});
				}, 200);
				setTimeout(function(){
					var clickHandler = function(e){
						e.stopPropagation();
						var provinceID = $(this).attr('data-province-id');
						var locationExists = false;
						if(div.locations.hasOwnProperty(provinceID)){
							ins.editingProvince = [provinceID, div.locations[provinceID]];
							locationExists = true;
						}
						// $.each(div.locations, function(id, amount){
						// 	if(id === provinceID){
						// 		ins.editingProvince = [id, amount];
						// 		locationExists = true;
						// 	}
						// });
						if(!locationExists){
							ins.editingProvince = [provinceID, 0];
						}
						//TODO Update modal header to "Select amount of divisions"
					}
					$('#division-province-map [data-province-id]').unbind('click', clickHandler);
					$('#division-province-map [data-province-id]').on('click', clickHandler);
				}, 200);

				$('.map-wrapper').bind('mousewheel DOMMouseScroll', function(event){
					event.preventDefault();
					if (event.originalEvent.wheelDelta > 0 || event.originalEvent.detail < 0) {
						zoomInMap();
					}else {
						zoomOutMap();
					}
				});
				resetDragscroll();
			},
			cancelEdit(){
				this.editingProvince = null;
			},
			updateProvinceData(){
				var inLocations = false;
				var totalDivisions = $('#divisionsInProvince').val();
				var provinceID = $('#divisionsInProvince').attr('data-province-id');
				var div = this.division;
				var ins = this;

				if(Array.isArray(div.locations)){
					div.locations = {};
				}

				if(div.locations.hasOwnProperty(provinceID)){
					inLocations = true;
				}

				// $.each(div.locations, function(id, amount){
				// 	if(id === provinceID){
				// 		inLocations = true;
				// 	}
				// });

				//If it's already in the list
				if(inLocations){
					if(totalDivisions > 0){
						//Update the number of divisions in province
						div.locations[provinceID] = totalDivisions;
						$('#division-province-map [data-province-id="'+provinceID+'"]').attr('data-has-troops', 'true');
					}else{
						//Delete province from the list
						delete div.locations[provinceID];
						$('#division-province-map [data-province-id="'+provinceID+'"]').removeAttr('data-has-troops');
					}
				}else{
					//If not in the list, only think to add it if the number has been updated from 0
					if(totalDivisions > 0){
						div.locations[provinceID] = totalDivisions;
						$('#division-province-map [data-province-id="'+provinceID+'"]').attr('data-has-troops', 'true');
					}
				}

				//TODO Update modal header to default
				ins.editingProvince = null;
				//this.generateMap();
			},
			closeSecondaryModal(){
				var ins = this.data;
				//Update
				this.$emit('closeSecondaryModal');
			}
		},
		mounted(){
			this.generateMap()
		}
	}
</script>