<template>
	<div class="modal wide">
		<div class="modal-header">
			<h5>Edit government</h5>
			<div class="close" @click="closeTertiaryModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="modal-content government-editor">
			<div class="grid">
				<div class="grid-col-span-tablet-7 grid-col-span-12">
					<input-help name="name" :value="this.person.data.name" label="Name"></input-help>
					<traits name="traits" :value="this.person.data.traits" label="Traits" type="country" @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal"></traits>
					<div style="margin-top: 1rem;" v-if="militaryType == 'high_command' || militaryType == 'theorist'">
						<select-help label="Ledger" :value="this.person.data.ledger" helptext="What branch does this commander belong to?" name="ledger" :values="this.ledger"></select-help>
					</div>
				</div>
				<div class="grid-col-span-tablet-5 grid-col-span-12">
					<gfx-select data-type="miiltary" :data="getGFX(this.person)" @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" @updateGFX="updateGFX(id)"></gfx-select>
					<p><button class="button button-primary" @click="updateData">Submit</button></p>
				</div>
			</div>
			
		</div>
	</div>
</template>
<script>
	//TODO - Update localisation
	export default {
		props: ['data', 'militaryId', 'militaryType', 'helpText', 'toolHelp'],
		data(){
			var isNew = false;
			if(this.militaryId === false){
				var isNew = true;
				var person = { icon: 1, data: {"name" : "", "traits": ""}};
			}else{
				var person = this.data.government[this.militaryType][this.militaryId];
			}
			var ret = [];
			$.each(this.helpText.ledger, function(key, value){
				ret.push({'value':key, 'label':value});
			});
			return {
				isNew : isNew,
				person : person,
				ledger : ret
			}
		},
		methods :{
			getGFX(item){
				return {gfx:item.icon, name:'icon'};
			},
			closeSecondaryModal(){
				var ins = this.data;
				//Update
				if(!$('#traits-modal').length){
					this.$emit('closeSecondaryModal');
				}
			},
			closeTertiaryModal(){
				var ins = this.data;
				//Update
				this.$emit('closeTertiaryModal');
			},
			updateData(){
				var person = {
					icon: $('.government-editor [name="icon"]').val(),
					is_active: false,
					is_default: false,
					data: {
						name: $('.government-editor [name="name"]').val(),
						traits: $('.government-editor [name="traits"]').val().split(','),
						ledger: ($('.government-editor [name="ledger"]').length) ? $('.government-editor [name="ledger"]').val() : null,
					}
				};
				if(Array.isArray(this.data.government[this.militaryType])){
					this.data.government[this.militaryType] = {};
				}
				if(this.militaryId === false){
					if(this.data.government[this.militaryType] == null){
						this.data.government[this.militaryType] = {};
					}
					this.data.government[this.militaryType][Date.now()] = person;
				}else{
					this.data.government[this.militaryType][this.militaryId] = person;
				}
				this.closeSecondaryModal();
				this.closeTertiaryModal();
			},
			openSecondaryModal(event, modal, data = null){
				if(data == null){
					this.$emit('openSecondaryModal', modal, {type:'ideas', elem: $(event.target).closest('.gfx-select').find('input').attr('name')});
				}else{
					this.$emit('openSecondaryModal', modal, data);
				}
			}
		},
		mounted(){
			
		}
	}
</script>