<template>
	<div class="modal wide">
		<div class="modal-header">
			<h5>{{ this.helpText.edit_military }}</h5>
			<div class="close" @click="closeTertiaryModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="modal-content military-editor">
			<div class="grid">
				<div class="grid-col-span-tablet-7 grid-col-span-12">
					<input-help name="name" :value="this.person.name" :label="this.helpText.name"></input-help>
					<traits name="traits" :value="this.person.traits" :label="this.helpText.traits" type="unit" @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal"></traits>
					<input-help name="overall" :value="this.person.overall" :label="this.helpText.overall" type="number" step="1"></input-help>
					<input-help name="attack" :value="this.person.attack" :label="this.helpText.attack" type="number" step="1"></input-help>
					<input-help name="defence" :value="this.person.defence" :label="this.helpText.defence" type="number" step="1"></input-help>
					<input-help name="logistics" :value="this.person.logistics" :label="this.helpText.logistics" type="number" step="1" v-if="militaryType == 'army'"></input-help>
					<input-help name="planning" :value="this.person.planning" :label="this.helpText.planning" type="number" step="1" v-if="militaryType == 'army'"></input-help>
					<input-help name="coordination" :value="this.person.coordination" :label="this.helpText.coordination" type="number" step="1" v-if="militaryType == 'navy'"></input-help>
					<input-help name="maneuvering" :value="this.person.maneuvering" :label="this.helpText.maneuvering" type="number" step="1" v-if="militaryType == 'navy'"></input-help>
					<checkbox-help name="is_field_marshal" :label="this.helpText.is_field_marshal" :value="this.person.is_field_marshal" v-if="militaryType == 'army'"></checkbox-help>
				</div>
				<div class="grid-col-span-tablet-5 grid-col-span-12">
					<gfx-select data-type="miiltary" :data="getGFX(this.person)" @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" @updateGFX="updateGFX(id)"></gfx-select>
					<p><button class="button button-primary" @click="updateData">{{ this.helpText.submit }}</button></p>
				</div>
			</div>
			
		</div>
	</div>
</template>
<script>
	export default {
		props: ['data', 'militaryId', 'militaryType', 'helpText', 'toolHelp'],
		data(){
			var types = {"army":"general", "navy":"admiral"};
			var isNew = false;
			if(this.militaryId === false){
				var isNew = true;
				var person = {"name" : "", "traits": "", "gfx": 1};
				person['overall'] = 1;
				person['attack'] = 1;
				person['defence'] = 1;
				if(this.militaryType == 'army'){
					person['logistics'] = 1;
					person['planning'] = 1;
					person['is_field_marshal'] = false;
				}else{
					person['coordination'] = 1;
					person['maneuvering'] = 1;
				}
			}else{
				var person = this.data[types[this.militaryType]+'_data'][this.militaryId];
			}
			return {
				isNew : isNew,
				person : person,
				types: types
			}
		},
		methods :{
			getGFX(item){
				return {gfx:item.gfx, name:'gfx'};
			},
			closeSecondaryModal(){
				var ins = this.data;
				//Update
				if(!$('#traits-modal').length){
					this.$emit('closeSecondaryModal');
				}
			},
			closeTertiaryModal(){
				var ins = this.data;
				//Update
				this.$emit('closeTertiaryModal');
			},
			updateData(){
				var person = {};
				var fields = ['name', 'gfx', 'overall', 'attack', 'defence'];
				if(this.militaryType == 'army'){
					fields.push('logistics');
					fields.push('planning');
				}else{
					fields.push('coordination');
					fields.push('maneuvering');
				}
				person['traits'] = $('.military-editor [name="traits"]').val().split(',');
				$.each(fields, function(index, name){
					person[name] = $('.military-editor [name="'+name+'"]').val();
				});

				if(this.militaryType == 'army'){
					person['is_field_marshal'] = $('.military-editor [name="is_field_marshal"]').prop('checked');
				}

				if(this.militaryId === false){
					if(this.data[this.types[this.militaryType]+'_data'] == null){
						this.data[this.types[this.militaryType]+'_data'] = [];
					}
					this.data[this.types[this.militaryType]+'_data'].push(person);
				}else{
					this.data[this.types[this.militaryType]+'_data'][this.militaryId] = person;
				}
				$('#traits-modal').remove();
				this.closeSecondaryModal();
				this.closeTertiaryModal();
			},
			openSecondaryModal(event, modal, data = null){
				//If traits
				if(data != null && data.indexOf('data-uid') > -1){
					this.$emit('openSecondaryModal', modal, data);
				}else{
					this.$emit('openSecondaryModal', modal, {type:'leader', elem: $(event.target).closest('.gfx-select').find('input').attr('name')});
				}
				
			}
		},
		mounted(){
		}
	}
</script>