<template>
	<div>
		<div class="grid" style="grid-template-rows: auto 1fr;">
			<div class="grid-col-span-tablet-6 grid-col-span-2">
				<div class="country-title-box" >
					<span class="box-title">{{ helptext.edit.basic }}</span>
					<div @focusout="updateData()">
						<input-help name="name" :label="helptext.create_modal.name" :helptext="helptext.create_modal.name_help" :value="data.name"></input-help>
						<textarea-help name="description" :label="helptext.edit.description" :helptext="helptext.edit.description_help" :value="data.data.description"></textarea-help>
					</div>
					<p></p>
					<h5>{{ helptext.edit.colour }}</h5>
					<div class="grid">
						<div class="grid-col-span-tablet-9 grid-col-span-2 colour-ranges">
							<p>{{ helptext.edit.red }}: <input type="range" @change="updatePreviewColour()" min="0" max="255" id="r" step="1" :value="data.data.colour.r" name="colour[r]"></p>
							<p>{{ helptext.edit.green }}: <input type="range" @change="updatePreviewColour()" min="0" max="255" id="g" step="1" :value="data.data.colour.g" name="colour[g]"></p>
							<p>{{ helptext.edit.blue }}: <input type="range" @change="updatePreviewColour()" min="0" max="255" id="b" step="1" :value="data.data.colour.b" name="colour[b]"></p>
						</div>
						<div class="grid-col-span-tablet-3 grid-col-span-2">
							<div class="colour-preview" id="countryColour" :style="'height: 5rem;background: rgb('+data.data.colour.r+','+data.data.colour.g+','+data.data.colour.b+');'"></div>
						</div>
						<div class="grid-col-span-tablet-12 grid-col-span-2">
							<h5>{{ helptext.edit.icon }}</h5>
						</div>
						<div class="grid-col-span-tablet-12 grid-col-span-2">
							<gfx-select :data="data" type="ideology" name="gfx" @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal"></gfx-select>
						</div>
					</div>
				</div>
				<p>&nbsp;</p>
				<div class="country-title-box">
					<span class="box-title">{{ helptext.edit.rules }}</span>
					<checkbox-help v-for="(label, name) in helptext.edit.rule_options" :data-key="name" data-rule="true" :key="name" :name="'rule['+name+']'" :value="data.rules[name]" :label="label"></checkbox-help>
					<checkbox-help v-for="(label, name) in helptext.edit.misc_checkbox" :data-key="name" data-misc="true" :key="name" :name="'data_misc['+name+']'" :value="data.data[name]" :label="label"></checkbox-help>
				</div>
			</div>
			<div class="grid-col-span-tablet-6 grid-col-span-2 grid-row-span-tablet-2">
				<div class="country-title-box" @focusout="updateData()">
					<span class="box-title">{{ helptext.edit.modifiers }}</span>
					<input-help v-for="(label, name) in helptext.edit.modifier_options" :value="data.modifiers[name]" :data-key="name" data-modifier="true" :key="name" type="number" step="0.1" min="-100" max="100" :name="'modifier['+name+']'" :label="label"></input-help>
					<input-help v-for="(label, name) in helptext.edit.misc_number" :value="data.data[name]" :data-key="name" data-misc="true" :key="name" type="number" step="0.1" min="-100" max="100" :name="'data_misc['+name+']'" :label="label"></input-help>
				</div>
			</div>
			<div class="grid-col-span-tablet-6 grid-col-span-2" style="align-self: flex-start;">
				<div class="country-title-box" @focusout="updateData()">
					<span class="box-title">{{ helptext.edit.factions }}</span>
					<p style="line-height: 1;"><small>{{ helptext.edit.faction_description }}</small></p>
					<div class="grid ideology-label-grid">
						<div class="grid-col-span-tablet-10">{{ helptext.edit.faction_name }}</div>
					</div>
					<div v-for="(item, index) in data.data.factions" :data-index="index" :key="item.index" class="grid ideology-grid-labelled">
						<div class="grid-col-span-tablet-10 grid-col-span-2" :data-label="helptext.edit.faction_name">
							<div class="input-with-help">
								<div class="input-wrapper">
									<input type="text" class="default-input" :name="'faction['+index+'][name]'" required="required" v-model="item.name">
								</div>
							</div>
						</div>
						<div class="grid-col-span-2 ideology-delete-icon">
							<svg class="feather-icon icon-trash-2" @click="removeFaction(index)"><use xlink:href="#trash-2"></use></svg>
						</div>
					</div>
					<p style="padding-top: 1rem;"><button class="button button-blue" @click="addFaction()">+ {{ helptext.edit.add_faction }}</button></p>
				</div>
			</div>
			<div class="grid-col-span-tablet-12 grid-col-span-2">
				<div class="country-title-box" @focusout="updateData()">
					<span class="box-title">{{ helptext.edit.types }}</span>
					<p style="line-height: 1;"><small>{{ helptext.edit.types_description }}</small></p>
					<div class="grid">
						<div class="grid-col-span-tablet-6 grid-col-span-2" v-for="(item, index) in data.types" :key="item.index" :data-index="index">
							<div class="grid ideology-label-grid">
								<div class="grid-col-span-tablet-6">{{ helptext.edit.type_name }}</div>
								<div class="grid-col-span-tablet-6">{{ helptext.edit.restricted }}</div>
							</div>
							<div class="grid ideology-grid-labelled">
								<div class="grid-col-span-tablet-6 grid-col-span-2" :data-label="helptext.edit.faction_name">
									<div class="input-with-help">
										<div class="input-wrapper">
											<input type="text" class="default-input" :name="'type['+index+'][name]'" required="required" v-model="item.name">
										</div>
									</div>
								</div>
								<div class="grid-col-span-tablet-4 grid-col-span-2 ideology-restricted-checkbox" :data-label="helptext.edit.restricted">
									<label class="fakebox" :for="'type['+index+'][restricted]'">
										<input :name="'type['+index+'][restricted]'" :id="'type['+index+'][restricted]'" value="1" :checked="(item.restricted == '1' || item.restricted == 'yes' || item.restricted == true) ? true : false" type="checkbox" v-model="item.restricted">
										<div class="checkbox">
											<svg class="feather-icon icon-check"><use xlink:href="#check"></use></svg>
										</div>
									</label>
								</div>
								<div class="grid-col-span-2 ideology-delete-icon">
									<svg class="feather-icon icon-trash-2" @click="removeType(index)"><use xlink:href="#trash-2"></use></svg>
								</div>
								<div class="grid-col-span-2 grid-col-span-tablet-12">
									<div class="input-with-help">
										<div class="input-wrapper">
											<textarea type="description" class="default-input" :name="'type['+index+'][description]'" required="required" v-model="item.description"></textarea>
											<label>{{ helptext.edit.description }}</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<p style="padding-top: 1rem"><button class="button button-blue" @click="addType()">+ {{ helptext.edit.add_type }}</button></p>
				</div>
			</div>
		</div>
		<component v-bind:is="mainComponent" v-bind="item" @closeComponents="closeComponents()" @openSecondaryModal="openSecondaryModal"></component>
		<component v-bind:is="secondaryComponent" @closeSecondaryModal="closeSecondaryModal" @updateGFX="updateGFX" @updateData="updateData" v-bind="item" ></component>
	</div>
</template>

<script>
	export default {
		props: [
			'helptext', 'toolhelp', 'ideology'
		],
		data(){
			return {
				data : this.ideology,
				item:{
					data : this.ideology,
					toolHelp : this.toolhelp,
					gfxList: 'gfx-list',
					tool: 'ideology'
				},
				comp: 'placeholder',
				secondary: 'placeholder'
			}
		},
		methods: {
			removeFaction(index){
				var ins = this;
				ins.data.data.factions.splice(index, 1);
			},
			addFaction(){
				var ins = this;
				if(ins.data.data.factions == null){
					ins.data.data.factions = [];
				}
				ins.data.data.factions.push({name: '', index: ins.data.data.factions.length});
				var n = 0;
				$.each(ins.data.data.factions, function(key, value){
					value.index = n;
					n++;
				});
			},
			removeType(index){
				var ins = this;
				ins.data.types.splice(index, 1);
			},
			addType(){
				var ins = this;
				if(ins.data.types == null){
					ins.data.types = [];
				}
				ins.data.types.push({name: '', restricted: 0, index: ins.data.data.factions.length, description: ''});
				var n = 0;
				$.each(ins.data.types, function(key, value){
					value.index = n;
					n++;
				});
			},
			updateData(){
				var ins = this;
				var i = ins.data;
				i.name = $('[name="name"]').val();
				var data = {};
				data.description = $('[name="description"]').val();
				data.factions = i.data.factions;
				data.colour = {};
				data.colour.r = $('[name="colour[r]"]').val();
				data.colour.g = $('[name="colour[g]"]').val();
				data.colour.b = $('[name="colour[b]"]').val();
				data.gfx = $('[name="gfx"]').val();

				var rules = {};
				$('[data-rule="true"]').each(function(){
					rules[$(this).attr('data-key')] = $(this).find('input').prop('checked');
				});
				var modifiers = {};
				$('[data-modifier="true"]').each(function(){
					modifiers[$(this).attr('data-key')] = $(this).find('input').val();
				});

				$('[data-misc="true"]').each(function(){
					if($(this).find('input').attr('type') == 'checkbox'){
						data[$(this).attr('data-key')] = $(this).find('input').prop('checked');
					}else{
						data[$(this).attr('data-key')] = $(this).find('input').val();
					}
				});


				i.rules = rules;
				i.modifiers = modifiers;
				i.data = data;
				
				const config = {
					headers: {
						'content-type': 'multipart/form-data',
						'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
					}
				}
				let comp = this;
				let eventData = null;
				let formData = new FormData();
				formData.append('id', this.data.id);
				formData.append('data', JSON.stringify(i));
				axios.post('/ideology/update', formData, config)
					.then(function (response) {
					});
			},
			updatePreviewColour(){
				$('body').find('.colour-preview').attr('style', 'height: 5rem;background: rgb('+$('body').find('.colour-ranges #r').val()+','+$('body').find('.colour-ranges #g').val()+','+$('body').find('.colour-ranges #b').val()+');');
				this.updateData();
			},
			closeComponents(){
				this.comp = 'placeholder';
				this.secondary = 'placeholder';
				this.item.secondaryData = null;
			},
			openSecondaryModal(event, modal, data = null){
				if(modal != 'gfx-modal'){
					this.item.secondaryData = data;
				}else{
					this.item.gfxObject = {type:'ideology', elem: $(event.target).closest('.gfx-select').find('input').attr('name')};
				}
				this.secondary = modal;
			},
			closeSecondaryModal(){
				this.secondary = 'placeholder';
				this.item.secondaryData = null;
			},
			updateGFX(){

			}
		},
		mounted(){
			var ins = this;
			var timeoutTimer = null;
			$('input[type="checkbox"]').on('change', function(){
				clearTimeout(timeoutTimer);
				timeoutTimer = setTimeout(updateCheckboxData, 1500);
			});

			function updateCheckboxData(){
				ins.updateData();
			}
		},
		computed:{
			mainComponent: function(){
				return this.comp.toLowerCase();
			},
			secondaryComponent: function(){
				return this.secondary.toLowerCase();
			}
		}
	}
</script>