.character-info{
	padding-top: space(0.75);
	padding-bottom: space(0.75);
	display: none;
	padding-left: space(0.5);
	border-left: 5px solid colour(blue);
}

.character-type-checkbox{
	&:checked + .fakebox + .character-info{
		display: block;
	}
}

.character-preview{
	display: grid;
	grid-template-columns: 1fr 3fr;
	background: colour(white);
	grid-gap: space();
	border-radius: space();

	.image{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.content{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0 space();
		padding: space();

		h4{
			grid-column-end: span 2;
		}

		.character-type{
			display: flex;
			align-items: center;

			svg{
				margin-left: space(0.75);
			}
		}

		.buttons{
			grid-column-end: span 2;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.button + .button{
				margin-top: 0;
			}
		}
	}
}

.character-list{
	padding-bottom: space(5);

	.character-buttons{
		position: fixed;
		bottom: 4rem;
		right: space(1);
	}
}

@include minWidth(tablet){
	.character-list{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: space();
	}
}