.country-title-box{
	border: 1px solid colour(blue);
	border-radius: space();
	position: relative;
	padding: space(2);

	.box-title{
		position: absolute;
		top: 0;
		left: space(2);
		background: colour(pageBackground);
		padding: 0.1rem 0.2rem;
		transform: translateY(-50%) translateY(-0.1rem);
		text-transform: capitalize;
	}

	.input-wrapper label{
		background: colour(pageBackground);
	}
}

.country-ideologies{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: space(4);
	padding-top: space(2);
}

#state-map{
	[id*="state-"]{
		transition: 0.2s ease;
		cursor: pointer;

		/*
		*{
			fill: colour(dark-blue) !important;
			stroke: colour(dark-blue) !important;
		}

		&:nth-child(odd){
			*{
				fill: colour(dark-blue) !important;
				stroke: colour(dark-blue) !important;
			}
		}
		*/

		&[data-core]{
			*{
				fill: var(--countryColour) !important;
				stroke: var(--countryColour) !important;
				opacity: 0.3;
			}
		}
		&[data-control]{
			*{
				fill: var(--countryColour) !important;
				stroke: var(--countryColour) !important;
			}
		}
		&[data-core][data-control]{
			*{
				stroke: colour(green) !important;
				stroke-width: 0.1em;
			}
		}

		&:hover{
			opacity: 0.75;
		}
	}

	svg > *:not([id*="state-"]){
		fill: colour(blue) !important;
		stroke: colour(blue) !important;
		opacity: 0.5;
	}
	
}

.state-map-details{
	position: absolute;
	bottom: space();
	left: space();
	padding: space(1.5);
	z-index: 2;
	background: colour(white);
	border: 0.1em solid colour(blue);
	border-radius: space();

	.close{
		position: absolute;
		top: space(0.5);
		right: space(0.5);
		cursor: pointer;

		svg{
			height: 1em !important;
		}
	}
}

.state-map-wrapper{
	position: relative;
}

.country-flag-preview{
	max-height: 7rem;
}

.country-data-save{
	position: fixed;
	right: space();
	bottom: space(3);
	display: none;

	.saving{
		display: none;
		svg{
			margin-right: 0;
			animation: spin infinite 2s ease;
		}
	}

	&.saving{
		pointer-events: none;
		.text{
			display: none;
		}
		.saving{
			display: inline-block;
		}
	}
}

.division-designer{
	background: #22211d;
	padding: space(1.5) space(2);
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-gap: space(2.5);

	.division-data{
		grid-column-end: span 2;
	}

	.main-units{
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: space();
	}

	.unit{
		border: 1px solid #818088;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		select{
			width: 100%;
			background: rgba(0,0,0,0);
			color: #CDCDCD;

			option { 
				background: #22211d;
			}
		}
		input{
			background: #22211d;
			color: #CDCDCD;
			border: none;
			width: 100%;
		}

		+ .unit{
			margin-top: space(1.5);
		}
	}

	#divisionName,#divisionStartDate{
		padding: space(0.5) space();
		border: 1px solid #818088;
		background: rgba(255, 255, 255, 0.75);
		border-radius: space(0.25);
	}
}

#division-province-map{
	svg{
		[id*="state-"]{
			*{
				transition: 0.2s ease;
				cursor: pointer;

				&:hover{
					opacity: 0.75;
				}
			}

			*[data-has-troops]{
				fill: colour(dark-grey) !important;
				stroke-color: colour(dark-grey) !important;
			}
		}
	}

	svg > *:not([id*="state-"]){
		fill: colour(pageBackground) !important;
		stroke: colour(pageBackground) !important;
	}
}

.division-province-edit{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100% - ((2 * #{space()}) + 1.2rem));
	display: flex;
	align-items: center;
	justify-content: center;
	background: colour(white);

	.grid{
		position: relative;
		.close{
			position: absolute;
			bottom: 100%;
			right: 0;
			font-size: 1.1rem;
			cursor: pointer;
		}
	}
}

.division-name{
	display: flex;
	align-items: center;
	justify-content: space-between;

	.edit-icon{
		color: colour(blue);
		cursor: pointer;
		margin-right: 0.25rem;
	}
	.delete-icon{
		color: colour(red);
		cursor: pointer;
	}
}

.division-information-date{
	margin-top: space(2);
}

.division-information.bring-up{
	.division-information-date:first-child{
		margin-top: 0;
	}
}

.divisionProvinceSelector{
	cursor: pointer;
	display: grid;
	grid-template-columns: 1fr 1rem;
	grid-gap: 1rem;
	span{
		color: colour(blue);
	}
}

.government-options{
	display: grid;
	grid-gap: space();
	grid-template-columns: repeat(6, 1fr);

	@include maxWidth(tablet){
		grid-template-columns: repeat(2, 1fr);
	}

	.image-wrapper{
		padding: space(0.1);
		position: relative;
		border-radius: space(0.5);
		display: inline-block;
		font-size: 0;

		&:after{
			content: '';
			background: colour(blue);
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: space(0.5);
		}
	}

	.option{
		position: relative;
		input[type="radio"]{
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			cursor: pointer;

			&:checked{
				~ .image-wrapper{
					border: 2px solid colour(blue);
					&:after{
						opacity: 0.3;
					}
				}
			}
		}

		img{
			max-height: 5rem;
		}

		.edit,.delete{
			opacity: 0;
			transition: 0.1s ease;
			pointer-events: none;
			position: absolute;
			font-size: 1.1rem;
			top: -10%;
			cursor: pointer;
			padding: 0.2rem;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background: colour(pageBackground);
			z-index: 2;
		}
		.edit{
			right: 60%;
			color: colour(blue);
		}
		.delete{
			left: 60%;
			color: colour(red);
		}

		&:hover{
			.edit,.delete{
				opacity: 1;
				pointer-events: initial;
			}
		}
	}
}

.military-generals{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: space();

	.option{
		border: 1px solid colour(blue);
		border-radius: space();
		position: relative;
		cursor: pointer;
	}

	h4{
		font-size: fontSize(body);
	}

	ul{
		font-size: fontSize(small);
		padding-left: 1em;
	}

	.staff-image{
		height: 12rem;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-top-left-radius: space();
		border-top-right-radius: space();
		transition: 0.3s ease;
	}

	.staff-info{
		padding: space();
		padding-bottom: space(2);
		transition: 0.2s ease;

		.staff-type{
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateY(50%) translateX(-50%);
			border: 1px solid colour(blue);
			background: colour(pageBackground);
			padding: space(0.25) space(0.5);
			border-radius: 2rem;
			font-size: 0.75rem;
			text-transform: uppercase;
			white-space: nowrap;
		}
	}

	&.shrink{
		.staff-image{
			height: 0;
		}

		.staff-type, ul{
			display: none;
		}

		.staff-info{
			padding-bottom: space();
		}
	}
}

.map-wrapper{
	overflow: scroll;
	height: 70vh;
	.map{
		min-height: calc(100% + 1px);
		transition: 0.2s ease;
		position: relative;

		svg{
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
		}
	}
}

.staff-delete{
	display: none;
	cursor: pointer;
	position: absolute;
	top: space();
	right: space();
	color: colour(red);
	font-size: 1.5rem;
	transition: 0.2s ease;

	&:hover{
		color: colour(blue);
	}
}

.option{
	&:hover{
		.staff-delete{
			display: block;
		}
	}
}

.general-shrink{
	display: inline-block;
	vertical-align: middle;

	&-title{
		cursor: pointer;
	}
}

.show-capital-map{
	cursor: pointer;
}

.capital-map{
	position: fixed;
	bottom: space();
	right: space();
	width: 70vw;
	display: none;
	z-index: 99;

	#capital-map{
		svg{
			[id*="state-"]{
				*{
					cursor: pointer;
					fill: colour(white) !important;
					stroke: colour(white) !important;
				}

				&:hover *{
					fill: colour(dark-blue) !important;
					stroke: colour(dark-blue) !important;
				}

				&[data-isCapital] *{
					fill: colour(green) !important;
					stroke: colour(green) !important;
				}
			}
		}

		svg > *:not([id*="state-"]){
			fill: colour(blue) !important;
			stroke: colour(blue) !important;
		}
	}
	
}

.country-popup-edit{
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	margin-bottom: 0.5rem;

	&.title{
		border-bottom: 1px solid colour(blue);
		padding-bottom: 0.25rem;
	}

	.name{
		text-transform: capitalize;
	}

	.add,.remove{
		text-align: center;

		.fakebox{
			grid-template-columns: 1rem;
			width: 1rem;
			margin: 0 auto;
		}
	}
	.add .fakebox .checkbox{
		background: colour(green);
	}
	.remove .fakebox .checkbox{
		background: colour(red);
	}
}

.research-items{
	padding: space(1.5) 0;
	max-height: 55vh;
	overflow: auto;
	margin-bottom: space();
	border-radius: space();
}

.research-item{
	display: grid;
	grid-template-columns: 1fr 2rem;
	grid-gap: 1rem;
	align-items: center;
	.remove{
		color: colour(red);
		font-size: 2rem;
		cursor: pointer;

		svg{
			transform: translateY(0.1em);
		}
	}
	+ .research-item{
		margin-top: space();
	}
}

@include minWidth(laptop){
	.division-designer{
		.division-data{
			display: flex;
			input{
				width: 75%;
			}
			select{
				width: 25%;
			}
			> *{
				+ *{
					margin-left: space();
				}
			}
		}
	}
	.military-generals{
		grid-template-columns: 1fr 1fr;
	}
}

@include maxWidth(laptop){
	.country-ideologies,.military-generals{
		grid-template-columns: 1fr;
	}
}

.country-edit-tabs{
	position: sticky;
	top: 0;
	background: colour(pageBackground);
	z-index: 1;
}

.country-dates{
	display: flex;
	border: 2px solid colour(blue);
}
.country-date-button{
	padding: space(0.75);
	background: rgba(255, 255, 255, 0.5);
	width: 100%;

	+ .country-date-button{
		border-left: 2px solid colour(blue);
	}

	&:hover{
		background: rgba(255, 255, 255, 0.8);
		color: colour(blue);
	}

	&.active{
		background: colour(blue);
		color: colour(white);
	}
}

.country-sections{
	margin-top: space();
}

.country-section{
	height: 0;
	overflow: hidden;

	&.active{
		height: auto;
		padding-top: space();
	}
}

.country-save{
	position: fixed;
	bottom: space(3.5);
	right: space(1.5);
}

.setCharacterButton{
	background: colour(blue);
	color: colour(white);
	display: flex;
	align-items: center;
	padding: space(0.5);

	img{
		max-height: space(2);
		max-width: space(2);
		margin-right: space();
	}
}

.military-preview{
	background: colour(white);
	display: grid;
	grid-template-columns: 1fr 4fr;
	align-items: center;
	border-radius: space(0.5);
	grid-gap: space();
	font-size: 1.1rem;
	position: relative;
	padding: space(0.75) space();
	margin-top: space(0.5);
	margin-bottom: space(0.5);

	img{
		max-height: 7rem;
	}

	.delete{
		display: none;
		cursor: pointer;
		color: colour(red);
		position: absolute;
		top: space(0.2);
		right: space(0.2);
	}

	&:hover{
		.delete{
			display: block;	
		}
	}
}

#division-modal .map-wrapper{
	margin: space(-2) space(-3);
}