.decision-header{
	display: grid;
	grid-template-columns: 4rem 1fr 4rem;
	grid-gap: 2rem;
	align-items: center;
	background: #3d2e21;
	padding: 1rem;
	border-radius: 0.25rem;
	cursor: pointer;

	.decision-image{
		height: 4rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.decision-title{
		background: #1c1b17;
		color: #ffffff;
		height: calc(100% - 1rem);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.25rem 0.5rem;
		border-radius: 0.1rem;
		box-shadow: 0 0 0.2rem 0 rgba(0,0,0,0.5);
	}
}

.decision-list{
	background: #1a1a1a;
}

.decision-description{
	display: flex;
	align-items: center;
	padding: 0.5rem;
	&-text{
		width: 100%;
		color: #ffffff;
	}
	&-image{
		width: 8rem;
		margin-right: 2rem;

		+ .decision-description-text{
			width: calc(100% - 10rem);
		}
	}
}


.decision-item{
	display: grid;
	grid-template-columns: 1.5rem 1fr;
	align-items: center;
	position: relative;
	background: linear-gradient(to bottom, #3d2e21 5%, #1b1b1b);
	padding: space(0.5) space();
	margin-top: space(0.1);
	border-radius: space(0.25);

	.decision-title{
		padding-left: space(2);
		color: #FFFFFF;
	}

	.decision-delete{
		position: absolute;
		top: 50%;
		right: space();
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
		opacity: 0;
		border-radius: 50%;
		color: colour(red);
		background: colour(white);
		padding: space(0.5);
		cursor: pointer;

		svg{
			pointer-events: none;
		}
	}

	&:hover{
		.decision-delete{
			opacity: 1;
			pointer-events: initial;
		}
	}
}