.event-list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: space(2);
}

.event{
	position: relative;
	z-index: 2;
	padding: space(2);

	.event-game-id{
		position: absolute;
		opacity: 0;
		top: calc(100% - 2em);
		left: space();
	}

	&-title,&-image{
		cursor: pointer;
	}

	.event-delete{
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: space();
		right: space();
		color: colour(red);
		background: colour(white);
		width: 3rem;
		height: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.2s ease;
		cursor: pointer;
		z-index: 3;
		border-radius: 50%;
	}

	&:hover{
		.event-delete{
			opacity: 1;
			pointer-events: initial;
		}
		.event-game-id{
			opacity: 1;
		}

		.event-option-wrapper{
			.event-delete{
				opacity: 0;
				pointer-events: none;
			}
			&:hover{
				.event-delete{
					opacity: 1;
					pointer-events: initial;
				}
			}
		}
	}

	.news-title{
		text-align: justify;
		position: relative;
		padding-left: 2rem;
		padding-right: 2rem;

		&:after{
			content: '';
			display: inline-block;
			width: 100%;
		}

		&:before{
			content: '';
			position: absolute;
			left: 5%;
			width: 90%;
			height: 1px;
			top: calc(100% - 1rem);
			background: colour(text);
		}
	}

	.underlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(ellipse at top, #BCACA2, transparent),radial-gradient(ellipse at bottom, #C1B8B3, transparent);
		z-index: -1;
		border-radius: 0.1rem;
        &:before{
        	content: '';
        	position: absolute;
        	top: 0;
        	left: 0;
        	width: 100%;
        	height: 100%;
        	background: #C1B8B3;
        	border-radius: 0.1rem;
        }

        .stain{
        	position: absolute;
        	top: 0;
        	left: 0;
        	width: 100%;
        	height: 100%;
        	overflow: hidden;
        	z-index: 1;

        	svg{
        		height: 100%;
        		width: auto;
        		transform: rotate(217deg) translateX(#{space(-3)}) translateY(#{space(2)});
        		opacity: 0.02;
        		*{
        			fill: #BCACA2;
        			stroke: #BCACA2;
        		}
        	}
        }
	}
	.event-options{
		margin-top: 1rem;
	}
	.event-option-wrapper{
		position: relative;
	}
	.event-option{
		margin-left: 10%;
		width: 80%;
		padding: 1rem;
		text-align: center;
		color: #FFFFFF;
		position: relative;
		background: none;
		border: none;
		margin-top: 1rem;
		cursor: pointer;



		&:after{
			content: '';
			background: linear-gradient(to bottom, #44443C 0%, #44443C 33.2%, #635D3F 33.3%, #635D3F 66.5%, #44443C 66.6%, #44443C 100%);
			border-radius: 0.5rem;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			opacity: 0.9;
			transition: 0.8s ease;
		}

		&:hover{
			&:after{
				background: linear-gradient(to bottom, #44443C 0%, #635D3F 50%, #44443C 100%);
			}
		}
	}

	&[data-type="news"]{
		.event-image{
			margin: space() auto;
			display: block;
		}
		.event-title{
			text-align: center;
			font-size: 1.5rem;
			font-family: $heading;
		}
		.event-description{
			margin-top: space();
		}
		.underlay:after{
        	content: '';
        	position: absolute;
        	top: 0;
        	left: 0;
        	width: 100%;
        	height: 100%;
        	background: darken(#C1B8B3, 5%);
        	z-index: -1;
        	transform: translateY(0.2rem) translateX(0.3rem) rotate(2deg);
        	border-radius: 0.1rem;
        }
	}

	&[data-is-open="true"]{
		z-index: 5;
	}

	&[data-type="country"]{
		align-self: flex-start;
		.event-title{
			text-align: center;
			font-size: 1.5rem;
			font-family: $heading;
		}
		.event-description{
			margin-bottom: space();
		}
		.event-image{
			transform: rotate(-3deg);
		}

		@media screen and (min-width: 992px){
			display: grid;
			grid-template-columns: 1fr 3fr;
			grid-gap: space(1);

			.event-image{
				order: 3;
			}
			.event-options{
				order: 4;
				align-self: flex-start;
			}

			[gfxlist="gfx-list"], .modal{
				order: 6;
			}

			.event-title{
				grid-column-end: span 2;
			}

			.event-description{
				grid-column: 1 / span 2;
			}
		}
	}
}

@include maxWidth(laptop){
	.event-list{
		grid-template-columns: repeat(2, 1fr);
	}
}

@include maxWidth(tablet){
	.event-list{
		grid-template-columns: 1fr;
	}
}