.bug-modal-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.bug-modal-inner{
	max-width: 900px;
	margin: 10px;
}

.forum-category{
	border: 5px solid colour(blue);
	margin-top: 1.5rem;
}

.forum-title{
	background: colour(blue);
	color: colour(white);
	display: flex;
	align-items: center;
	padding: 0 space();

	h3{
		font-size: 1.2rem;
		margin-right: 1rem;
		padding-top: 10px;
		padding-bottom: 10px;
		+ p{
			margin-top: 0;
		}
	}
}

.grid.forum-item{
	text-align: center;
	
	> *{
		padding: space(2) 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;

		div{
			width: 100%;
		}

		+ *{
			border-left: 1px solid colour(blue);
		}
	}

	+ .grid.forum-item{
		margin-top: 0;
		border-top: 1px solid rgba(colour(blue), 0.1);
	}
}


@include maxWidth(laptop){
	.forum-title{
		display: block;
		p{
			font-size: 0.75rem;
			padding-bottom: 10px;
		}
	}
	.grid.forum-item{
		display: block;

		> *{
			+ *{
				border-left: none;
			}
		}
	}
}

.create-forum-post{
	position: fixed;
	top: 8vh;
	left: 10%;
	z-index: 99;
	opacity: 0;
	transform: translateX(-60vw) translateY(50vw) scale(0);
	transform-origin: left;
	width: 80vw;
	&.open{
		animation: nicelyIn 1s forwards;
	}
}
.create-forum-post-inner{
	background: colour(white);
	padding: space(2) space(3);
	border-bottom-left-radius: space();
	border-bottom-right-radius: space();
	box-shadow: $box-shadow;
	height: 60vh;
	overflow: auto;
}

.custom-image-upload{
	display: flex;
	height: 100%;
	width: 100%;
	color: colour(blue);
	border: 1px solid colour(blue);
	border-radius: space();
	align-items: center;
	justify-content: center;
	position: relative;
	transition: 0.2s ease;

	.icon{
		height: 1.3rem;
		margin-right: 0.5rem;
	}
	input{
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		cursor: pointer;
	}

	&:hover,&:focus-within{
		border-radius: 0;
	}
}

.forum-post{
	border: 1px solid colour(blue);

	header{
		background: colour(blue);
		color: colour(white);
		padding: space(0.5);
		display: grid;
		grid-template-columns: 10fr 2fr;
		align-items: center;
	}
}

.add-reply{
	margin-top: 2rem;
}

.forum-comment{
	display: grid;
	grid-template-columns: 1fr 4fr;
	background: colour(white);

	.profile{
		padding: space(2) space();
		text-align: center;

		img{
			max-width: 10rem;
			margin-bottom: 1rem;
		}
	}

	.comment{
		padding: space(2) space();
	}

	.forum-post-footer{
		display: grid;
		grid-template-columns: 1fr 1fr;
		font-size: 0.75rem;
		padding: 0 space();
		padding-bottom: space();
	}
	
	&:nth-child(odd){
		background: colour(offwhite);
	}
}

.trumbowyg-box{
	background: colour(white);
}

.forum-control{
	padding: 0.25rem 0.5rem;
	cursor: pointer;
	color: colour(blue);
	border: 1px solid colour(blue);
	transition: 0.2s ease;

	&:hover,&:focus{
		background: colour(blue);
		color: colour(white);
		border-radius: 0.5rem;
	}
}

.forum-bug-image{
	margin-right: 2rem;
}
.forum-post .comment, .forum-bug-image{
	img{
		max-height: 10rem;
		width: auto;
	}
}

.trumbowyg-modal-box .trumbowyg-modal-button{
	padding: 0;
}

.trumbowyg-editor{
	img{
		max-height: 10rem;
		width: auto;
	}
}

.forum-post-preview{
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	margin-top: 2rem;
	border: 1px solid colour(blue);

	blockquote{
		background: none;
	}

	.poster-title{
		display: block;
		margin-bottom: 0.5rem;
	}

	@include minWidth(tablet){
		.poster-title{
			display: none;
		}

		&:first-child{
			margin-top: 3rem;
			.poster-title{
				display: block;
				transform: translateY(-3.5rem);
				margin: 0 -1rem;
				margin-bottom: -1rem;
			}
		}
	}

	.poster{
		padding: 2rem;
		&.created-by{
			border-right: 1px solid colour(blue);
		}
		&.updated-by{
			border-left: 1px solid colour(blue);
		}
		.user-avatar{
			width: 3rem;
			height: 3rem;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 1rem;
		}
	}

	.post-details{
		padding: 2rem;
	}
}

.forum-header-link{
	padding-bottom: 0.5rem;
	a{
		display: flex;
		align-items: center;
	}
}

@include maxWidth(laptop){
	.forum-post{
		header{
			display: block;
		}
	}
	.forum-comment{
		display: block;
	}
}

@include maxWidth(tablet){
	.forum-post-preview{
		grid-template-columns: 1fr 1fr;

		.post-details{
			border-bottom: 1px solid colour(blue);
		}

		.poster.updated-by{
			border-left: 0;
		}
	}
}