.ideology-delete-icon{
	color: colour(red);
	cursor: pointer;
	font-size: 1.2em;
}
.ideology-restricted-checkbox,.ideology-delete-icon{
	align-self: center;
}
.ideology-label-grid{
	font-family: $heading;
	font-size: 1.25rem;
}
@include maxWidth(laptop){
	.ideology-label-grid{
		display: none;
	}
	.ideology-grid-labelled{
		display: grid;
		grid-template-columns: 4fr 1fr;
		> *{
			grid-column-end: span 2;
		}
		> *:nth-last-child(2){
			grid-column: 1 / span 1;
		}
		> *:nth-last-child(1){
			grid-column: 2 / span 1;
		}
		[data-label]{
			&:before{
				content: attr(data-label);
				font-family: $heading;
				font-size: 1.25rem;
			}
		}
		.ideology-delete-icon{
			align-self: flex-end;
		}
	}
}