.idea-list{
	display: flex;
	flex-wrap: wrap;
	> h4{
		width: 100%;
	}

	[data-group="economy"]{
		order: 1;
	}
	[data-group="mobilization_laws"]{
		order: 2;
	}
	[data-group="political_advisor"]{
		order: 3;
	}
	[data-group="theorist"]{
		order: 4;
	}
	[data-group="army_chief"]{
		order: 5;
	}
	[data-group="air_chief"]{
		order: 6;
	}
	[data-group="navy_chief"]{
		order: 7;
	}
	[data-group="high_command"]{
		order: 8;
	}
	[data-group="country"]{
		order: 9;
	}

	.idea{
		background: colour(white);
		padding: space();
		border-radius: space();
		display: grid;
		grid-template-columns: 1fr 3fr;
		align-items: center;
		position: relative;
		cursor: pointer;
		max-width: 27%;
		margin-right: space();

		+ .idea{
			margin-top: 1rem;
		}

		.idea-title{
			margin-left: 1rem;

			.name{
				font-size: 1.2rem;
				font-weight: 500;

				+ p{
					margin-top: 0.5rem;
				}
			}
		}

		.idea-delete{
			position: absolute;
			opacity: 0;
			pointer-events: none;
			top: space();
			right: space();
			width: 2rem;
			height: 2rem;
			background: colour(red);
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			color: colour(white);
			transition: 0.2s ease;
		}

		&:hover{
			.idea-delete{
				opacity: 1;
				pointer-events: initial;
			}
		}
	}
}

.idea-list .grid .idea{
	max-width: 100%;
}


.selected-traits{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: space();

	&.full{
		grid-template-columns: 1fr;
	}
}

.trait-item{
	padding: space(0.5) space();
	position: relative;
	background: colour(blue);
	color: colour(white);
	border-radius: 0.25rem;

	&:after{
		content: attr(data-id);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: space(0.5) space();
		background: colour(blue);
		color: colour(white);
		border-radius: 0.25rem;
		opacity: 0;
	}

	&:hover{
		&:after{
			opacity: 1;
		}
	}
	
    @supports(-webkit-line-clamp: 1){
		-webkit-line-clamp: 1;
		border-radius: 0.25rem;
		-webkit-box-orient: vertical;
		overflow: hidden;
		display: -webkit-box;
		line-height: 2.5;
    }
	.remove,.add{
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: space(1.2);
		background: colour(blue);
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		line-height: 1;
		cursor: pointer;
		z-index: 2;

		&:hover{
			color: colour(red);
		}
	}
}

@include maxWidth(laptop){
	.idea-list{
		.idea{
			max-width: 42%;
		}
	}

	.selected-traits{
		grid-template-columns: 1fr;
	}
}

@include maxWidth(phone){
	.idea-list{
		.idea{
			max-width: 100%;
			margin-right: 0;
		}
	}
}