.mod-preview{
	display: flex;
	position: relative;

	.mod-link{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		&:hover{
			~{
				.mod-image{
					opacity: 0.9;
				}
				.mod-details{
					h3{
						color: colour(blue);
					}
				}
			}
		}
	}

	.mod-image{
		width: 25%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		transition: 0.2s ease;
	}

	.mod-details{
		width: 75%;
		padding: space(2);
		background: colour(offwhite);
		border-bottom-right-radius: space();
		border-top-right-radius: space();

		*{
			transition: 0.2s ease;
		}
	}
}

.mod-focus-list-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: space() space(3);
	font-size: 1.5rem;

	.controls{
		margin-bottom: -0.5rem;
		span{
			display: inline-block;
			margin-left: 0.5rem;
			cursor: pointer;
			font-size: 2rem;
		}
	}

	.edit{
		color: colour(blue);
	}

	.delete{
		color: colour(red);
	}

	&:nth-child(even){
		background: colour(offwhite);
	}
}

.mod-icon-marker{
	display: flex;
	align-items: center;
	margin-bottom: 1rem;

	.icon{
		margin-left: 0.5rem;
		line-height: 1;

		.icon-x{
			color: colour(red);
		}
		.icon-check{
			color: colour(green);
		}
	}
}