.national-focus{
	background: #22211d;
	height: 100%;
	overflow: auto;
	position: relative;
}

.focus-delete{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: colour(red);
	font-size: 2rem;
	opacity: 0;
	pointer-events: none;
	background: colour(white);
	border-radius: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	transition: 0.2s ease;

	&:hover{
		background: rgba(0,0,0,0);
		color: colour(white);
	}
}

.delete-mode{
	.focus-delete{
		opacity: 1;
		pointer-events: initial;
	}
}

$focusWidth: 220px;
$focusHeight: 190px;
.focus-item{
	text-align: center;
	width: $focusWidth;
	cursor: pointer;
	position: absolute;
	z-index: 2;

	&.small{
		width: 175px;
	}

	&.active{
		z-index: 5;
	}

	&.ui-selected, &.ui-selecting{
		.focus-title{
			background: colour(blue);
		}
	}
}

.focus-title{
	border-radius: 30px;
	border: solid 3px #818088;
	background-image: linear-gradient(to bottom, #6d7971, #1b1b1b);
	color: colour(white);
	padding: space(0.75);
}

.focus-image{
	width: 100px;
	margin-bottom: -1.5rem;
}

.small{
	.focus-image{
		width: 75px;
	}
	.focus-title{
		padding: 0.25rem;
		font-size: 0.75rem;
	}
}

.focus-json{
	display: none;
}

.deleting-focus{
	.focus-delete{
		opacity: 1;
		pointer-events: initial;
	}

	.focus-image,.focus-title{
		filter: blur(2px);
	}
}

.focus-connector{
	position: absolute;
	background: #99a4b6;

	&.left,&.right{
		&:before{
			content: '';
			position: absolute;
			top: 0;
			transform: translateY(-8px);
		}
	}

	&.left{
		&:before{
			left: -2px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8.5px 15px 8.5px 0;
			border-color: transparent #164713 transparent transparent;
		}
	}

	&.right{
		&:before{
			right: -2px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8.5px 0 8.5px 15px;
			border-color: transparent transparent transparent #164713;
		}
	}

	&.centre{
		background: #22211d;
		color: colour(red);
		font-size: 20px;
		z-index: 2;
		text-align: center;

		&:before,&:after{
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-4px);
		}

		&:before{
			left: -15px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8.5px 15px 8.5px 0;
			border-color: transparent #164713 transparent transparent;
		}

		&:after{
			right: -15px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8.5px 0 8.5px 15px;
			border-color: transparent transparent transparent #164713;
		}
	}

	&[data-direction="vertical"]{
		width: 2px;
	}
	&[data-direction="horizontal"]{
		height: 2px;
	}

	&.mutual[data-direction="vertical"]{
		width: 12px;
	}
}

.focus-relation-list{
	border: 1px solid colour(blue);
	padding: 1rem;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.focus-item{
		position: relative;

		&:before{
			content: '+';
			width: 1.5rem;
			height: 1.5rem;
			font-size: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 3;
			color: colour(red);
			background: colour(white);
			transform: translate(-50%, -50%) rotate(30deg);
			opacity: 0;
			transition: 0.2s ease;
			border-radius: 50%;
		}

		&:hover{
			&:before{
				opacity: 1;
				transform: translate(-50%, -50%) rotate(45deg);
			}
		}

	}

	+ .focus-relation-list{
		margin-top: 1rem;
	}

	&:after{
		content: '+';
		width: 1.25rem;
		height: 1.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0.9rem;
		color: colour(white);
		background: colour(blue);
		border-radius: 50%;
		position: absolute;
		bottom: 0.25rem;
		left: 50%;
		transform: translateX(-50%);
		cursor: pointer;
	}
}

.singleOnly{
	.focus-relation-list{
		+ .addNewFocusRelationGroup{
			display: none;
		}
	}
}

.focus-search-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-height: 50%;
	overflow: auto;

	.focus-item{
		position: relative;
		margin-top: 1rem;
		border: 1px solid rgba(0,0,0,0);
		transition: 0.2s ease;
	}

	.selected{
		border-color: colour(blue);
		border-radius: space();
	}
}

#focusRelationModal .modal-content{
	min-height: 60vh;
}

#all-focuses{
	transform-origin: top left;
	transition: 0.2s ease;
	min-width: 800vw; 
	min-height: 600vw;

	&[style*="transform"]{
		.focus-json + .modal[tool="focus"]{
			left: space();
		}

		.modal + .modal{
			left: calc(35vw + #{space(2)});

			@media screen and (max-width: 800px){
				left: 3vw;
			}
		}
	}
}

.focus-zoom-controls{
	position: fixed;
	bottom: 4rem;
	right: 2rem;
	border: 1px solid rgba(255, 255, 255, 0.5);
	background: rgba(255, 255, 255, 0.2);
	border-radius: space(0.5);
	display: flex;
	z-index: 999;
	color: white;

	.increase,.decrease{
		padding: 0.5rem;
		background: rgba(0,0,0,0);
		transition: 0.2s ease;
		user-select: none;
		&:hover{
			background: rgba(255, 255, 255, 0.2);
		}
	}

	.increase{
		cursor: zoom-in;
	}
	.decrease{
		cursor: zoom-out;
	}

	.current-zoom{
		padding: 0.5rem;
		border-left: 1px solid rgba(255, 255, 255, 0.5);
		border-right: 1px solid rgba(255, 255, 255, 0.5);
		text-align: center;
		width: 4rem;
		&:after{
			content: '%';
		}
	}
}

.continuous-focuses{
	position: absolute;
	width: calc(#{$focusWidth} * 4.5);
	height: calc(#{$focusHeight} * 3);
	background: #2d2220;
	border-radius: space();
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3rem;
	color: white;
	z-index: 2;

	&[data-x=""][data-y=""]{
		display: none;
	}
}