.research-upper{
	margin: 20px space();
	background: colour(white);
	padding: space() space(2);
	border-radius: space();
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-gap: space();
}

.research-area{
	margin-top: space();
	height: 100vh;
	background-color: #22211d;
	background-size: 40px 40px;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px), linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
}