.start-date-wrapper{
	border-radius: space();
	background: colour(white);
	padding: space(2);
}

.selected-country{
	padding: space();
	background: colour(offwhite);
	border-radius: space();
	display: flex;
	align-items: center;
	justify-content: flex-start;

	svg{
		cursor: pointer;
	}

	.num{
		margin-right: 0.5rem;
	}

	h5,h6{
		margin: 0 0.5rem;
		cursor: pointer;
	}

	.icon-edit{
		margin-left: auto;
		color: colour(blue);
	}

	.icon-trash-2{
		margin-left: 1rem;
		color: colour(red);
	}
}