.trait-sprite-select-wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: space(0.25);
	@media screen and (max-width: 420px){
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.option{
		.image{
			display: block;
			height: 1.5rem;
			width: 1.5rem;
			background-size: contain;
			background-repeat: no-repeat;
			border: 1px solid colour(blue);
			border-radius: space(0.5);
			cursor: pointer;
		}
		$spriteIndex: 1;
		$maxSpriteIndex: 20;
		@while($maxSpriteIndex >= $spriteIndex){
			&:nth-child(#{$spriteIndex}) .image{
				background-image: url('/media/trait-sprite/#{$spriteIndex}');
			}
			$spriteIndex: $spriteIndex + 1;
		}

		input{
			display: none;

			&:checked{
				~ .image{
					background-color: colour(blue);
				}
			}
		}
	}
}