$body: 'Poppins', sans-serif;
$heading: 'Raleway', sans-serif;

$colours : (
	blue: #637FC1,
	dark-blue: #4464AD,
	offwhite: #FAFAFA,
	white: #FFFFFF,
	text: #232E21,
	dark-grey: #1B2F33,
	red: #d50000,
	green: #73c236,
	pageBackground: #ECF0F1
);

$font-sizes: (
	h1: 64px,
	h2: 48px,
	h3: 36px,
	h4: 24px,
	body: 20px,
	small: 16px
);

$spacings: (
	10: 10px,
	20: 20px,
	30: 30px,
	40: 40px,
	60: 60px,
	80: 80px,
	100: 100px
);

$box-shadow: 1px 5px 10px 0 rgba(0,0,0,0.16);

$breakpoints: (
	phone: 576px,
	tablet: 992px,
	laptop: 1200px,
	desktop: 1400px
);