<template>
	<div class="modal">
		<div class="modal-header">
			<h5>{{ this.title }}</h5>
			<div class="close" @click="closeEditView()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="modal-content">
			<form @submit.prevent="updateIdea" :id="'idea-form-'+item.id" :data-id="item.id">
				<input-help required :label="helpText.edit.name" :value="item.name" :helptext="helpText.edit.name_help" name="name"></input-help>
				<gfx-select :data="item" type="idea" @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" @updateGFX="updateGFX(id)"></gfx-select>
				<select-help name="group" :label="helpText.edit.group" :helptext="helpText.edit.group_help" :value="item.group" :values="this.groups"></select-help>
				<div class="data-field idea-option-datafield" v-for="(label, key) in helpText.edit.options">
					<div class="data-field" v-if="!key.includes('_help')">

						<input-help :label="label" :value="item.data[key]" :helptext="helpText.edit.options[key+'_help']" :name="'data['+key+']'" v-if="getType(key) == 'input'"></input-help>

						<input-help :label="label" :value="item.data[key]" :helptext="helpText.edit.options[key+'_help']" :name="'data['+key+']'" type="number" min="0" max="1000" step="1" v-if="getType(key) == 'number'"></input-help>

						<textarea-help :label="label" :value="item.data[key]" :helptext="helpText.edit.options[key+'_help']" :name="'data['+key+']'" v-if="getType(key) == 'textarea'"></textarea-help>

						<select-help :label="label" :value="item.data[key]" :helptext="helpText.edit.options[key+'_help']" :name="'data['+key+']'" :values="getValues(key)" v-if="getType(key) == 'select'"></select-help>

						<datalist-help :label="label" :value="item.data[key]" :helptext="helpText.edit.options[key+'_help']" :name="'data['+key+']'" :values="getValues(key)" v-if="getType(key) == 'datalist'"></datalist-help>

						<traits @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" :label="label" :value="item.data[key]" :helptext="helpText.edit.options[key+'_help']" :name="'data['+key+']'" v-if="getType(key) == 'traits'" type="country"></traits>

						<builder @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" :label="label" :value="item.data[key]" :uses="getBuilderUses(key)" :helptext="helpText.edit.options[key+'_help']" :name="'data['+key+']'" v-if="getType(key) == 'builder'"></builder>
					</div>
				</div>
				<btn text="Submit" wide="true"></btn>
			</form>
		</div>
	</div>
</template>

<style scoped>
	.idea-option-datafield{
		display: none;
	}
	.idea-option-datafield.active{
		display: block;
	}
</style>

<script>
	export default {
		props:[
			'isEdit', 'item', 'helpText', 'toolHelp'
		],
		data(){
			var helpText = this.helpText;
			this.searchFilters = [];
			// for(var index in this.helpText.searchFilters) {
			// 	this.searchFilters.push({'value':index, 'label':this.helpText.searchFilters[index]});
			// }

			var groups = [];
			$.each(helpText.groups, function(key, value){
				groups.push({'value':key, 'label':value});
			});
			return{
				groups: groups
			}
		},
		created(){
			this.title = this.item.id == 'new' ? this.helpText.edit.add : this.helpText.edit.edit;
			if(document.getElementById('idea-json-'+this.item.id)){
				this.ideaData = JSON.parse(document.getElementById('idea-json-'+this.item.id).innerHTML);
			}else{
				this.item.name = '';
				this.item.data = {};
			}
		},
		mounted(){
			var ins = this;
			
			function updateActiveFields(key){
				var parent = $('#idea-form-'+ins.item.id);
				$('.idea-option-datafield').addClass('active');
				if(key != 'high_command'){
					parent.find('[name="data[ledger]"]').val('');
					parent.find('[name="data[ledger]"]').closest('.idea-option-datafield').removeClass('active');
					parent.find('[name="data[ledger]"]').removeAttr('required');
				}else{
					parent.find('[name="data[ledger]"]').attr('required', 'required');
				}
				if(key == 'country'){
					parent.find('[name="data[cost]"]').val('');
					parent.find('[name="data[removal_cost]"]').val('');
					parent.find('[name="data[cost]"]').closest('.idea-option-datafield').removeClass('active');
					parent.find('[name="data[removal_cost]"]').closest('.idea-option-datafield').removeClass('active');
				}
			}
			
			if($('#idea-form-'+ins.item.id+' [name="group"]').val()){
				updateActiveFields($('#idea-form-'+ins.item.id+' [name="group"]').val());
			}
			$('#idea-form-'+ins.item.id+' [name="group"]').on('change', function(){
				updateActiveFields($('#idea-form-'+ins.item.id+' [name="group"]').val());
			});
		},
		methods:{
			closeEditView(){
				this.$emit('closeComponents');
			},
			openSecondaryModal(event, modal, data = null){
				this.$emit('openSecondaryModal', modal, data);
			},
			closeSecondaryModal(){
				this.$emit('closeSecondaryComponent');
			},
			getBuilderUses(key){
				var arr = ['scopes', 'conditions'];
				
				var usesModifier = ['modifier', 'targeted_modifier'];
				var usesEffect = ['on_add', 'on_remove'];

				if(usesEffect.includes(key)){
					arr.push('effects');
				}

				if(usesModifier.includes(key)){
					arr.push('modifiers');
				}

				return arr;
			},
			updateIdea(){
				const config = {
					headers: {
						'content-type': 'multipart/form-data',
						'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
					}
				}
				let comp = this;
				let ideaData = null;
				let formData = new FormData();
				formData.append('id', this.item.id);
				var idPrefix = '[data-id="'+this.item.id+'"] ';
				formData.append('name', $(idPrefix+'[name="name"]').val());
				formData.append('gfx', $(idPrefix+'[name="gfx"]').val());
				formData.append('data', JSON.stringify(getFormDataByInputName('idea-form-'+this.item.id, 'data')));
				formData.append('group', $(idPrefix+'[name="group"]').val());
				formData.append('group_id', $('.ideas.edit').attr('id'));
				$('#idea-form').find('button').attr('disabled', 'true');
				axios.post('/ideas/update', formData, config)
					.then(function (response) {
						ideaData = response.data;
						comp.updateData(ideaData);
					});
				
			},
			updateData(ideaData){
				this.$emit('updateData', ideaData);
				this.$emit('closeComponents');
			},
			getType(key){
				if(key == 'ledger'){
					return 'select';
				}
				if(key == 'traits'){
					return 'traits';
				}
				if(key == 'ai_will_do' || key == 'cost' || key == 'removal_cost'){
					return 'number';
				}
				if(key == 'description'){
					return 'textarea';
				}
				return 'builder';
			},
			getValues(key){
				var ret = [];
				var env = this;
				if(key == 'ledger'){
					$.each(env.helpText.ledger, function(key, value){
						ret.push({'value':key, 'label':value});
					});
				}
				return ret;
			}
		}
	}
</script>