<template>
	<div class="idea" :data-id="this.setID" :data-group="group">
		<div class="idea-delete" @click="deleteIdea()">
			<svg class="feather-icon icon-trash-2"><use xlink:href="#trash-2"></use></svg>
		</div>
		<img class="idea-image" :src="'/media/find/'+json.gfx" @click="openIdeaComponent()" loading="lazy">
		<div class="idea-title" @click="openIdeaComponent()">
			<p class="name">{{ json.name }}</p>
			<p class="trait">{{ this.info.item.data.hasOwnProperty('traits') ? this.info.item.data.traits : '-' }}</p>
		</div>
		<div class="idea-json help-text-file" :id="'idea-json-'+this.setID">{{ this.data }}</div>
		<component v-bind:is="ideaComponent" v-bind="info" @closeComponents="closeComponents()" @openSecondaryModal="openSecondaryComponent" @updateData="updateData"></component>
		<component v-bind:is="secondaryComponent" @closeSecondaryModal="closeSecondaryComponent" @updateGFX="updateGFX" @updateData="updateData" v-bind="info" ></component>
	</div>
</template>

<script>
	export default {
		props:[
			'id','json', 'group'
		],
		created() {
			this.data = JSON.stringify(this.json);
			this.isActive = false;
		},
		mounted() {
		},
		methods: {
			closeComponents(){
				this.secondary = 'placeholder';
				this.comp = 'placeholder';
				this.isActive = false;
				if(this.id == 'new'){
					this.$emit('removeideafromlist', this.id);
				}
			},
			openIdeaComponent(){
				this.comp = 'edit-idea';
				this.isActive = true;
			},
			closeIdeaComponent(){
				this.comp = 'placeholder';
				this.isActive = false;
			},
			openSecondaryComponent(modal, data = null){
				this.secondary = modal;
				this.info.secondaryData = data;
			},
			closeSecondaryComponent(){
				this.secondary = 'placeholder';
			},
			updateGFX(gfxId){
				this.info.item.gfx = gfxId;
			},
			updateData(ideaData){
				this.setID = ideaData.id;
				this.info.item.id = ideaData.id;
				this.info.item.idea_group_id = ideaData.idea_group_id;
				this.info.item.name = ideaData.name;
				this.info.item.gfx = ideaData.gfx;
				this.info.item.data = ideaData.options;
				this.info.item.group = ideaData.group;
				if(document.getElementById('idea-json-'+this.id)){
					let newData = {};
					newData['id'] = ideaData.id;
					newData['gfx'] = ideaData.gfx;
					newData['group'] = ideaData.group;
					newData['data'] = ideaData.options;
					newData['idea_group_id'] = ideaData.idea_group_id;
					document.getElementById('idea-json-'+this.id).innerHTML = JSON.stringify(newData);
				}
				if(!this.info.item.data){
					this.info.item.data = {};
				}
			},
			deleteIdea(){
				const config = {
					headers: {
						'content-type': 'multipart/form-data',
						'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
					}
				}
				let toolHelp = this.info.toolHelp
				let env = this;
				jconfirm({
					title: toolHelp.delete_title,
					content: toolHelp.delete_text,
					buttons: {   
						ok: {
							text: toolHelp.delete_confirm,
							btnClass: 'button',
							keys: ['enter'],
							action: function(){
								let formData = new FormData();
								formData.append('id', env.id);
								axios.post('/ideas/delete', formData, config)
									.then(function (response) {
										env.$emit('removeideafromlist', env.id);
									});

								
							}
						},
						cancel: {
							text: toolHelp.delete_cancel,
							btnClass: 'button invert white'
						}
					}
				});
			}
		},
		data: function(){
			return {
				comp: (this.json.id == 'new') ? 'edit-idea' : "placeholder",
				secondary: "placeholder",
				setID: this.json.id,
				info:{
					isEdit : true,
					item: this.json,
					helpText: this.$parent.helpText,
					toolHelp: this.$parent.toolHelp,
					tool: 'idea',
					queryString: null,
					gfxObject: null,
					gfxList : 'gfx-list'
				}
			}
		},
		computed: {
			ideaComponent: function(){
				return this.comp.toLowerCase();
			},
			secondaryComponent: function(){
				return this.secondary.toLowerCase();
			}
		}
	}
</script>
