<template>
	<div id="data" :class="'country-section '+(active ? 'active' : '')">
		<div class="grid">
			<div class="grid-col-span-12 country-title-box">
				<span class="box-title">Tag</span>
				<input-help @updatedValue="updatedCountryValue" :value="country.tag" label="Tag" helptext="A three letter combination to identify your country in-game" name="tag"></input-help>
			</div>
			<div class="grid-col-span-6 country-title-box">
				<span class="box-title">Colour</span>
				<div class="grid">
					<div class="grid-col-span-9 colour-ranges">
						<p>Red: <input type="range" @change="updatePreviewColour()" min="0" max="255" id="r" step="1" :value="country.colour.r" name="colour[r]"></p>
						<p>Green: <input type="range" @change="updatePreviewColour()" min="0" max="255" id="g" step="1" :value="country.colour.g" name="colour[g]"></p>
						<p>Blue: <input type="range" @change="updatePreviewColour()" min="0" max="255" id="b" step="1" :value="country.colour.b" name="colour[b]"></p>
					</div>
					<div class="grid-col-span-3">
						<div class="colour-preview" id="countryColour" :style="'height: 5rem;background: rgb('+country.colour.r+','+country.colour.g+','+country.colour.b+');'"></div>
					</div>
				</div>
			</div>

			<div class="grid-col-span-6 country-title-box">
				<span class="box-title">Culture/Capital</span>
				<div class="grid">
					<div class="grid-col-span-6">
						<select-help @updatedValue="updatedCountryValue" :value="country.culture" label="Culture" helptext="Used to determine what the game should generate; e.g. generic generals, when all of your selected ones are used up" name="culture" :values="cultures"></select-help>
					</div>
					<div class="grid-col-span-6">
						<datalist-help @updatedValue="updatedCountryValue" :value="country.capital" label="Capital" helptext="ID of the state is your capital city located in?" name="capital" :values="stateList"></datalist-help>
					</div>
				</div>
			</div>


			<div class="grid-col-span-12 country-title-box">
				<span class="box-title">Misc.</span>
				<div class="grid">
					<div class="grid-col-span-laptop-6">
						<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" type="number" step="0.1" label="War Support" name="set_war_support" :value="getValue('set_war_support')" helptext="War support as a percentage: 0.1 = 10%"></input-help>
					</div>
					<div class="grid-col-span-laptop-6">
						<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" type="number" step="0.1" label="Stability" name="set_stability" :value="getValue('set_stability')" helptext="Stability as a percentage: 0.1 = 10%"></input-help>
					</div>
					<div class="grid-col-span-laptop-6">
						<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" type="number" step="1" label="Convoys" name="set_convoys" :value="getValue('set_convoys')"></input-help>
					</div>
					<div class="grid-col-span-laptop-6">
						<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" type="number" step="1" label="Trains" name="starting_train_buffer" :value="getValue('starting_train_buffer')"></input-help>
					</div>
					<div class="grid-col-span-laptop-6">
						<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" type="number" step="1" label="Research Slots" name="set_research_slots" :value="getValue('set_research_slots')"></input-help>
					</div>
					<div class="grid-col-span-laptop-6">
						<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" type="number" step="1" label="Add Command Power" name="add_command_power" :value="getValue('add_command_power')"></input-help>
					</div>
				</div>
			</div>
			<div class="grid-col-span-12 country-title-box">
				<span class="box-title">Names</span>
				<p>All names should be comma-separated; John,Alex,David,etc.</p>
				<div class="grid">
					<div class="grid-col-span-6">
						<textarea-help @updatedValue="updatedName" :readonly="editable ? false : true" label="Male names" name="male" :value="getNames('male')"></textarea-help>
					</div>
					<div class="grid-col-span-6">
						<textarea-help @updatedValue="updatedName" :readonly="editable ? false : true" label="Female names" name="female" :value="getNames('female')"></textarea-help>
					</div>
					<div class="grid-col-span-6">
						<textarea-help @updatedValue="updatedName" :readonly="editable ? false : true" label="Surnames" name="surnames" :value="getNames('surnames')"></textarea-help>
					</div>
					<div class="grid-col-span-6">
						<textarea-help @updatedValue="updatedName" :readonly="editable ? false : true" label="Callsigns" name="callsigns" :value="getNames('callsigns')"></textarea-help>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['active', 'date', 'modId', 'editable', 'country', 'activeDate'],
		data(){
			return {
				ideologyList: [],
				stateList: [],
				cultures: [
					{value: 'western_european', label: 'Western European'},
					{value: 'eastern_european', label: 'Eastern European'},
					{value: 'asian', label: 'Asian'},
					{value: 'southamerican', label: 'South American'},
					{value: 'middle_eastern', label: 'Middle Eastern'},
					{value: 'african', label: 'African'},
					{value: 'commonwealth', label: 'Commonwealth'},
					{value: 'sami', label: 'Sami'}
				]
			}
		},
		mounted(){
			let el = this;

			$.get('/get-data/states', function(data){
				let list = [];
				$.each(data, function(key, val){
					list.push({value: val.id, label: val.name});
				});
				el.stateList = list;
			});
		},
		methods:{
			getValue(name){
				if(this.date.misc_data == null){
					this.date.misc_data = {};
				}
				if(!this.date.misc_data.hasOwnProperty(name)){
					this.date.misc_data[name] = null;
				}
				return this.date.misc_data[name];
			},
			setValue(name, value){
				this.date.misc_data[name] = value;
				this.updateDateData();
			},
			updatedValue({ name, value }){
				this.setValue(name, value);
			},

			updatedName({ name, value }){
				this.country.names[name] = value;
				this.updateCountryData();
			},
			updatedCountryValue({ name, value }){
				this.country[name] = value;
				this.updateCountryData();
			},
			getNames(name){
				let data = this.country.names[name];
				if(Array.isArray(data)){
					data = data.join();
				}
				return data;
			},

			updatePreviewColour(){
				$('body').find('.colour-preview').attr('style', 'height: 5rem;background: rgb('+$('body').find('.colour-ranges #r').val()+','+$('body').find('.colour-ranges #g').val()+','+$('body').find('.colour-ranges #b').val()+');');

				this.country.colour.r = $('body').find('.colour-ranges #r').val();
				this.country.colour.g = $('body').find('.colour-ranges #g').val();
				this.country.colour.b = $('body').find('.colour-ranges #b').val();

				this.updateCountryData();
			},

			updateDateData(){
				this.$emit("updateDateData", this.date);
			},
			updateCountryData(){
				this.$emit("updateCountryData", this.country);
			}
		}
	}
</script>