<template>
	<div id="divisions" :class="'country-section '+(active ? 'active' : '')">
		<div class="grid">
			<div class="grid-col-span-8">
				<div class="country-title-box">
					<span class="box-title">Division Designer</span>

					<div class="division-designer">
						<div class="division-data">
							<input type="text" id="divisionName" placeholder="Unit name">
						</div>
						<div class="support-units">
							<div class="unit" v-for="n in 5">
								<input type="text" list="unitList">
							</div>
						</div>
						<div class="main-units">
							<div class="unit-row" v-for="r in 5">
								<div class="unit" v-for="n in 5">
									<input type="text" list="unitList">
								</div>
							</div>
						</div>
						<span></span>
						<div class="text-right">
							<button class="button button-primary" id="updateDivisionDesigner" data-id="new" @click="saveDivisionDesigner()">Save</button>
						</div>
					</div>

					<datalist id="unitList">
						<option v-for="(item, index) in unitTypes" :value="index">{{ item }}</option>
					</datalist>
				</div>
			</div>
			<div class="grid-col-span-4">
				<div class="country-title-box">
					<span class="box-title">Your divisions</span>
					<p v-for="(div, i) in date.divisions" class="division-name" :data-id="i" >{{ div.name }}
						<span>
							<span class="edit-icon"><svg class="feather-icon icon-globe" @click="setDivisionPosition(i, div)"><use xlink:href="#globe"></use></svg></span>
							<span class="edit-icon"><svg class="feather-icon icon-edit" @click="setDivisionDesigner(i, div)"><use xlink:href="#edit"></use></svg></span>
							<span class="delete-icon"><svg class="feather-icon icon-trash-2" @click="deleteDivision(i)"><use xlink:href="#trash-2"></use></svg></span>
						</span>
					</p>
				</div>
			</div>
		</div>

		<dialog id="division-modal" class="dialog-modal" v-if="editable">
			<div class="modal-header">
				<h5>Edit Division Location(s)</h5>
				<button class="close" @click="closeModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></button>
			</div>
			<div class="modal-content set-label-white-background">
				<div class="map-wrapper" data-zoom="1.0">
					<div class="map dragscroll" id="division-province-map"></div>
				</div>
				<div v-if="this.editingProvince" class="division-province-edit">
					<div class="grid">
						<span class="close" @click="cancelEdit()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></span>
						<div class="input-wrapper grid-col-span-12 grid-col-span-tablet-8">
							<input id="divisionsInProvince" class="default-input" type="number" step="1" min="0" max="999" :value="this.editingProvince[1]" :data-province-id="this.editingProvince[0]">
						</div>
						<div class="grid-col-span-12 grid-col-span-tablet-4 text-right">
							<button class="button button-primary" @click="updateProvinceData()">Update</button>
						</div>
					</div>
				</div>
			</div>
		</dialog>
	</div>
</template>

<script>
	export default {
		props: ['active', 'modId', 'editable', 'date'],
		data(){
			return{
				unitTypes: [{"infantry":"Infantry"}],
				divisionPositionIndex: null,
				editingProvince: null
			}
		},
		mounted(){
			let el = this;
			$.get('/get-data/units', function(data){
				el.unitTypes = data;
				el.unitTypes["infantry"] = "Infantry"; //Not included in localisation file? o.O
			});
		},
		methods: {
			setDivisionDesigner(index, elem){
				this.resetDivisionDesigner();
				$('#divisionName').val(elem.name);
				$('#updateDivisionDesigner').attr('data-id', index);

				$.each(elem.support, function(id, data){
					$('.support-units .unit:nth-child('+(id + 1)+') input').val(data);
				});

				$.each(elem.regiments, function(id, data){
					var unitRow = '.main-units .unit-row:nth-child('+(id + 1)+')';
					$.each(data, function(i, u){
						$(unitRow+' .unit:nth-child('+(i+1)+') input').val(u);
					});
				});
			},
			saveDivisionDesigner(){
				var ins = this;

				if($('#divisionName').val() == ''){
					alert('Name not set');
					return;
				}

				var btn = event.target;
				var dateData = ins.date.divisions;
				var support = [];
				var regiments = [];
				$('.support-units .unit').each(function(){
					if($(this).find('input').val() != ''){
						support.push($(this).find('input').val());
					}
				});
				$('.main-units .unit-row').each(function(){
					var unitRow = [];
					$(this).find('.unit').each(function(){
						if($(this).find('input').val() != ''){
							unitRow.push($(this).find('input').val());
						}
					});
					if(unitRow.length){
						regiments.push(unitRow);
					}
				});

				if($(btn).attr('data-id') == 'new'){
					dateData.push({'name' : $('#divisionName').val(), 'support' : support, 'regiments' : regiments, 'locations' : []});
				}else{
					this.$set(dateData, $(btn).attr('data-id'), {'name' : $('#divisionName').val(), 'support' : support, 'regiments' : regiments, 'locations': dateData[$(btn).attr('data-id')].locations});
				}
				$(btn).attr('data-id', 'new');

				this.resetDivisionDesigner();
			},
			resetDivisionDesigner(){
				$('#divisionName').val('');
				$('.division-designer .unit input').val('');
				this.updateDateData();
			},
			deleteDivision(i){
				this.date.divisions.splice(i, 1);
				this.resetDivisionDesigner();
			},
			closeModal(){
				document.getElementById('division-modal').close();
				document.getElementById('division-province-map').innerHTML = '';
				this.updateDateData();
			},
			openModal(){
				if(document.getElementById('division-modal')){
					if(this.$parent.mapSVG == null){
						if(window.confirm('You need to download the map before you can do this. The map is around 34mb, please press confirm if you agree to download this file.')){
							this.$parent.getMapSVG();
						}
					}else{
						document.getElementById('division-province-map').innerHTML = this.$parent.mapSVG;

						let div = this.date.divisions[this.divisionPositionIndex];
						let $map = $('#division-province-map');
						let el = this;

						$map.html($('#province-map').html());
						setTimeout(function(){
							$map.find('[data-province-id]').removeAttr('data-has-troops');
							$.each(div.locations, function(id, amount){
								$('[data-province-id="'+id+'"]').attr('data-has-troops', 'true');
							});
						}, 200);

						setTimeout(function(){
							var clickHandler = function(e){
								e.stopPropagation();
								var provinceID = $(this).attr('data-province-id');
								var locationExists = false;
								if(div.locations.hasOwnProperty(provinceID)){
									el.editingProvince = [provinceID, div.locations[provinceID]];
									locationExists = true;
								}
								if(!locationExists){
									el.editingProvince = [provinceID, 0];
								}
								//TODO Update modal header to "Select amount of divisions"
							}
							$('#division-province-map [data-province-id]').unbind('click', clickHandler);
							$('#division-province-map [data-province-id]').on('click', clickHandler);
						}, 200);

						document.getElementById('division-modal').showModal();

						$('.map-wrapper').bind('mousewheel DOMMouseScroll', function(event){
							event.preventDefault();
							if (event.originalEvent.wheelDelta > 0 || event.originalEvent.detail < 0) {
								zoomInMap();
							}else {
								zoomOutMap();
							}
						});
						resetDragscroll();
					}
				}else{
					let el = this;
					setTimeout(function(){
						el.openModal();
					}, 50);
				}
			},
			updateProvinceData(){
				var inLocations = false;
				var totalDivisions = $('#divisionsInProvince').val();
				var provinceID = $('#divisionsInProvince').attr('data-province-id');
				var div = this.date.divisions[this.divisionPositionIndex];
				var ins = this;

				if(Array.isArray(div.locations)){
					div.locations = {};
				}

				if(div.locations.hasOwnProperty(provinceID)){
					inLocations = true;
				}

				//If it's already in the list
				if(inLocations){
					if(totalDivisions > 0){
						//Update the number of divisions in province
						div.locations[provinceID] = totalDivisions;
						$('#division-province-map [data-province-id="'+provinceID+'"]').attr('data-has-troops', 'true');
					}else{
						//Delete province from the list
						delete div.locations[provinceID];
						$('#division-province-map [data-province-id="'+provinceID+'"]').removeAttr('data-has-troops');
					}
				}else{
					//If not in the list, only think to add it if the number has been updated from 0
					if(totalDivisions > 0){
						div.locations[provinceID] = totalDivisions;
						$('#division-province-map [data-province-id="'+provinceID+'"]').attr('data-has-troops', 'true');
					}
				}

				//TODO Update modal header to default
				ins.editingProvince = null;
				//this.generateMap();
			},
			setDivisionPosition(i){
				this.divisionPositionIndex = i;
				this.openModal();
			},
			updateDateData(){
				this.$emit("updateDateData", this.date);
			}
		},
	}
</script>