<template>
	<div id="government" :class="'country-section '+(active ? 'active' : '')">
		<div class="grid">
			<div class="grid-col-span-laptop-6 country-title-box" v-for="index in sections">
				<span class="box-title">{{ index.replace('_', ' ') }}</span>
				<div class="government-options">
					<div class="option" v-for="(data, name) in govData[index]">
						<input @change="switchActiveIdea(index,name)" type="radio" :name="'government['+index+']'" :data-name="name" :data-clicked="data.is_active" :value="name" class="government-select" :checked="data.is_active" :data-is-checked="data.is_active" v-if="editable">
						<span class="image-wrapper" >
							<img :src="'/media/find/'+data.icon">
						</span>
						<div class="delete" v-if="!data.is_default && editable" @click="deleteGovernment(index, name)"><svg class="feather-icon icon-trash-2"><use xlink:href="#trash-2"></use></svg></div>
						<div class="edit" v-if="!data.is_default && editable && ['mobilization_laws', 'economy', 'industrial_concern'].includes(index)" @click="openGovernmentEditor(index, name)"><svg class="feather-icon icon-edit"><use xlink:href="#edit"></use></svg></div>
					</div>
					<button v-if="editable" type="button" class="button button-primary circular addGovernmentFigure" :data-index="index" @click="openGovernmentEditor(index, false)">+</button>
				</div>
			</div>
		</div>

		<dialog id="government-modal" class="dialog-modal" v-if="editable && editingIndex != null">
			<div class="modal-header">
				<h5>Edit government</h5>
				<button class="close" @click="closeModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></button>
			</div>
			<div class="modal-content set-label-white-background">
				<div class="grid" v-if="['mobilization_laws', 'economy', 'industrial_concern'].includes(editingIndex)">
					<div class="grid-col-span-12">
						<gfx-input name="government-gfx" :value="getEditingIcon()"></gfx-input>
					</div>
					<div class="grid-col-span-laptop-6">
						<input-help name="government-name" :value="getEditingName()" label="Name"></input-help>
					</div>
					<div class="grid-col-span-laptop-6">
						<input-help name="government-id" :value="editingName ? editingName : ''" label="ID (optional)" helptext="Set a specific ID for this, rather than an auto-generated one"></input-help>
					</div>
					<div class="grid-col-span-laptop-6">
						<trait-input :value="getEditingTrait()" name="government-traits" label="Traits"></trait-input>
					</div>
					<div class="grid-col-span-laptop-6 text-right">
						<button class="button" type="button" @click="addOrUpdateGovernmentIdea()">{{ editingName ? 'Update' : 'Add' }}</button>
					</div>
				</div>
				<div class="grid" v-if="!['mobilization_laws', 'economy', 'industrial_concern'].includes(editingIndex)">
					<div class="grid-col-span-laptop-4">
						<div v-if="characterOptions.length > 0">
							<p>Select character list</p>
							<p v-for="item,index in characterOptions"><button @click="setCharacterOptionIndex(index)" type="button" :class="'button '+(characterOptionIndex == index ? 'invert' : '')">{{ item.name }}</button></p>
						</div>
						<div v-if="characterOptions.length == 0">
							<p>Unable to find any character lists for this mod.</p>
							<p><a href="/character/list">Make your character lists here.</a></p>
						</div>
					</div>
					<div class="grid-col-span-laptop-8">
						<div v-if="characterOptionIndex != null">
							<div v-if="characterOptions[this.characterOptionIndex].characters.length == 0">
								<p>Unable to find any characters in this list</p>
							</div>
							<div v-if="characterOptions[this.characterOptionIndex].characters.length > 0">
								<div v-if="getValidCharacters().length == 0">
									<p>Unable to find any valid characters in this list</p>
									<p>Please double-check that the characters which you have created are assigned correctly for this slot in government</p>
								</div>
								<div v-if="getValidCharacters().length > 0">
									<p>Select which character you would like to add to this slot</p>
									<div class="grid">
										<div class="grid-col-span-6" v-for="item in getValidCharacters()">
											<button @click="setCharacter(item)" type="button" class="setCharacterButton"><img :src="'/media/find/'+item.data.gfx"> {{ item.data.name }}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</dialog>
	</div>
</template>

<script>
	export default {
		props: ['active', 'modId', 'editable', 'country'],
		data(){
			return {
				sections: ['mobilization_laws', 'economy', 'political_advisor', 'industrial_concern', 'theorist', 'army_chief', 'navy_chief', 'air_chief', 'high_command'],
				govData: {
					mobilization_laws: {},
					economy: {},
					industrial_concern: {},
					theorist: {},
					army_chief: {},
					navy_chief: {},
					air_chief: {},
					high_command: {},
					political_advisor: {}
				},
				editingIndex: null,
				editingName: null,
				characterOptions: [],
				characterOptionIndex: null
			}
		},
		mounted(){
			this.addLawsToGovData();
			this.getCharacterLists();
		},
		methods:{
			closeModal(){
				this.editingIndex = null;
				this.editingName = null;
				this.characterOptionIndex = null;
				document.getElementById('government-modal').close();
				this.updateCountryData();
			},
			openModal(){
				if(document.getElementById('government-modal')){
					document.getElementById('government-modal').showModal();
				}else{
					let el = this;
					setTimeout(function(){
						el.openModal();
					}, 50);
				}
			},
			openGovernmentEditor(index,name){
				this.editingIndex = index;
				this.editingName = name;
				this.openModal();
			},
			deleteGovernment(index,name){
				if(this.govData[index].hasOwnProperty(name)){
					Vue.delete(this.govData[index], name);
				}
			},
			getEditingIcon(){
				return this.govData[this.editingIndex].hasOwnProperty(this.editingName) ? this.govData[this.editingIndex][this.editingName].icon : 1;
			},
			getEditingTrait(){
				if(this.govData[this.editingIndex].hasOwnProperty(this.editingName)){
					return this.govData[this.editingIndex][this.editingName].hasOwnProperty('data') ? this.govData[this.editingIndex][this.editingName].data.traits : '';
				}else{
					return '';
				}
			},
			getEditingName(){
				if(this.govData[this.editingIndex].hasOwnProperty(this.editingName)){
					return this.govData[this.editingIndex][this.editingName].hasOwnProperty('data') ? this.govData[this.editingIndex][this.editingName].data.name : '';
				}else{
					return '';
				}
			},
			switchActiveIdea(index,name){
				let active = jQuery('[name="government['+index+']"][data-is-checked]').attr('data-name');
				if(active){
					this.govData[index][active].is_active = false;
				}
				this.govData[index][name].is_active = true;
				this.updateCountryData();
			},
			addOrUpdateGovernmentIdea(){
				let $ = jQuery;
				let name = $('[name="government-name"]').val();
				let id = $('[name="government-id"]').val();
				if(id == ''){
					id = name.replace(/\s/g, '_').replace(/[^A-Za-z0-9_]/, '');
				}
				let traits = $('[name="government-traits"]').val();
				let gfx = $('[name="government-gfx"]').val();

				let editing;
				if(!this.editingName){
					editing = {
						'icon': '',
						'is_default': false,
						'is_active': false,
						'data':{

						}
					};
				}else{
					editing = this.govData[this.editingIndex][this.editingName];
				}

				editing.data.name = name;
				editing.icon = gfx;
				editing.data.traits = traits;

				this.govData[this.editingIndex][id] = editing;
				this.closeModal();
			},
			addLawsToGovData(){
				let el = this;
				if(this.country.hasOwnProperty('government')){
					jQuery.each(this.country.government, function(key, value){
						if(value.length == 0){ value = {}; }
						el.govData[key] = value;
					});
				}else{
					setTimeout(function(){
						el.addLawsToGovData();
					}, 50);
				}
			},
			getCharacterLists(){
				let el = this;
				$.get('/character/api/list/mod/'+this.modId, function(data){
					el.characterOptions = data;

					el.removeCharactersWhichHaveBeenRemoved();
				});
			},
			removeCharactersWhichHaveBeenRemoved(){
				let el = this;
				let characterIDs = [];
				$.each(el.characterOptions, function(key, value){
					$.each(value.characters, function(n, item){
						characterIDs.push(item.id);
					});
				});

				let deletedCharacters = false;
				$.each(el.govData, function(index, options){
					$.each(options, function(name, data){
						if(data.hasOwnProperty('is_character')){
							if(!characterIDs.includes(data.data.character_id)){
								el.deleteGovernment(index, name);
								deletedCharacters = false;
							}
						}
					});
				});
				if(deletedCharacters){
					el.updateCountryData();
				}
			},
			setCharacterOptionIndex(index){
				this.characterOptionIndex = index;
			},
			getValidCharacters(){
				let output = [];
				let editingIndex = this.editingIndex;
				if(this.characterOptions[this.characterOptionIndex].characters.length > 0){
					jQuery.each(this.characterOptions[this.characterOptionIndex].characters, function(key, item){
						if(item.data.type.civilian.hasOwnProperty('selected') && item.data.type.civilian.advisor.hasOwnProperty('selected')){
							if(item.data.type.civilian.advisor.slot == editingIndex){
								output.push(item);
							}
						}
					});
				}

				return output;
			},
			setCharacter(item){
				let editing = {
					'icon': '',
					'is_default': false,
					'is_active': false,
					'is_character': true,
					'data': {

					}
				};

				editing.icon = item.data.gfx;
				editing.data.character_id = item.id;
				this.govData[this.editingIndex]['char:'+item.id] = editing;
				this.closeModal();
			},


			updateCountryData(){
				this.country.government = this.govData;
				this.$emit("updateCountryData", this.country);
			}
		}
	}
</script>