<template>
	<div id="ideologies" :class="'country-section '+(active ? 'active' : '')">
		<div class="input-with-help">
			<div class="input-wrapper">
				<select name="ideologySelection" class="default-input" required="true" @change="setEditingIdeology($event.target.value)">
					<option value="" :selected="selectedIdeology == null ? true : false" disabled>Ideology you wish to edit</option>
					<option v-for="item in getLeaderIdeologies()" :value="item.value">{{ item.label }}</option>
				</select>
				<div class="select-dropdown"><svg class="feather-icon chevron-down"><use xlink:href="#chevron-down"></use></svg></div>
				<label class="input-label" for="ideologySelection">Ideology you wish to edit</label>
			</div>
		</div>

		<div class="grid" v-if="selectedIdeology != null">
			<div class="grid-col-span-6">
				<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" label="Name" name="name" :value="getValue('name')" helptext="The display name of the country"></input-help>
			</div>
			<div class="grid-col-span-6">
				<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" label="Definition" name="definition" :value="getValue('definition')" helptext="The name used when referring to the country; e.g. the USA."></input-help>
			</div>
			<div class="grid-col-span-6">
				<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" label="Nationality" name="nationality" :value="getValue('nationality')" helptext="The name used to refer to citizens of the nation; e.g. British, American, French, etc."></input-help>
			</div>
			<div class="grid-col-span-6">
				<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" label="Popularity" name="popularity" :value="getValue('popularity')" helptext="How much support the ideology should start with"></input-help>
			</div>
			<div class="grid-col-span-6">
				<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" label="Party name" name="party" :value="getValue('party')" helptext="The name of the political party for this ideology"></input-help>
			</div>
			<div class="grid-col-span-6">
				<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" label="Party name (long)" name="party_long" :value="getValue('party_long')" helptext="The long-form version of the party name"></input-help>
			</div>
			<div class="grid-col-span-6">
				<h4>Country flag</h4>
				<gfx-input @updatedValue="updatedValue" :readonly="editable ? false : true" :value="getValue('flag')" name="flag" tool="flag"></gfx-input>
			</div>
			<div class="grid-col-span-6" v-if="characterOptions != null">
				<div class="ideology-leader-list" v-if="leaderIndex.length">
					<div class="military-preview" v-for="id in leaderIndex">
						<span class="image-wrapper" >
							<img :src="'/media/find/'+getCharacterData(id).gfx">
						</span>
						<div class="title">
							{{ getCharacterData(id).name }}
						</div>
						<div class="delete" v-if="editable" @click="removeCharacter(id)"><svg class="feather-icon icon-trash-2"><use xlink:href="#trash-2"></use></svg></div>
					</div>
				</div>
				<p><button class="button" role="button" @click="openModal()">Add Leader</button></p>

				<dialog id="ideology-modal" class="dialog-modal set-label-white-background" v-if="editable">
					<div class="modal-header">
						<h5>Select leaders</h5>
						<button class="close" @click="closeModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></button>
					</div>
					<div class="modal-content">
						<div class="grid">
							<div class="grid-col-span-4">
								<div v-if="characterOptions.length > 0">
									<p>Select character list</p>
									<p v-for="item,index in characterOptions"><button @click="setCharacterOptionIndex(index)" type="button" :class="'button '+(characterOptionIndex == index ? 'invert' : '')">{{ item.name }}</button></p>
								</div>
								<div v-if="characterOptions.length == 0">
									<p>Unable to find any character lists for this mod.</p>
									<p><a href="/character/list">Make your character lists here.</a></p>
								</div>
							</div>
							<div class="grid-col-span-8">
								<div v-if="characterOptionIndex != null">
									<div v-if="characterOptions[this.characterOptionIndex].characters.length == 0">
										<p>Unable to find any characters in this list</p>
									</div>
									<div v-if="characterOptions[this.characterOptionIndex].characters.length > 0">
										<div v-if="getValidCharacters().length == 0">
											<p>Unable to find any valid characters in this list</p>
											<p>Please double-check that the characters which you have created are assigned correctly for this slot in government</p>
										</div>
										<div v-if="getValidCharacters().length > 0">
											<p>Select which character you would like to add to this slot</p>
											<div class="grid">
												<div class="grid-col-span-6" v-for="item in getValidCharacters()">
													<button @click="setCharacter(item)" type="button" class="setCharacterButton"><img :src="'/media/find/'+item.data.gfx"> {{ item.data.name }}</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</dialog>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['active', 'date', 'modId', 'editable'],
		data(){
			return {
				ideologyList: [],
				selectedIdeology: null,
				characterOptions: null,
				characterOptionIndex: null,
				leaderIndex: []
			}
		},
		mounted(){
			let el = this;
			$.get('/character/api/list/mod/'+this.modId, function(data){
				el.characterOptions = data;

				el.removeCharactersWhichHaveBeenRemoved();
			});
		},
		methods: {
			getLeaderIdeologies(){
				if(this.ideologyList.length > 0){
					return this.ideologyList;
				}

				let el = this;
				$.get('/ideology/api/ideology-list/'+this.modId+'?parent=true', function(data){
					el.ideologyList = data;
				});

			},
			setEditingIdeology(index){
				this.selectedIdeology = index; 
				this.leaderIndex = this.date.ideologies[this.getIdeologyIndex()].hasOwnProperty('leader_list') ? this.date.ideologies[this.getIdeologyIndex()].leader_list : [];
			},
			getIdeologyIndex(){
				const index = this.ideologyList.findIndex(obj => obj.value === this.selectedIdeology);
				return index;
			},
			getValue(name){
				const index = this.getIdeologyIndex();
				const activeIdeology = this.date.ideologies[index];
				return activeIdeology.hasOwnProperty(name) ? activeIdeology[name] : '';
			},
			setValue(name, value){
				const index = this.getIdeologyIndex();
				const activeIdeology = this.date.ideologies[index];
				activeIdeology[name] = value;
				this.updateDateData();
			},
			updatedValue({ name, value }){
				this.setValue(name, value);
			},

			getCharacterData(id){
				let returnData = {};
				$.each(this.characterOptions, function(key, data){
					$.each(data.characters, function(i, item){
						if(item.id === id){
							returnData = item.data;
						}
					});
				});
				return returnData;
			},
			removeCharactersWhichHaveBeenRemoved(){
				let el = this;
				let characterIDs = [];
				$.each(el.characterOptions, function(key, value){
					$.each(value.characters, function(n, item){
						characterIDs.push(item.id);
					});
				});

				let deletedCharacters = false;
				$.each(el.date, function(index, item){
					if(item && item.hasOwnProperty('leader_list')){
						$.each(item.leader_list, function(key, id){
							if(!characterIDs.includes(id)){
								el.removeCharacter(id);
								deletedCharacters = true;
							}
						});
					}
				});


				if(deletedCharacters){
					el.updateDateData();
				}
			},
			removeCharacter(id){
				this.leaderIndex.splice(this.leaderIndex.indexOf(id), 1);
				this.date.ideologies[this.getIdeologyIndex()].leader_list = this.leaderIndex;
				this.updateDateData();
			},
			setCharacterOptionIndex(index){
				this.characterOptionIndex = index;
			},
			getValidCharacters(){
				let list = [];
				$.each(this.characterOptions[this.characterOptionIndex].characters, function(key, item){
					if(item.data.type.civilian.country_leader.hasOwnProperty('selected')){
						list.push(item);
					}
				});
				return list;
			},
			addCharacter(){
				this.openModal();
			},
			setCharacter(item){
				this.leaderIndex.push(item.id);
				this.date.ideologies[this.getIdeologyIndex()].leader_list = this.leaderIndex;
				this.closeModal();
			},
			getCharacterData(id){
				let returnData = {};
				$.each(this.characterOptions, function(key, data){
					$.each(data.characters, function(i, item){
						if(item.id === id){
							returnData = item.data;
						}
					});
				});
				return returnData;
			},
			closeModal(){
				this.characterOptionIndex = null;
				document.getElementById('ideology-modal').close();
				this.updateDateData();
			},
			openModal(){
				if(document.getElementById('ideology-modal')){
					document.getElementById('ideology-modal').showModal();
				}else{
					let el = this;
					setTimeout(function(){
						el.openModal();
					}, 50);
				}
			},


			updateDateData(){
				this.$emit("updateDateData", this.date);
			}
		}
	}
</script>