<template>
	<div id="military" :class="'country-section '+(active ? 'active' : '')">
		
		<div class="grid">
			<div class="grid-col-span-6 country-title-box">
				<span class="box-title">Army</span>
				<div class="military-preview" v-for="id in army">
					<span class="image-wrapper" >
						<img :src="'/media/find/'+getCharacterData(id).gfx">
					</span>
					<div class="title">
						{{ getCharacterData(id).name }}
					</div>
					<div class="delete" v-if="editable" @click="removeCharacter(id, 'army')"><svg class="feather-icon icon-trash-2"><use xlink:href="#trash-2"></use></svg></div>
				</div>
				<button v-if="editable" type="button" class="button button-primary circular addGovernmentFigure" @click="addCharacter('army')">+</button>
			</div>

			<div class="grid-col-span-6 country-title-box">
				<span class="box-title">Navy</span>
				<div class="military-preview" v-for="id in navy">
					<span class="image-wrapper" >
						<img :src="'/media/find/'+getCharacterData(id).gfx">
					</span>
					<div class="title">
						{{ getCharacterData(id).name }}
					</div>
					<div class="delete" v-if="editable" @click="removeCharacter(id, 'navy')"><svg class="feather-icon icon-trash-2"><use xlink:href="#trash-2"></use></svg></div>
				</div>
				<button v-if="editable" type="button" class="button button-primary circular addGovernmentFigure" @click="addCharacter('navy')">+</button>
			</div>
		</div>

		<dialog id="military-modal" class="dialog-modal set-label-white-background" v-if="editable && addTo != null">
			<div class="modal-header">
				<h5>Select character</h5>
				<button class="close" @click="closeModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></button>
			</div>
			<div class="modal-content">
				<div class="grid">
					<div class="grid-col-span-4">
						<div v-if="characterOptions.length > 0">
							<p>Select character list</p>
							<p v-for="item,index in characterOptions"><button @click="setCharacterOptionIndex(index)" type="button" :class="'button '+(characterOptionIndex == index ? 'invert' : '')">{{ item.name }}</button></p>
						</div>
						<div v-if="characterOptions.length == 0">
							<p>Unable to find any character lists for this mod.</p>
							<p><a href="/character/list">Make your character lists here.</a></p>
						</div>
					</div>
					<div class="grid-col-span-8">
						<div v-if="characterOptionIndex != null">
							<div v-if="characterOptions[this.characterOptionIndex].characters.length == 0">
								<p>Unable to find any characters in this list</p>
							</div>
							<div v-if="characterOptions[this.characterOptionIndex].characters.length > 0">
								<div v-if="getValidCharacters().length == 0">
									<p>Unable to find any valid characters in this list</p>
									<p>Please double-check that the characters which you have created are assigned correctly for this slot in government</p>
								</div>
								<div v-if="getValidCharacters().length > 0">
									<p>Select which character you would like to add to this slot</p>
									<div class="grid">
										<div class="grid-col-span-6" v-for="item in getValidCharacters()">
											<button @click="setCharacter(item)" type="button" class="setCharacterButton"><img :src="'/media/find/'+item.data.gfx"> {{ item.data.name }}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</dialog>
	</div>
</template>

<script>
	export default {
		props: ['active', 'modId', 'editable', 'country'],

		data(){
			return {
				army: [],
				navy: [],
				characterOptions: null,
				characterOptionIndex: null,
				addTo: null
			}
		},

		mounted(){
			this.army = this.country.general_data != null ? this.country.general_data : [];
			this.navy = this.country.admiral_data != null ? this.country.admiral_data : [];
			this.getCharacterLists();
		},

		methods: {
			closeModal(){
				this.addTo = null;
				this.characterOptionIndex = null;
				document.getElementById('military-modal').close();
				this.updateCountryData();
			},
			openModal(){
				if(document.getElementById('military-modal')){
					document.getElementById('military-modal').showModal();
				}else{
					let el = this;
					setTimeout(function(){
						el.openModal();
					}, 50);
				}
			},
			getCharacterLists(){
				let el = this;
				$.get('/character/api/list/mod/'+this.modId, function(data){
					el.characterOptions = data;

					el.removeCharactersWhichHaveBeenRemoved();
				});
			},
			removeCharactersWhichHaveBeenRemoved(){
				let el = this;
				let characterIDs = [];
				$.each(el.characterOptions, function(key, value){
					$.each(value.characters, function(n, item){
						characterIDs.push(item.id);
					});
				});

				let deletedCharacters = false;
				$.each(el.army, function(index, id){
					if(!characterIDs.includes(id)){
						el.removeCharacter(id, 'army');
						deletedCharacters = true;
					}
				});
				$.each(el.navy, function(index, id){
					if(!characterIDs.includes(id)){
						el.removeCharacter(id, 'navy');
						deletedCharacters = true;
					}
				});
				if(deletedCharacters){
					el.updateCountryData();
				}
			},
			setCharacterOptionIndex(index){
				this.characterOptionIndex = index;
			},
			getValidCharacters(){
				let list = [];
				let type = this.addTo;
				$.each(this.characterOptions[this.characterOptionIndex].characters, function(key, item){
					if(type == 'army'){
						if(item.data.type.army.hasOwnProperty('selected')){
							list.push(item);
						}
					}
					if(type == 'navy'){
						if(item.data.type.navy.hasOwnProperty('selected')){
							list.push(item);
						}
					}
				});
				return list;
			},
			addCharacter(type){
				this.addTo = type;
				this.openModal();
			},
			setCharacter(item){
				if(this.addTo == 'army'){
					this.army.push(item.id);
				}
				if(this.addTo == 'navy'){
					this.navy.push(item.id);
				}
				this.closeModal();
			},
			removeCharacter(id, type){
				if(type == 'army'){
					this.army.splice(this.army.indexOf(id), 1);
				}
				if(type == 'navy'){
					this.navy.splice(this.navy.indexOf(id), 1);
				}
				this.updateCountryData();
			},
			getCharacterData(id){
				let returnData = {};
				$.each(this.characterOptions, function(key, data){
					$.each(data.characters, function(i, item){
						if(item.id === id){
							returnData = item.data;
						}
					});
				});
				return returnData;
			},
			updateCountryData(){
				this.country.general_data = this.army;
				this.country.admiral_data = this.navy;
				this.$emit("updateCountryData", this.country);
			}
		}
	}
</script>