<template>
	<div id="national-spirits" :class="'country-section idea-list '+(active ? 'active' : '')">
		<div class="grid">
			<div class="grid-col-span-tablet-4" v-for="item in nationalSpirits">
				<div class="idea">
					<img class="idea-image" :src="'/media/find/'+getIdeaData(item).gfx">
					<div class="idea-title">
						<p class="name">{{ getIdeaData(item).name }}</p>
					</div>
					<div class="idea-delete" @click="removeNationalSpirit(item)">
						<svg class="feather-icon icon-trash-2"><use xlink:href="#trash-2"></use></svg>
					</div>
				</div>
			</div>
			<div class="grid-col-span-12">
				<button class="button" role="button" @click="openModal()" v-if="editable">Add National Spirit</button>
			</div>
		</div>

		<dialog id="national-spirit-modal" class="dialog-modal set-label-white-background" v-if="editable">
			<div class="modal-header">
				<h5>Choose national spirits</h5>
				<button class="close" @click="closeModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></button>
			</div>
			<div class="modal-content">
				<div class="grid">
					<div class="grid-col-span-4">
						<div v-if="ideaLists.length > 0">
							<p>Select idea list</p>
							<p v-for="item,index in ideaLists"><button @click="setIdeaOptionIndex(index)" type="button" :class="'button '+(ideaListIndex == index ? 'invert' : '')">{{ item.prefix == null ? '' : '['+item.prefix+'] ' }}{{ item.name }}</button></p>
						</div>
						<div v-if="ideaLists.length == 0">
							<p>Unable to find any ideas lists for this mod.</p>
							<p><a href="/ideas">Make your idea lists here.</a></p>
						</div>
					</div>
					<div class="grid-col-span-8">
						<div v-if="ideaListIndex != null">
							<div v-if="ideaLists[this.ideaListIndex].ideas.length == 0">
								<p>Unable to find anything in this list</p>
							</div>
							<div v-if="ideaLists[this.ideaListIndex].ideas.length > 0">
								<div class="grid">
									<div class="grid-col-span-6" v-for="item in ideaLists[this.ideaListIndex].ideas">
										<button @click="addNationalSpirit(item.id)" type="button" class="setCharacterButton"><img :src="'/media/find/'+item.gfx"> {{ item.name }}</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</dialog>
	</div>
</template>

<script>
	export default {
		props: ['active', 'date', 'modId', 'editable'],
		data(){
			return {
				nationalSpirits: [],
				ideaLists: [],
				ideaListIndex: null
			}
		},
		mounted(){
			let el = this;

			$.get('/ideas/api/mod/'+this.modId, function(data){
				el.ideaLists = data;
				el.nationalSpirits = el.getNationalSpirits();
			});
		},
		methods:{
			getIdeaID(item){
				if(typeof item === 'number'){
					return item;
				}
				return item.id;
			},
			getIdeaData(item){
				let id = this.getIdeaID(item);
				let idea = null;
				$.each(this.ideaLists, function(i, list){
					$.each(list.ideas, function(n, val){
						if(val.id == id){
							idea = val;
						}
					});
				});
				if(idea == null){
					this.removeNationalSpirit(item);
				}else{
					return idea;
				}
			},
			removeNationalSpirit(item){
				this.nationalSpirits.splice(this.nationalSpirits.indexOf(item), 1);
				this.updateDateData();
			},


			closeModal(){
				this.ideaListIndex = null;
				document.getElementById('national-spirit-modal').close();
			},
			openModal(){
				if(document.getElementById('national-spirit-modal')){
					document.getElementById('national-spirit-modal').showModal();
				}else{
					let el = this;
					setTimeout(function(){
						el.openModal();
					}, 50);
				}
			},

			setIdeaOptionIndex(index){
				this.ideaListIndex = index;
			},
			addNationalSpirit(id){
				this.nationalSpirits.push(id);
				this.date.misc_data.national_spirits = this.nationalSpirits;
				this.updateDateData();
				this.closeModal();
			},

			updateDateData(){
				this.$emit("updateDateData", this.date);
			},

			getNationalSpirits(){
				let ret = [];

				if(this.date.hasOwnProperty('misc_data')){
					if(this.date.misc_data.hasOwnProperty('national_spirits')){
						ret = this.date.misc_data.national_spirits;
					}
				}

				return ret;
			}
		},
		watch: {
			date: function(){
				this.nationalSpirits = this.getNationalSpirits();
			}
		}
	}
</script>