<template>
	<div id="politics" :class="'country-section '+(active ? 'active' : '')">
		<div class="grid">
			<div class="grid-col-span-6">
				<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" label="Last Election" name="last_election" :value="getValue('last_election')" helptext="Format YYYY.(M?)M.(D?)D e.g. 1934.10.2 for the 2nd of October 1934"></input-help>
			</div>
			<div class="grid-col-span-6">
				<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" type="number" step="1" label="Election Frequency (months)" name="election_frequency" :value="getValue('election_frequency')"></input-help>
			</div>
			<div class="grid-col-span-6">
				<checkbox-help @updatedValue="updatedValue" :readonly="editable ? false : true" label="Elections Allowed" name="elections_allowed" :value="getValue('elections_allowed')" :checked="getValue('elections_allowed') ? true : false" helptext="Whether elections will run as normal or not"></checkbox-help>
			</div>
			<div class="grid-col-span-6">
				<div class="input-with-help">
					<div class="input-wrapper">
						<select name="set_ruling_party" class="default-input" @change="setValue('set_ruling_party', $event.target.value)" required="true">
							<option value="" :selected="getRulingParty() == null ? true : false" disabled>Ruling Party</option>
							<option v-for="item in getLeaderIdeologies()" :value="item.value" :selected="getRulingParty() == item.value ? true : false">{{ item.label }}</option>
						</select>
						<div class="select-dropdown"><svg class="feather-icon chevron-down"><use xlink:href="#chevron-down"></use></svg></div>
						<label class="input-label" for="ideologySelection">Ruling Party</label>
					</div>
				</div>
			</div>
			<div class="grid-col-span-12">
				<hr>
			</div>
			<div class="grid-col-span-3">
				<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" label="Create Faction" name="create_faction" :value="getValue('create_faction')" helptext="Name of faction you wish the country to start as the leader of"></input-help>
			</div>
			<div class="grid-col-span-3">
				<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" label="Add to Faction" name="add_to_faction" :value="getValue('add_to_faction')" helptext="Comma-separated list of tags to add to the faction; e.g. USA,ENG,FRA"></input-help>
			</div>
			<div class="grid-col-span-3">
				<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" label="Give Military Access" name="give_military_access" :value="getValue('give_military_access')" helptext="Comma-separated list of tags to add to give military access to; e.g. USA,ENG,FRA"></input-help>
			</div>
			<div class="grid-col-span-3">
				<input-help @updatedValue="updatedValue" :readonly="editable ? false : true" label="Give Guarantee" name="give_guarantee" :value="getValue('give_guarantee')" helptext="Comma-separated list of tags to add to guarantee the independence of; e.g. USA,ENG,FRA"></input-help>
			</div>
			<div class="grid-col-span-12">
				<hr>
			</div>
			<div class="grid-col-span-12">
				<h4>Subjects</h4>
				<div class="grid" v-for="item,index in subjects">
					<div class="grid-col-span-5">
						<input-help name="subjects[][tag]" :value="item.tag" @updatedValue="updatedValue"></input-help>
					</div>
					<div class="grid-col-span-5">
						<select-help name="subjects[][level]" :value="item.level" label="Subject Level" :values="getSubjectOptions()" @updatedValue="updatedValue"></select-help>
					</div>
					<div class="grid-col-span-2">
						<button class="button delete" type="button" @click="removeSubject(index)"><svg style="margin-left: 0.5rem;" class="feather-icon x"><use xlink:href="#x"></use></svg></button>
					</div>
				</div>
				<div class="grid">
					<div class="grid-col-span-4">
						<input-help name="subject-tag" label="Tag"></input-help>
					</div>
					<div class="grid-col-span-4" v-if="subjectTypes.length > 0">
						<select-help name="subject-selection" label="Subject Level" :values="getSubjectOptions()"></select-help>
					</div>
					<div class="grid-col-span-4">
						<button class="button" type="button" @click="addSubject()">Add</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['active', 'date', 'modId', 'editable'],
		data(){
			return {
				ideologyList: [],
				subjectTypes: [],
				subjects: []
			}
		},
		mounted(){
			let el = this;
			$.get("/get-data/autonomy", function(data){
				let subjects = [];

				$.each(data, function(tag, name){
					subjects.push({value:tag, label:name});
				});

				el.subjectTypes = subjects;
			});

			this.subjects = this.getSubjects();
		},
		methods:{
			getLeaderIdeologies(){
				if(this.ideologyList.length > 0){
					return this.ideologyList;
				}

				let el = this;
				$.get('/ideology/api/ideology-list/'+this.modId+'?parent=true', function(data){
					el.ideologyList = data;
				});

			},
			getRulingParty(){
				if(!this.date.misc_data.hasOwnProperty('set_ruling_party')){
					this.date.misc_data.set_ruling_party = '';
				}
				return this.date.misc_data.set_ruling_party;
			},
			getSubjects(){
				if(!this.date.misc_data.hasOwnProperty('subjects')){
					this.date.misc_data.subjects = [];
				}
				return this.date.misc_data.subjects;
			},
			addSubject(){
				let tag = jQuery('[name="subject-tag"]').val();
				let level = jQuery('[name="subject-selection"]').val();
				this.date.misc_data.subjects.push({tag: tag, level: level});
				this.subjects = this.getSubjects();
				this.updateDateData();
			},
			removeSubject(index){
				this.date.misc_data.subjects.splice(index, 1);
				this.subjects = this.getSubjects();
				this.updateDateData();
			},
			getSubjectOptions(){
				if(this.subjectTypes.length > 0){
					return this.subjectTypes;
				}
			},
			getValue(name){
				if(this.date.misc_data == null){
					this.date.misc_data = {};
				}
				if(!this.date.misc_data.hasOwnProperty(name)){
					this.date.misc_data[name] = null;
				}
				return this.date.misc_data[name];
			},
			setValue(name, value){
				this.date.misc_data[name] = value;
				this.updateDateData();
			},
			updatedValue({ name, value }){
				this.setValue(name, value);
			},
			updateDateData(){
				this.$emit("updateDateData", this.date);
			}
		}
	}
</script>