<template>
	<div id="research" :class="'country-section '+(active ? 'active' : '')">
		<div class="research-items">
			<div class="research-item" v-for="(item,index) in currentResearch" :key="item.index">
				<div class="select" :data-index="item.index">
					<div class="input-with-help">
						<div class="input-wrapper">
							<input class="default-input" :data-research-index="index" @change="updateResearch()" type="text" name="research" :value="item.value" placeholder="Research" autocomplete="disabled" list="list-research">
							<div class="select-dropdown"><svg class="feather-icon chevron-down"><use xlink:href="#chevron-down"></use></svg></div>
							<label class="input-label" for="research">Research</label>
							<div class="help-text">
								<svg class="feather-icon info"><use xlink:href="#info"></use></svg>
								<div class="help-text-info">
									Choose the research you want to be completed for this start date
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="remove" @click="deleteResearch(index)">
					<svg class="feather-icon icon-trash-2"><use xlink:href="#trash-2"></use></svg>
				</div>
			</div>
		</div>
		<datalist id="list-research">
			<option></option>
			<option v-for="item in research" :value="item.value">{{ item.label }}</option>
		</datalist>
		<p><button class="button button-blue" @click="addNewResearch">Add research</button></p>
	</div>
</template>

<script>
	export default {
		props: ['active', 'modId', 'editable', 'date'],
		data(){
			return{
				research: [],
				currentResearch: [],
				currentResearchIndex: 0
			}
		},

		mounted(){
			let el = this;
			$.get('/get-data/research', function(data){

				let research = [];
				$.each(data, function(value, label){
					research.push({value:value, label: label});
				});

				el.research = research;

				el.currentResearch = el.getCurrentResearch();
				el.currentResearchIndex = el.getCurrentResearchIndex();
			});
		},

		methods: {
			getCurrentResearch(){
				if(!this.date || !this.date.hasOwnProperty('research')){
					return [{index:0,value:''}];
				}

				let currentResearch = this.date.research;
				if(currentResearch == null){
					currentResearch = [];
				}
				

				return currentResearch;
			},
			getCurrentResearchIndex(){
				let currentResearchIndex = 0;
				return this.currentResearch.length;
			},
			addNewResearch(){
				this.currentResearchIndex++;
				let el = this;
				let arr = [];
				$.each(this.currentResearch, function(index, item){
					arr.push({index: index, value: $('[data-research-index="'+index+'"]').val()})
				});
				this.currentResearch = arr;
				this.currentResearch.push({index: this.currentResearchIndex, value: ''});
				this.updateDateData();

			},
			deleteResearch(index){
				this.currentResearchIndex--;
				this.currentResearch.splice(index, 1);
				this.updateResearch();
				this.updateDateData();
			},
			updateResearch(){
				let ins = this;
				let research = [];
				$.each(ins.currentResearch, function(i, item){
					let val = $('.select[data-index="'+item.index+'"]').find('input').val();
					research.push({index:item.index, value:$('.select[data-index="'+item.index+'"]').find('input').val()});
				});
				ins.date.research = research;
				ins.updateDateData();
			},
			updateDateData(){
				this.$emit("updateDateData", this.date);
			}
		},
		watch: {
			date: function(){
				this.currentResearch = this.getCurrentResearch();
				this.currentResearchIndex = this.getCurrentResearchIndex();
			}
		}
	}
</script>