<template>
	<div id="states" :class="'country-section '+(active ? 'active' : '')">
		<div v-if="this.$parent.mapSVG == null">
			<h3 class="text-centre">Load map to edit states?</h3>
			<p class="text-centre">Map is disabled by default due to its large file size and loading time.</p>
			<p class="text-centre">Press the button below to load the map.</p>
			<p v-if="editable" class="text-centre"><button role="button" class="button" @click="loadMap()">Load map</button></p>
			<p v-if="!editable" class="text-centre">Unable to access state map when not an editor</p>
		</div>
		<div v-if="this.$parent.mapSVG != null">
			<div class="state-map-wrapper">
				<div class="map-wrapper" data-zoom="1.0">
					{{ loadInMap() }}
					<div id="state-map" class="map dragscroll">
						
					</div>

					<div class="state-map-details" v-if="stateEditing">
						<span class="close" @click="closeStateEditor"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></span>
						<div class="grid">
							<div class="grid-col-span-tablet-6 grid-col-span-12">
								<checkbox-help name="controlState" label="Own the state" :value="this.stateEditing.control"></checkbox-help>
							</div>
							<div class="grid-col-span-tablet-6 grid-col-span-12">
								<checkbox-help name="coreState" label="Add claim to state" :value="this.stateEditing.core"></checkbox-help>
							</div>
							<div class="grid-col-span-tablet-6 grid-col-span-12 grid-col-start-tablet-7">
								<button @click="updateState()" class="button button-blue">Submit</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<style>
	:root{
		--countryColour: var(--countryColour);
	}
</style>
<script>
	export default {
		props: ['active', 'modId', 'editable', 'country', 'startDate'],
		data(){
			return{
				stateEditing: null
			}
		},
		computed:{
			stateColour(){
				return {
					'--countryColour': 'rgb('+ this.data.colour.r +', '+ this.data.colour.g +', '+ this.data.colour.b +')'
				}
			}
		},
		methods :{
			loadMap(){
				this.$parent.getMapSVG();
			},
			loadInMap(){
				let el = this;
				setTimeout(function(){
					el.generateMap();
				}, 200);
			},
			generateMap(){
				var $map = $('#state-map');
				$map.html(this.$parent.getMapSVG());
				var ins = this;

				this.setStateOwnership();

				$('.map-wrapper').bind('mousewheel DOMMouseScroll', function(event){
					event.preventDefault();
					if (event.originalEvent.wheelDelta > 0 || event.originalEvent.detail < 0) {
						zoomInMap();
					}else {
						zoomOutMap();
					}
				});			

				
				$('.main-content').on('click', '#state-map [id*="state-"]', function(){
					ins.stateEditing = { id: $(this).attr('id').replace('state-', ''), control: ($(this).attr('data-control') == "true"), core: ($(this).attr('data-core') == "true") };
				});

				resetDragscroll();


			},
			setStateOwnership(){
				var ins = this;
				//Remove all as state may have been removed from list whilst editing
				$('#state-map [id*="state-"]').removeAttr('data-control');
				$('#state-map [id*="state-"]').removeAttr('data-core');
				$.each(ins.country.dates, function(index, data){
					//Don't show data for future start dates
					if(ins.startDate >= index){
						if(data.states != null){
							$.each(data.states, function(id, info){
								var state = $('#state-map #state-'+id);
								if(info.control){
									state.attr('data-control', 'true');
								}else{
									//Remove if added from previous date
									state.removeAttr('data-control');
								}
								if(info.core){
									state.attr('data-core', 'true');
								}else{
									//Remove if added from previous date
									state.removeAttr('data-core');
								}
							});
						}
					}
				});
			},
			closeStateEditor(){
				this.stateEditing = null;
			},
			updateState(){
				var ins = this;
				var stateID = ins.stateEditing.id;
				var isCore = $('.state-map-details [name="coreState"]').prop('checked');
				var isControl = $('.state-map-details [name="controlState"]').prop('checked');
				var shouldRemove = true;
				var startDate = ins.startDate;

				if(ins.country.dates[startDate].states == null){
					ins.country.dates[startDate].states = {};
				}

				if(!isCore && !isControl){
					$.each(ins.country.dates, function(index, data){
						//Only check if past dates had it (so that way core/control can be removed in later dates)
						if(startDate > index){
							shouldRemove = data.states.hasOwnProperty(stateID);
						}
					});
				}else{
					shouldRemove = false;
				}

				if(ins.country.dates[startDate].states != null){
					var isArraySomehow = Array.isArray(ins.country.dates[startDate].states);
					var newData = {};
					$.each(ins.country.dates[startDate].states, function(stateID, value){
						if(value == undefined){
							if(ins.country.dates[startDate].states.hasOwnProperty(stateID)){
								delete ins.country.dates[startDate].states[stateID];
							}
						}else{
							newData[stateID] = ins.country.dates[startDate].states[stateID];
						}
					});
					if(isArraySomehow){
						ins.country.dates[startDate].states = newData;
					}
				}

				if(!shouldRemove){
					ins.country.dates[startDate].states[stateID] = {core: isCore, control: isControl};
				}else{
					//Only delete if it exists
					if(ins.country.dates[startDate].states.hasOwnProperty(stateID)){
						delete ins.country.dates[startDate].states[stateID];
					}
				}

				this.setStateOwnership();
				this.stateEditing = null;
				this.updateCountryData();

			},
			updateCountryData(){
				this.$emit("updateCountryData", this.country);
			}
		}
	}
</script>