.input-with-help{
	position: relative;
	.help-text{
		position: absolute;
		color: colour(blue);
		cursor: pointer;
		top: 50%;
		right: -1.5rem;
		transform: translateY(-50%);
		font-size: 1.25rem;
		display: none;
		z-index: 2;
	}

	.help-text-info{
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 100%;
		border: 1px solid colour(blue);
		background: colour(white);
		box-shadow: 1px 5px 1rem 0 rgba(0, 0, 0, 0.4);
		border-radius: space(0.25);
		padding: space(0.5);
		font-size: 0.9rem;
		width: calc(35vw - #{space(6.5)});
		text-align: left;
	}

	.help-text:hover{
		.help-text-info{
			opacity: 1;
			pointer-events: initial;
		}
	}

	&.always-show-help{
		.help-text{
			display: block;
		}
	}
}

.fakebox{
	.help-text{
		display: block;
	}	
}

.input-with-help,.button,.gfx-select,.data-field,.grid{
	+{
		.input-with-help,.button,.gfx-select,.data-field,.grid{
			margin-top: space(1.5);
		}
	}
}

.removeCurrentGFX{
	position: absolute;
	top: -0.5rem;
	right: -0.5rem;
	color: colour(red);
	background: colour(white);
	border-radius:50%;
	display: flex;
	width: 1.5rem;
	height: 1.5rem;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	transition: 0.2s ease;
	z-index: 2;
	cursor: pointer;
}

.gfx-select:hover .removeCurrentGFX{
	opacity: 1;
	pointer-events: initial;
}

.icon-input{
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;

	svg{
		padding-right: 0.5rem;
	}

	.input-with-help .help-text .help-text-info{
		width: 20rem;
	}
}
[list]::-webkit-calendar-picker-indicator {
  display: none;
  opacity: 0;
  background: transparent;
}

.grow-descendants *:not(label):not(.help-text-info){
	height: 100%;
}

.input-wrapper{
	position: relative;


	.select-dropdown{
		position: absolute;
		top: calc(50% + 0.25em);
		right: 1rem;
		transform: translateY(-50%);
		pointer-events: none;
	}

	input,textarea,select,.default-input{
		box-sizing: border-box;
		background: rgba(0,0,0,0);
		appearance: none;
	}

	textarea{
		display: block;
	}

	.default-input{
		padding: 1rem 1.5rem;
		border: 1px solid colour(dark-grey);
		font-family: $body;
		font-size: 1rem;
		border-radius: space(0.5);
		width: 100%;
		transition: 0.1s ease;
		outline: none;
		color: colour(text);

		&[list]{
			&::-webkit-calendar-picker-indicator{
				display: none;
			}
		}

		&:focus,&:active{
			border-radius: 0;
			border-color: colour(blue);

			~ {
				.help-text{
					display: block;
				}
			}
		}
	}

	label{
		position: absolute;
		top: -0.8rem;
		left: 1.25rem;
		padding: 0.25rem;
		font-size: 0.75rem;
		background: colour(white);
		transition: 0.2s ease;
		pointer-events: none;
	}

	.default-input:placeholder-shown:not(:active):not(:focus),select.default-input:invalid:not(:active):not(:focus){
		~{
			label{
				top: 0;
				left: 0;
				padding: calc(1rem + 1px) calc(1.5rem + 1px);
				font-size: 1rem;
				background: inherit;
			}
			
		}
	}
	.default-input:placeholder-shown:not(:active):not(:focus){
		~{
			label{
				opacity: 0;
			}
			
		}
	}
	select.default-input:invalid:not(:active):not(:focus){
		~{
			label{
				opacity: 0.75;
			}
			
		}
	}

	select.default-input:invalid:not(:active):not(:focus){
		color: colour(white);
		&:focus,&:active{
			color: colour(text);
		}

		~{
			label{
				top: -0.1rem;
			}
		}
	}
}

.input-wrapper{
	.trumbowyg-box{
		& + label{
			margin-top: -0.85rem;
		}
	}
}

button{
	border: none;
	cursor: pointer;
}

button:not([class]),.button{
	appearance: none;
	outline: none;
	padding: 1rem 2.5rem;
	text-align: center;
	background: colour(blue);
	color: colour(white);
	border-radius: space();
	border: 1px solid colour(blue);
	transition: 0.2s ease;
	cursor: pointer;
	font-size: 1rem;
	display: inline-block;

	&.white{
		background: colour(white);
		border-color: colour(white);
		color: colour(blue);

		&:hover, &:focus, &:active{
			background: rgba(0,0,0,0);
			color: colour(white);
		}
	}

	&.delete{
		background: colour(red);
		border-color: colour(red);
		color: colour(white);

		&:hover, &:focus, &:active{
			background: rgba(0,0,0,0);
			color: colour(red);
		}
	}

	svg{
		vertical-align: text-top;
		margin-right: 0.5rem;
	}

	&.full-width{
		width: 100%;
	}

	&.invert,&:focus,&:active,&:hover{
		color: colour(blue);
		background: rgba(0,0,0,0);
	}

	&.disabled{
		pointer-events: none;
	}

	&.invert{
		&:focus,&:active,&:hover{
			background: colour(blue);
			color: colour(white);
		}

		&.white{
			background: rgba(0,0,0,0);
			border-color: colour(white);
			color: colour(white);

			&:focus,&:active,&:hover{
				background: colour(white);
				color: colour(blue);
			}
		}
		&.delete{
			background: rgba(0,0,0,0);
			border-color: colour(red);
			color: colour(red);

			&:focus,&:active,&:hover{
				background: colour(red);
				color: colour(white);
			}
		}
	}

	&.circular{
		padding: 0;
		border-radius: 50%;
		width: 2rem;
		height: 2rem;
		align-self: center;
	}
}

.user-image{
	border-radius: 50%;
	width: vw(250px);
	height: vw(250px);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;

	img{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		min-height: 100%;
		transform: translate(-50%, -50%);
	}

	@include maxWidth(laptop){
		width: vw(350px, 1300);
		height: vw(350px, 1300);
	}
}

.image-upload{
	position: relative;
	width: vw(250px);
	margin: 0 auto;
	@include maxWidth(laptop){
		width: vw(350px, 1300);
	}
	.user-image{
		&:before{
			content: '+';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 4rem;
			background: rgba(0,0,0,0.3);
			opacity: 0;
			pointer-events: none;
			z-index: 2;
			color: colour(white);
			transition: 0.2s ease;
		}
		
	}
	&:hover{
		.user-image{
			&:before{
				opacity: 1;
			}
		}
	}

	input[type="file"]{
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
}

.form-error-message{
	margin-bottom: 1rem;
	color: colour(red);
	margin-top: 0.25rem;
	padding-left: 1.5rem;
	font-size: 0.8rem;
}

.fakebox{
	display: grid;
	grid-template-columns: 1rem 1fr;
	grid-gap: 0.5rem;
	align-items: center;
	cursor: pointer; 

	.checkbox{
		width: 1rem;
		height: 1rem;
		border-radius: 0.25rem;
		background: colour(blue);
		color: colour(white);
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0.75rem;
		> *{
			opacity: 0;
			transition: 0.2s ease;
		}
	}

	input{
		display: none;

		&:disabled{
			~ .checkbox{
				opacity: 0.2;
				cursor: not-allowed;
			}
		}

		&:checked{
			~ {
				.checkbox{
					> *{
						opacity: 1;
					}
				}
			}
		}
	}
}

.outside-fakebox{
	display: none;

	&:checked + .fakebox{
		.checkbox{
			> *{
				opacity: 1;
			}
		}
	}

	&:disabled + .fakebox{
		.checkbox{
			opacity: 0.2;
			cursor: not-allowed;
		}
	}
}

.builder-modal-button{
	position: absolute;
	bottom: space(0.1);
	right: space(0.1);
	font-size: 16px;
	padding: 10px 20px;
}

.input-labels-use-page-background{
	.input-wrapper label{
		background: var(--pageBackground);
	}

	.set-label-white-background{
		.input-wrapper label{
			background: var(--white);
		}
	}
}