.help-box{
	position: fixed;
	z-index: 99;
	top: vw(100px);
	left: vw(260px);
	width: vw(560px);
	opacity: 0;
	pointer-events: none;
	transform: translateX(-20vw) translateY(50vw) scale(0);
	transform-origin: left;
	transition: 0.5s ease;
	max-height: 80vh;
    overflow: auto;

    @media screen and (max-width: 1600px){
    	width: 50vw;
    }

    @media screen and (max-width: 800px){
    	width: 90vw;
    }

	&.open{
		pointer-events: initial;
		opacity: 1;
		transform: translateX(0);
	}

	&.browser-alert{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
		pointer-events: initial;

		.close{
			display: none;
		}
	}

	&.static{
		position: static;
		transform: none;
		opacity: 1;
		pointer-events: initial;
	}

	&.full-width{
		width: 100%;
	}
}

.help-box-header{
	position: relative;
	padding: space() space(3);
	color: colour(white);
	background: colour(blue);
	border-top-left-radius: space();
	border-top-right-radius: space();
	text-align: center;

	.close{
		position: absolute;
		top: 50%;
		right: space(1.5);
		transform: translateY(-50%) translateY(0.25rem);
		font-size: 1.5rem;
		cursor: pointer;
	}
}

.help-box-content{
	background: colour(white);
	padding: space(2) space(3);
	border-bottom-left-radius: space();
	border-bottom-right-radius: space();
}

