.modal{
	position: fixed;
	z-index: 99;
	top: 2vh;
	width: 35vw;
	left: 13vw;
	opacity: 0;
	transform: translateX(-20vw) translateY(50vw) scale(0);
	transform-origin: left;
	animation: nicelyIn 1s forwards;
	cursor: initial;
	box-shadow: 1px 5px 1rem 0 rgba(0, 0, 0, 0.4);
	border-radius: space();
	max-height: 90vh;
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar{
		display: none;
	}

	+ .modal, &.force-second{
		left: 49vw;
	}

    @media screen and (max-width: 800px){
    	width: 80vw;

    	+ .modal, &.force-second{
			left: 0vw;
			z-index: 100;
		}
    }

	&.centred{
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		animation: none;
	}

	&.wide{
		width: 80vw;
	}

	&.show{
		opacity: 1;
		pointer-events: initial;
	}
}

.modal-header{
	position: relative;
	padding: space() space(3);
	color: colour(white);
	background: colour(blue);
	border-top-left-radius: space();
	border-top-right-radius: space();
	text-align: center;

	.close{
		position: absolute;
		top: 50%;
		right: space(1.5);
		transform: translateY(-50%) translateY(0.25rem);
		font-size: 1.5rem;
		cursor: pointer;
		color: colour(white);
	}
}

.modal-content{
	background: colour(white);
	padding: space(2) space(3);
	border-bottom-left-radius: space();
	border-bottom-right-radius: space();
}

.import-modal{
	transform: translateX(-20vw) translateY(50vw) scale(0);
	animation: none;

	&.open{
		animation: nicelyIn 1s forwards;
	}
}

.modal-cover{
	position: absolute;
	width: calc(100% - #{space(6)});
	height: calc(100% - #{space(4)});
	bottom: 0;
	left: 0;
	padding: space(2) space(3);
	border-bottom-left-radius: space();
	border-bottom-right-radius: space();
	background: colour(white);
	z-index: 10;
}

.warning-overlay{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 99999;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	transition: 0.2s ease;
	overflow: hidden;
}
.warning-centre{
	max-width: 800px;
	width: 100%;
	margin: space();
	padding: space(1.5) space(2);
	background: colour(pageBackground);
	transform: translateY(100vh);
	transition: 0.3s ease;
	transition-delay: 0.4s;
	border-radius: space();
}

.warning-overlay.active{
	opacity: 1;
	pointer-events: initial;

	.warning-centre{
		transform: translateY(0);
	}
}

#general-modal-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#general-modal-wrapper dialog, .dialog-modal{
	pointer-events: initial;
	max-width: clamp(600px, 100%, 90vw);
	max-height: 80vh;
	width: 100%;
	padding: 0;
	border: 0;
	background: none;

	.close{
		background: none;
	}

	.modal-header{
		position: sticky;
		top: 0;
		z-index: 99;
	}
}

#general-modal-wrapper dialog{
	top: 50%;
	transform: translateY(-50%);
}

.builder-modal{
	.builder{
		white-space: pre;
	}

	.modal-cover{
		display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-direction: column;
	}
}