<template>
	<div class="modal">
		<div class="modal-header">
			<h5>{{ this.title }}</h5>
			<div class="close" @click="closeEditView()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="modal-content">
			<form @submit.prevent="updateEvent" :id="'event-form-'+item.id" :data-id="item.id">
				<input-help required :label="helpText.edit.option_edit.name" :value="this.opt.name" :helptext="helpText.edit.option_edit.name_help" name="name"></input-help>
				<div class="data-field event-option-datafield" v-for="(label, key) in helpText.edit.option_edit.options">
					<div class="data-field" v-if="!key.includes('_help')">

						<input-help :label="label" :value="getOpt(key)" :helptext="helpText.edit.option_edit.options[key+'_help']" :name="'data['+key+']'" v-if="getType(key) == 'input'"></input-help>

						<input-help :label="label" :value="getOpt(key)" :helptext="helpText.edit.option_edit.options[key+'_help']" :name="'data['+key+']'" type="number" min="0" max="1000" step="1" v-if="getType(key) == 'number'"></input-help>

						<checkbox-help :label="label" :value="getOpt(key)" :helptext="helpText.edit.option_edit.options[key+'_help']" :name="'data['+key+']'" v-if="getType(key) == 'checkbox'"></checkbox-help>

						<textarea-help :label="label" :value="getOpt(key)" :helptext="helpText.edit.option_edit.options[key+'_help']" :name="'data['+key+']'" v-if="getType(key) == 'textarea'"></textarea-help>

						<select-help :label="label" :value="getOpt(key)" :helptext="helpText.edit.option_edit.options[key+'_help']" :name="'data['+key+']'" :values="getValues(key)" v-if="getType(key) == 'select'"></select-help>

						<datalist-help :label="label" :value="getOpt(key)" :helptext="helpText.edit.option_edit.options[key+'_help']" :name="'data['+key+']'" :values="getValues(key)" v-if="getType(key) == 'datalist'"></datalist-help>

						<builder @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" :label="label" :value="getOpt(key)" :uses="key == 'trigger' ? ['scopes', 'conditions'] : ['scopes', 'conditions', 'effects']" :helptext="helpText.edit.option_edit.options[key+'_help']" :name="'data['+key+']'" v-if="getType(key) == 'builder'"></builder>
					</div>
				</div>
				<btn text="Submit" wide="true"></btn>
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		props:[
			'isEdit', 'item', 'helpText', 'toolHelp', 'optionEdit'
		],
		created(){
			this.title = this.optionEdit == 'new' ? this.helpText.edit.option_edit.add : this.helpText.edit.option_edit.edit;
			if(document.getElementById('event-json-'+this.item.id)){
				this.eventData = JSON.parse(document.getElementById('event-json-'+this.item.id).innerHTML);
			}else{
				this.item.name = '';
				this.item.data = {};
			}
		},
		data(){
			var opt = {"name":"", data: "{}"};
			$.each(this.helpText.edit.option_edit.options, function(key, value){
				if(!key.includes('_help')){
					opt[key] = "";
				}
			});
			if(this.optionEdit != 'new'){
				opt = this.item.options[this.optionEdit];
			}
			return {
				opt : opt
			}
		},
		methods:{
			closeEditView(){
				this.$emit('closeComponents');
			},
			openSecondaryModal(event, modal, data = null){
				this.$emit('openSecondaryModal', modal, data);
			},
			closeSecondaryModal(){
				this.$emit('closeSecondaryComponent');
			},
			getOpt(key){
				return JSON.parse(this.opt.data)[key];
			},
			updateEvent(){
				const config = {
					headers: {
						'content-type': 'multipart/form-data',
						'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
					}
				}
				let comp = this;
				let eventData = null;
				let formData = new FormData();
				formData.append('id', this.item.id);
				var idPrefix = '[data-id="'+this.item.id+'"] ';
				formData.append('name', $(idPrefix+'[name="name"]').val());
				formData.append('data', JSON.stringify(getFormDataByInputName('event-form-'+this.item.id, 'data')));
				formData.append('option_index', this.optionEdit);
				$('#event-form').find('button').attr('disabled', 'true');
				axios.post('/events/update-option', formData, config)
					.then(function (response) {
						eventData = response.data;
						comp.updateData(eventData);
					});
				
			},
			updateData(eventData){
				this.$emit('updateData', eventData);
				this.$emit('closeComponents');
			},
			getType(key){
				if(["ai_chance"].includes(key)){
					return 'number';
				}
				return 'builder';
			},
			getValues(key){
				return [];
			}
		}
	}
</script>