<template>
	<div class="event" :data-is-open="this.isActive" :data-id="this.setID" :data-type="type">
		<div class="underlay"><asset-stain></asset-stain></div>
		<div class="event-delete" @click="deleteEvent()">
			<svg class="feather-icon icon-trash-2"><use xlink:href="#trash-2"></use></svg>
		</div>
		<h3 v-if="type == 'news'" class="news-title">{{ this.info.helpText.news_title }}</h3>
		<img class="event-image" :src="'/media/find/'+json.gfx" @click="openEventComponent()" loading="lazy">
		<div class="event-title" @click="openEventComponent()">
			{{ json.name }}
		</div>
		<div class="event-description">
			<p v-if="json.data.description">
				{{ json.data.description }}
			</p>
		</div>
		<div class="event-options">
			<div class="event-option-wrapper" v-if="json.options" v-for="(item, key) in json.options">
				<button  class="event-option" @click="openEventOption(key)">{{ item.name }}</button>
				<div class="event-delete" @click="deleteEventOption(key)">
					<svg class="feather-icon icon-trash-2"><use xlink:href="#trash-2"></use></svg>
				</div>
			</div>
			<button class="event-option" @click="openEventOption('new')"><svg class="feather-icon icon-plus"><use xlink:href="#plus"></use></svg></button>
		</div>
		<div class="event-game-id">
			{{ this.eventID }}.{{ (listindex + 1) }}
		</div>
		<div class="event-json help-text-file" :id="'event-json-'+this.setID">{{ this.data }}</div>
		<component v-bind:is="eventComponent" v-bind="info" @closeComponents="closeComponents()" @openSecondaryModal="openSecondaryComponent" @updateData="updateData"></component>
		<component v-bind:is="secondaryComponent" @closeSecondaryModal="closeSecondaryComponent" @updateGFX="updateGFX" @updateData="updateData" v-bind="info" ></component>
	</div>
</template>

<script>
	export default {
		props:[
			'id','json', 'type', 'helpText', 'listindex'
		],
		created() {
			this.data = JSON.stringify(this.json);
			this.isActive = false;
		},
		mounted() {
		},
		methods: {
			closeComponents(){
				this.secondary = 'placeholder';
				this.comp = 'placeholder';
				this.isActive = false;
				if(this.id == 'new'){
					this.$emit('removeeventfromlist', this.id);
				}
			},
			openEventComponent(){
				this.comp = 'edit-event';
				this.isActive = true;
			},
			closeEventComponent(){
				this.comp = 'placeholder';
				this.isActive = false;
			},
			openSecondaryComponent(modal, data = null){
				this.secondary = modal;
				this.info.secondaryData = data;
			},
			closeSecondaryComponent(){
				this.secondary = 'placeholder';
			},
			openEventOption(id){
				this.info.optionEdit = id;
				this.comp = 'event-option';
				this.isActive = true;
			},
			deleteEventOption(id){
				var optID = id;
				const config = {
					headers: {
						'content-type': 'multipart/form-data',
						'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
					}
				}
				let toolHelp = this.info.toolHelp;
				let comp = this;
				let eventData = null;
				let formData = new FormData();
				formData.append('id', this.json.id);
				formData.append('option_index', optID);
				$('#event-form').find('button').attr('disabled', 'true');

				jconfirm({
					title: toolHelp.delete_title,
					content: toolHelp.delete_text,
					buttons: {   
						ok: {
							text: toolHelp.delete_confirm,
							btnClass: 'button',
							keys: ['enter'],
							action: function(){
								axios.post('/events/delete-option', formData, config)
									.then(function (response) {
										eventData = response.data;
										comp.updateData(eventData);
									});
							}
						},
						cancel: {
							text: toolHelp.delete_cancel,
							btnClass: 'button invert white'
						}
					}
				});
			},
			updateGFX(gfxId){
				this.info.item.gfx = gfxId;
			},
			updateData(eventData){
				this.setID = eventData.id;
				this.info.item.id = eventData.id;
				this.info.item.event_group_id = eventData.event_group_id;
				this.info.item.name = eventData.name;
				this.info.item.gfx = eventData.gfx;
				this.info.item.data = eventData.data;
				this.info.item.options = eventData.options;
				this.info.item.type = eventData.type;
				if(document.getElementById('event-json-'+this.id)){
					let newData = {};
					newData['id'] = eventData.id;
					newData['gfx'] = eventData.gfx;
					newData['type'] = eventData.type;
					newData['data'] = eventData.data;
					newData['options'] = eventData.options;
					newData['event_group_id'] = eventData.event_group_id;
					document.getElementById('event-json-'+this.id).innerHTML = JSON.stringify(newData);
				}
				if(!this.info.item.data){
					this.info.item.data = {};
				}
			},
			deleteEvent(){
				const config = {
					headers: {
						'content-type': 'multipart/form-data',
						'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
					}
				}
				let toolHelp = this.info.toolHelp
				let env = this;
				jconfirm({
					title: toolHelp.delete_title,
					content: toolHelp.delete_text,
					buttons: {   
						ok: {
							text: toolHelp.delete_confirm,
							btnClass: 'button',
							keys: ['enter'],
							action: function(){
								let formData = new FormData();
								formData.append('id', env.id);
								axios.post('/events/delete', formData, config)
									.then(function (response) {
										env.$emit('removeeventfromlist', env.id);
									});

								
							}
						},
						cancel: {
							text: toolHelp.delete_cancel,
							btnClass: 'button invert white'
						}
					}
				});
			}
		},
		data: function(){
			return {
				comp: (this.json.id == 'new') ? 'edit-event' : "placeholder",
				secondary: "placeholder",
				setID: this.json.id,
				isActive: false,
				eventID: document.getElementById('event-game-id').innerHTML,
				info:{
					isEdit : true,
					item: this.json,
					helpText: this.$parent.helpText,
					toolHelp: this.$parent.toolHelp,
					tool: 'event',
					queryString: null,
					gfxObject: null,
					gfxList : 'gfx-list',
					optionEdit: null
				}
			}
		},
		computed: {
			eventComponent: function(){
				return this.comp.toLowerCase();
			},
			secondaryComponent: function(){
				return this.secondary.toLowerCase();
			}
		}
	}
</script>
