<template>
	<div id="general-modal-wrapper">
		<dialog id="createToolModal" open>
			<div class="modal-header">
				<h5>{{ title }}</h5>
				<button class="close" @click="$root.setGlobalModal('placeholder')"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></button>
			</div>
			<div class="modal-content">
				<slot></slot>
			</div>
		</dialog>
	</div>
</template>

<script>
	export default {
		props: ['title']
	}
</script>