<template>
	
	<div class="mod-preview">
		<div class="mod-image" :style="'background-image:url(/media/find/'+mod.media_id+')'"></div>
		<div class="mod-details">
			<h3>{{ mod.name }}</h3>
			<div class="grid" v-if="list.length">
				<div class="grid-col-span-6" v-for="item in list">
					<a :href="link_preview+'/'+item.id">{{ item[preview_text_property] }}</a>
				</div>
			</div>
			<div v-if="list.length == 0">
				<p>Nothing to show here</p>
			</div>
		</div>
	</div>

</template>

<script>
	export default {
		props: ['mod', 'list', 'link_preview', 'preview_text_property']
	}
</script>