<template>
	<div class="modal">
		<div class="modal-header">
			<h5>Choose GFX</h5>
			<div class="close" @click="closeSecondaryModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="modal-content">
			<div class="data-field" style="margin-bottom: 1rem;">
				<div class="input-wrapper">
					<input class="default-input gfxListSearch" type="text" placeholder="Search GFX" @keyup="searchGFXList()">
					<label>Search GFX</label>
				</div>
			</div>
			<div>
				<h3>Default GFX</h3>
				<div class="gfx-list default" id="gfxDefaultImages">
					<img :src="spriteMap()" @load="removeLoader(index)" :style="'object-position: -'+getX(index)+'px -'+getY(index)+'px'" class="gfx-image gfx-image-sprite" :data-id="item.id" :data-filename="item.filename" v-for="(item, index) in this.gfx.default">
				</div>
			</div>
			<div v-if="this.gfx.custom">
				<h3 style="margin-top: 2rem;">Custom GFX</h3>
				<div class="grid-col-span-12">
					<p><label for="custom_gfx">Choose new custom GFX</label>
					<input type="file" name="custom_gfx" id="custom_gfx"></p>
					<p><button type="button" class="button" @click="uploadCustomGFX()">Upload GFX</button></p>
					<p>&nbsp;</p>
				</div>
				<div class="gfx-list">
					<img :src="'/media/find/'+item.id" loading="auto" class="gfx-image" :data-id="item.id" :data-filename="item.filename" v-for="item in this.gfx.custom">
				</div>
				
			</div>
		</div>
	</div>
</template>

<style scoped>
.gfx-list{
	max-height: 25vh;
	overflow-y: auto;
	position: relative;
}
.gfx-list > *{
	z-index: 2;
}
.gfx-list.default::before{
	content: '';
	position: absolute;
	top: 30px;
	left: calc(50% - 0.5em);
	width: 25px;
	height: 25px;
	background-image: url('/img/feather-icons/loader.svg');
	background-position: center;
	background-size: contain;
	animation: spin infinite 2s ease;
}
#gfxDefaultImages.loaded::before{
	display: none;
}
</style>

<script>
	export default {
		props: [
			'helpText', 'toolHelp', 'item', 'tool', 'queryString', 'gfxList', 'gfxObject'
		],
		data(){
			var toJSON = document.getElementById(this.gfxList).innerHTML;
			this.gfx = false;
			try{
				JSON.parse(toJSON);
			} catch (e){
				
			}
			
			if(!this.gfx){
				var json = JSON.parse(toJSON);
				this.gfx = json;
			}

			return{
				gfx: this.gfx,
				spiriteMap : this.gfx.spritemap
			}
		},
		methods: {
			closeSecondaryModal(){
				this.$emit('closeSecondaryModal');
			},
			searchGFXList(){
				var val = $('.gfxListSearch').val().toLowerCase();
				if(val != ''){
					$('.gfx-list .gfx-image').each(function(){
						var file = $(this).attr('data-filename').toLowerCase();
						if(file.includes(val)){
							$(this).show();
						}else{
							$(this).hide();
						}
					});
				}else{
					$('.gfx-list .gfx-image').show();
				}
			},
			removeLoader(index){
				if(index > 2){
					$('#gfxDefaultImages').addClass('loaded');
				}
			},
			uploadCustomGFX(){
				let globalData = this;
				const config = {
					headers: {
						'content-type': 'multipart/form-data',
						'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
					}
				}

				let formData = new FormData();
				formData.append('custom_gfx', $('#custom_gfx').prop('files')[0]);
				axios.post('/media/upload-custom-gfx', formData, config)
					.then(function (response) {
						globalData.gfx.custom.push(response.data);
						globalData.updateGFX(response.data.id);
					});
			},
			updateGFX(gfxId){
				if(this.tool != 'country' && this.tool != 'decision' && this.tool != 'ideology'){
					if(this.item.id != 'new'){
						const config = {
							headers: {
								'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
							}
						}
						let formData = new FormData();
						formData.append('id', this.item.id);
						formData.append('media_id', gfxId);
						axios.post('/'+this.tool+'/update-media'+(this.queryString ? this.queryString : ''), formData, config);
					}
					var elem = $('[name="gfx"]').closest('.gfx-select');
					elem.find('img').attr('src', '/media/find/'+gfxId);
					this.$emit('updateGFX', gfxId);
				}
				//Special snowflakes...
				if(this.tool == 'country'){
					if(this.gfxObject){
						var elem = $('[name="'+this.gfxObject+'"]').closest('.gfx-select');
						elem.find('input').val(gfxId).trigger('change');
						elem.find('img').attr('src', '/media/find/'+gfxId);
					}
				}

				if(this.tool == 'decision'){
					if(this.gfxObject){
						var elem = $('[name="'+this.gfxObject+'"]').closest('.gfx-select');
						elem.find('input').val(gfxId).trigger('change');
						elem.find('img').attr('src', '/media/find/'+gfxId);
					}
				}

				if(this.tool == 'ideology'){
					if(this.gfxObject){
						var elem = $('.gfx-select');
						elem.find('input').val(gfxId).trigger('change');
						elem.find('img').attr('src', '/media/find/'+gfxId);
					}
				}

				// $('.gfx-image').on('click', function(){
				// 	globalData.updateGFX($(this).attr('data-id'));
				// });
				this.$emit('closeSecondaryModal', false);
			},
			getX(index){
				var max = 10;
				var n = index / max;
				var decimal = n - Math.floor(n);
				return Math.round(decimal * 10) * 95;
			},
			getY(index){
				var max = 10;
				var f = Math.floor(index / max);
				return f * 95;
			},
			spriteMap(){
				return this.gfx.spritemap;
			}
		},
		mounted(){
			let globalData = this;
			$('.gfx-image').on('click', function(){
				globalData.updateGFX($(this).attr('data-id'));
			});
		}
	}
</script>