<template>
	<div class="gfx-select">
		<div class="grid">
			<div class="grid-col-span-tablet-3 grid-col-span-6" :style="(type == 'decision' && name == 'description_gfx') ? 'position:relative;': ''">
				<img :src="'/media/find/'+this.gfx+'/preview'">
				<input :value="data.gfx" :name="this.inputName" style="display: none">
				<div class="removeCurrentGFX" v-if="type == 'decision' && name == 'description_gfx'" @click="resetGFX(inputName)">
					<svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg>
				</div>
			</div>
			<div class="grid-col-span-tablet-9 grid-col-span-6">
				<button type="button" class="button inverted full-width" @click="openSecondaryModal"><svg class="feather-icon icon-image"><use xlink:href="#image"></use></svg> Choose GFX</button>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: [
			'data', 'type', 'name'
		],
		data: function(){
			var inputName = 'gfx';
			if(this.data.hasOwnProperty('name')){
				if(this.data.name != '' && this.type != 'focus' && this.type != 'idea' && this.type != 'event' && this.type != 'decision'){
					inputName = this.data.name;
				}
			}
			if(this.name){
				inputName = this.name;
			}

			var gfx = this.data.gfx;

			if(this.type == 'ideology'){
				gfx = this.data.data.gfx;
			}

			if(this.name == 'description_gfx'){
				var gfx = this.data.description_gfx;
			}

			if(this.$parent.hasOwnProperty('toolHelp')){
				var toolHelp = this.$parent.toolHelp;
			}else{
				var toolHelp = this.$parent.toolhelp;
			}

			return {
				comp: "placeholder",
				toolHelp : toolHelp,
				info:{
					helpText: this.$parent.helpText,
					toolHelp: toolHelp
				},
				inputName : inputName,
				gfx : gfx
			}
		},
		mounted() {
		},
		methods: {
			openSecondaryModal(event){
				this.$emit('openSecondaryModal', event, 'gfx-modal');
			},
			closeSecondaryModal(){
				this.$emit('closeSecondaryModal');
			},
			resetGFX(name){
				var elem = $('input[name="'+name+'"]');
				if(elem.val() != '1'){
					elem.val('1');
					elem.parent().find('img').attr('src', '/media/find/1');
				}
			}
		},
		computed: {
			gfxModal: function(){
				return this.comp.toLowerCase();
			}
		}
	}
</script>