<template>
	<div class="help-box" :id="'help-'+help">
		<div class="help-box-header">
			<h5>{{ header }}</h5>
			<div class="close" :data-help="help"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="help-box-content" v-html="text">
		</div>
	</div>
</template>

<script>
	export default {
		props:[
			'header','text','help'
		],
		created() {


		},
		mounted() {
		}
	}
</script>
