<template>
	<div>
		<span class="sidebar-menu-item showHelpText" :data-help="helptext"><svg :class="'feather-icon icon-'+icon"><use :xlink:href="'#'+icon"></use></svg>{{ title }}</span>

		<help-box :header="help_header" :text="help_text" :help="helptext" v-if="helptext"></help-box>
	</div>
</template>

<script>
	export default {
		props:[
			'icon','title', 'helptext', 'help_header', 'help_text'
		],
		created() {
		},
		mounted() {
		}
	}
</script>
