<template>
	<div class="modal">
		<div class="modal-header">
			<h5>{{ toolHelp.builder_title }}</h5>
			<div class="close" @click="closeSecondaryModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="modal-content builder-modal-content">
			<p>{{ toolHelp.builder_description }}</p>
			<div class="builder" id="builderOutput" contenteditable="true">
				<button contenteditable="false" class="addToBuilder" data-tabs="0">+</button>
			</div>
			<p>&nbsp;</p>
			<p><button class="button wide" @click="updateData">{{ toolHelp.builder_submit }}</button></p>
		</div>
	</div>
</template>
<style scoped>
	.builder{
		text-align: left;
		white-space: pre-wrap;
		outline: none;
	}
</style>
<script>
	export default {
		props: [
			'helpText', 'toolHelp', 'item', 'secondaryData'
		],
		data(){
			this.dataAttribute = this.secondaryData.replace('data[', '').replace(']', '');
			
			var uses = $('[name="'+this.secondaryData+'"]').attr('data-uses') != '' ? $('[name="'+this.secondaryData+'"]').attr('data-uses').split(',') : '';
			var builderData = {};
			var builderJSON = getBuilderResults();
			if(uses.length){
				//Add custom ones at the top
				$.each(uses, function(key, item){
					if(builderJSON.hasOwnProperty('custom_'+item)){
						$.extend(true, builderData, builderJSON['custom_'+item]);
					}
				});
				$.each(uses, function(key, item){
					$.extend(true, builderData, builderJSON[item]);
				});
			}else{
				$.each(builderJSON, function(key, value){
					if(key != 'version'){
						$.extend(true, builderData, value);
					}
				});
			}

			return{
				builderData : builderData,
				dataAttr : this.dataAttribute,
				entryChooser : null
			}
		},
		methods: {
			closeSecondaryModal(){
				this.$emit('closeSecondaryModal');
			},
			updateData(){
				$('.addToBuilder').remove();
				$('.builderSearch').remove();
				var val = $('#builderOutput').html().replace(/(<([^>]+)>)/gi, "");

				var gtp = "&gt;",
    			gtp = new RegExp(gtp, "g");
    			var ltp = "&lt;",
    			ltp = new RegExp(ltp, "g");
				$('body').find('[name="'+this.secondaryData+'"]').val(val.replace(gtp, '>').replace(ltp, '<'));
				if(this.hasOwnProperty('item')){
					if(this.item.hasOwnProperty('data')){
						this.item.data[this.dataAttr] = val;
					}
				}
				
				
				this.$emit('updateData', this.item);
				this.$emit('closeSecondaryModal');
			},
			setupBuilderSearch(){
				var env = this;
				//Add click event to all addToBuilder buttons
				$('.addToBuilder').on('click', function(){
					var tabs = parseInt($(this).attr('data-tabs'));
					var text = '<div class="builderSearch">';
					text += '<p class="input-wrapper"><input class="default-input builderSearchInput" placeholder="'+env.toolHelp.builder_search+'"><label class="input-label">'+env.toolHelp.builder_search+'</label></p>';
					//Loop over builderData as that contains the key for lang file, and data for the stuff
					Object.keys(env.builderData).forEach(function(key){
						var obj = env.builderData[key];
						text += '<div class="builder-output" contenteditable="false" data-gameid="'+obj.game_id+'" data-outcome="'+obj.default_outcome+'">';
							text += '<p class="output-title">'+obj.description+'</p>';
							text += '<pre class="output-preview">'+obj.example+'</pre>';
						text += '</div>';
					});
					text += '</div>';
					text += '<button class="addToBuilder" contenteditable="false" data-tabs="'+tabs+'">+</button>';
					//Replace the button with the search area
					$(this).replaceWith(text);

					//Add keyup handler for search input
					$('.builderSearchInput').on('keyup', function(){
						var val = $(this).val();
						var re = new RegExp(val, 'i');
						if(val == ''){
							$(this).parent().parent().find('.builder-output').show();
						}else{
							$(this).parent().parent().find('.builder-output').each(function(){
								var gameID = $(this).attr('data-gameid');
								var text = $(this).find('.output-title').text();

								if(gameID.match(re) || text.match(re)){
									$(this).show();
								}else{
									$(this).hide();
								}
							});
						}
					});

					//Add click handler for builder output
					$('.builder-output').on('click', function(){
						//Get tabs number of nearest + 
						var tabs = parseInt($(this).parent().next().attr('data-tabs'));
						var tab = "\t";
						var tabStr = tab.repeat(tabs);

						var outcome = tabStr;
						var step = $(this).attr('data-outcome');

						if(step){
							outcome += step+"\n";
						}else{
							outcome += "?\n";
						}
						outcome = outcome.replace('TAG', '<span contenteditable="false" class="choose-country">TAG</span>').replace('state_id', '<span contenteditable="false" class="choose-state">STATE</span>').replace('STATEID', '<span contenteditable="false" class="choose-state">STATE</span>').replace('NEWLEVEL', tabStr+'<button class="addToBuilder" contenteditable="false" data-tabs="'+(tabs + 1)+'">+</button>');
						$(this).parent().replaceWith(outcome);

						//Slight delay, as no delay caused issues
						setTimeout(function(){
							//Add the click handler again for new button added 
							env.setupBuilderSearch();
						}, 100);
					});

					//Add the click handler again for new button added 
					env.setupBuilderSearch();
				});

				$('.choose-country').on('click', function(){
					if(!$('.modal-cover').length){
						env.entryChooser = $(this);
						var content = '<div class="modal-cover" contenteditable="false">';
							content += '<div class="input-wrapper">';
								content += '<input class="default-input" id="extra-list" type="text" list="builder-extra-list">';
								content += '<datalist id="builder-extra-list">';
									content += '<option></option>';
									var entryList = getCountryTags();
									Object.keys(entryList).forEach(function(key){
										content += '<option value="'+key+'">'+entryList[key]+'</option>';
									});
								content += '</datalist>';
							content += '</div>';
							content += '<p>&nbsp;</p>';
							content += '<p><span class="button invert" id="swapOutEntryChooser">'+env.toolHelp.builder_submit+'</span></p>';
						content += '</div>';
						$('.builder-modal-content').append(content);
						$('body').find('#swapOutEntryChooser').on('click', function(){
							env.entryChooser.replaceWith($('#extra-list').val());
							env.entryChooser = null;
							$('.builder-modal-content').find('.modal-cover').remove();
						});
					}
				});
				$('.choose-state').on('click', function(){
					if(!$('.modal-cover').length){
						env.entryChooser = $(this);
						var content = '<div class="modal-cover" contenteditable="false">';
							content += '<div class="input-wrapper">';
								content += '<input class="default-input" id="extra-list" type="text" list="builder-extra-list">';
								content += '<datalist id="builder-extra-list">';
									content += '<option></option>';
									var entryList = getStateResults();
									Object.keys(entryList).forEach(function(key){
										content += '<option value="'+entryList[key].id+'">'+entryList[key].name+'</option>';
									});
								content += '</datalist>';
							content += '</div>';
							content += '<p>&nbsp;</p>';
							content += '<p><span class="button invert" id="swapOutEntryChooser">'+env.toolHelp.builder_submit+'</span></p>';
						content += '</div>';
						$('.builder-modal-content').append(content);
						$('#swapOutEntryChooser').on('click', function(){
							env.entryChooser.replaceWith($('#extra-list').val());
							env.entryChooser = null;
							$('.builder-modal-content').find('.modal-cover').remove();
						});
					}
				});
			}
		},
		mounted(){
			let val = $('[name="'+this.secondaryData+'"]').val();
			if(val){
				let replaced = '';
				let lines = val.split("\n");
				lines.forEach(function(l){
					if(l.trim() == '}'){
						let tabs = (l.match(/\t/g) || []).length;
						replaced += '<button contenteditable="false" class="addToBuilder" data-tabs="'+(tabs + 1)+'">+</button>';
						replaced += l+"\n";
					}else{
						replaced += l+"\n";
					}
				});
				replaced += '<button contenteditable="false" class="addToBuilder" data-tabs="0">+</button>';
				replaced = replaced.replace('TAG', '<span contenteditable="false" class="choose-country">TAG</span>').replace('STATE', '<span contenteditable="false" class="choose-state">STATE</span>');
				$('#builderOutput').html(replaced);
			}
			this.setupBuilderSearch();
		}
	}
</script>