<template>
	<div class="modal" id="traits-modal">
		<div class="modal-header">
			<h5>Trait Selector</h5>
			<div class="close" @click="closeSecondaryModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="modal-content builder-modal-content">
			<p>Select which traits you would like to assign from the list below.</p>
			<p><small>All traits will be shown in the language your ideas list is set to, not what your account is set to.</small></p>
			<div class="selected-traits">
				<div class="trait-item" v-for="(item,index) in this.currentTraits" :data-id="item.index" :key="item.index">
					<div class="trait-selction">
						{{ item.name }}
						<button class="remove" @click="removeIdea(item.index)">
							<svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg>
						</button>
					</div>
				</div>
			</div>
			<div class="trait-search" v-if="this.showSearch">
				<p>&nbsp;</p>
				<h4 class="text-centre">Search Traits</h4>
				<div class="input-wrapper">
					<input type="text" class="default-input" placeholder="..." @keyup="searchTraits()" id="traitSearch">
				</div>
				<p>&nbsp;</p>
				<div class="selected-traits full">
					<div class="trait-item" v-for="(item,index) in getTraitList()" :data-id="index">
						<div class="trait-selction">
							{{ traitLocalisation(index) }}
							<button class="add" @click="addIdea(index)">
								<svg class="feather-icon icon-plus"><use xlink:href="#plus"></use></svg>
							</button>
						</div>
					</div>
				</div>
			</div>
			<button class="addToBuilder" @click="showTraitSearch()">+</button>
		</div>
	</div>
</template>
<script>
	export default {
		props: [
			'helpText', 'toolHelp', 'item', 'secondaryData'
		],
		data(){
			var env = this;
			this.type = $(env.secondaryData).closest('.input-with-help').attr('data-type');
			return{
				builderData : getTraitsResults(),
				dataAttr : this.secondaryData,
				entryChooser : null,
				localisation : getTraitsResults().localisation,
				type: this.type,
				showSearch : false,
				currentTraits : null
			}
		},
		methods: {
			addIdea(index){
				var env = this;
				$('body').find(env.secondaryData).val($('body').find(env.secondaryData).val() + ' ' + index);
				var name = index;
				if(env.localisation.hasOwnProperty(index)){
					if(env.localisation[index].hasOwnProperty('name')){
						name = env.localisation[index].name;
					}
				}
				this.currentTraits.push({index:index,name:name});
				$('.selected-traits.full [data-id="'+index+'"]').remove();
			},
			removeIdea(index){
				var env = this;

				var split = $(env.secondaryData).val().split(' ');
				var string = "";
				$.each(split, function(key, value){
					if(value != "" && value != index){
						string += value + ' ';
					}
				});
				$(env.secondaryData).val(string);
				this.currentTraits = this.getCurrentTraits();
			},
			traitLocalisation(index){
				if(this.localisation.hasOwnProperty(index)){
					if(this.localisation[index].hasOwnProperty('name')){
						return this.localisation[index].name.replace(/\n/g, ' - ').replace("\n", ' - ').replace(/\\n/g, ' - ');
					}
				}
				return index;
			},
			getTraitList(){
				if(this.type == 'unit' || this.type == 'units'){
					return this.builderData.unit.leader_traits;
				}else{
					return this.builderData.country.leader_traits;
				}
			},
			showTraitSearch(){
				this.showSearch = true;
				$('.addToBuilder').hide();
			},
			getCurrentTraits(){
				var env = this;
				var traits = [];
				var split = $(env.secondaryData).val().split(' ');
				
				$.each(split, function(key, value){
					if(value != ""){
						var name = value;
						if(env.localisation.hasOwnProperty(value)){
							if(env.localisation[value].hasOwnProperty('name')){
								name = env.localisation[value].name;
							}
						}
						traits.push({index:value, name:name});
					}
				});
				return traits;
			},
			searchTraits(){
				var text = $('#traitSearch').val().toLowerCase();
				if(text != ""){
					$('.selected-traits.full .trait-item').hide();
					$('.selected-traits.full .trait-item').each(function(){
						if($(this).text().toLowerCase().indexOf(text) > -1 || $(this).attr('data-id').indexOf(text) > -1){
							$(this).show();
						}
					});
				}else{
					$('.selected-traits.full .trait-item').show();
				}
			},
			closeSecondaryModal(){
				this.$emit('closeSecondaryModal');
			},
			setupBuilderSearch(){
				var env = this;
			}
		},
		mounted(){
			if(getTraitsResults().language != $('#traits-lang').attr('data-lang')){
				var env = this;
				$.get('/get-data/traits?lang='+$('#traits-lang').attr('data-lang'), function(data){
					env.builderData = data;
					window.localStorage.setItem('TraitsResults', JSON.stringify(data));
					env.localisation = data.localisation
					env.currentTraits = env.getCurrentTraits();

				});
			}else{
				this.currentTraits = this.getCurrentTraits();
			}
		}
	}
</script>