<template>
	<div class="modal wide">
		<div class="modal-header">
			<h5>{{ this.helpText.title }}</h5>
			<div class="close" @click="closeglobalmodal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="modal-content">
			<form action="/profile/update" method="POST" enctype="multipart/form-data">
				<input type="hidden" name="_token" :value="this.csrf">
				<div class="grid" style="align-items: center;">
					<div class="grid-col-span-12 grid-col-span-laptop-3 text-centre">
						<label for="avatar">{{ this.helpText.avatar }}</label>
						<div class="image-upload data-field">
							<div class="user-image">
								<img id="base64" src="/img/placeholder-image.png">
							</div>
							<input type="file" class="toBase64" data-alters="base64" name="avatar">
							<p class="text-centre"></p>
						</div>
					</div>
					<div class="grid-col-span-12 grid-col-span-laptop-9 emoji-select">
						<select-help :label="this.helpText.language" value="en" helptext="" name="language" :values="this.flags"></select-help>
						<textarea-help :label="this.helpText.description" :value="this.user.description" :helptext="this.helpText.description_help" name="description"></textarea-help>
					</div>
					<div class="grid-col-span-laptop-4 grid-col-span-tablet-6 grid-col-span-12" v-for="item in this.socialLinks">
						<div class="icon-input">
							<svg :class="'feather-icon icon-'+item.name"><use :xlink:href="'#'+item.name"></use></svg>
							<input-help :label="item.title" :value="item.value" :helptext="item.help" :name="'link['+item.name+']'"></input-help>
						</div>
					</div>
					<div class="grid-col-span-12"><strong>{{ this.helpText.themes }}</strong></div>
					<div class="grid-col-span-tablet-2 grid-col-span-12" style="align-self: flex-start;">
						<label class="theme-tab">
							<input type="radio" value="default" name="style[theme]" :checked="currentTheme == 'default'">
							<span>{{ this.helpText.theme_default }}</span>
						</label>
						<label class="theme-tab">
							<input type="radio" value="1" name="style[theme]" :checked="currentTheme == '1'">
							<span>{{ themeNum(this.helpText.theme_num, 1) }}</span>
						</label>
						<label class="theme-tab">
							<input type="radio" value="2" name="style[theme]" :checked="currentTheme == '2'">
							<span>{{ themeNum(this.helpText.theme_num, 2) }}</span>
						</label>
					</div>
					<div class="grid-col-span-tablet-10 grid-col-span-12">
						<div class="theme-content" :data-active="currentTheme == 'default'" data-theme="default">
							<div class="grid">
								<div class="grid-col-span-6">
									<p><strong>{{ this.helpText.font_size }}</strong></p>
									<div class="input-wrapper">
										<input type="number" name="theme[default][font_size]" step="1" min="10" max="40" value="20" class="default-input font-size-changer">
									</div>
								</div>
								<div class="grid-col-span-6">
									<p><strong>{{ this.helpText.spacing }}</strong></p>
									<div class="input-wrapper">
										<input type="number" name="theme[default][space_size]" step="0.1" min="0.1" max="2" value="1" class="default-input space-changer">
									</div>
								</div>
							</div>
						</div>
						<div class="theme-content" data-theme="1" :data-active="currentTheme == '1'">
							<input type="hidden" name="theme[1][class]" class="theme-class" value="theme-menu-top">
							<div class="grid">
								<div class="grid-col-span-6">
									<p><strong>{{ this.helpText.font_size }}</strong></p>
									<div class="input-wrapper">
										<input type="number" name="theme[1][font_size]" step="1" min="10" max="40" value="20" class="default-input font-size-changer">
									</div>
								</div>
								<div class="grid-col-span-6">
									<p><strong>{{ this.helpText.spacing }}</strong></p>
									<div class="input-wrapper">
										<input type="number" name="theme[1][space_size]" step="0.1" min="0.1" max="2" value="1" class="default-input space-changer">
									</div>
								</div>
								<div class="grid-col-span-12">
									<p><strong>{{ this.helpText.colours }}</strong></p>
								</div>
								<div class="grid-col-span-laptop-4 grid-col-span-6" v-for="item in this.colourBuilder">
									<div class="colour-preview">
										<div :class="'swatch swatch-'+item.name"></div>
										<div>
											<input type="color" class="userColour" :name="'theme[1][colour]['+item.name+']'" :data-colour="item.name" :value="item.value" :data-set="item.data">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="theme-content" data-theme="2" :data-active="currentTheme == '2'">
							<input type="hidden" name="theme[2][class]" class="theme-class" value="dark-theme">
							<div class="grid">
								<div class="grid-col-span-6">
									<p><strong>{{ this.helpText.font_size }}</strong></p>
									<div class="input-wrapper">
										<input type="number" name="theme[2][font_size]" step="1" min="10" max="40" value="16" class="default-input font-size-changer">
									</div>
								</div>
								<div class="grid-col-span-6">
									<p><strong>{{ this.helpText.spacing }}</strong></p>
									<div class="input-wrapper">
										<input type="number" name="theme[2][space_size]" step="0.1" min="0.1" max="2" value="1" class="default-input space-changer">
									</div>
								</div>
								<div class="grid-col-span-12">
									<p><strong>{{ this.helpText.colours }}</strong></p>
								</div>
								<div class="grid-col-span-laptop-4 grid-col-span-6">
									<div class="colour-preview">
										<div class="swatch swatch-blue"></div>
										<div>
											<input type="color" class="userColour" name="theme[2][colour][blue]" data-colour="blue" :value="(this.colourBuilder[0].value) ? this.colourBuilder[0].value : '#637FC1'" data-set="true">
										</div>
									</div>
								</div>
								<div class="grid-col-span-laptop-4 grid-col-span-6">
									<div class="colour-preview">
										<div class="swatch swatch-dark-blue"></div>
										<div>
											<input type="color" class="userColour" name="theme[2][colour][dark-blue]" data-colour="dark-blue" :value="(this.colourBuilder[1].value) ? this.colourBuilder[1].value : '#4464AD'" data-set="true">
										</div>
									</div>
								</div>
								<div class="grid-col-span-laptop-4 grid-col-span-6">
									<div class="colour-preview">
										<div class="swatch swatch-offwhite"></div>
										<div>
											<input type="color" class="userColour" name="theme[2][colour][offwhite]" data-colour="offwhite" :value="(this.colourBuilder[2].value) ? this.colourBuilder[2].value : '#4f4f4f'" data-set="true">
										</div>
									</div>
								</div>
								<div class="grid-col-span-laptop-4 grid-col-span-6">
									<div class="colour-preview">
										<div class="swatch swatch-white"></div>
										<div>
											<input type="color" class="userColour" name="theme[2][colour][white]" data-colour="white" :value="(this.colourBuilder[3].value) ? this.colourBuilder[3].value : '#393939'" data-set="true">
										</div>
									</div>
								</div>
								<div class="grid-col-span-laptop-4 grid-col-span-6">
									<div class="colour-preview">
										<div class="swatch swatch-text"></div>
										<div>
											<input type="color" class="userColour" name="theme[2][colour][text]" data-colour="text" :value="(this.colourBuilder[4].value) ? this.colourBuilder[4].value : '#cfcfcf'" data-set="true">
										</div>
									</div>
								</div>
								<div class="grid-col-span-laptop-4 grid-col-span-6">
									<div class="colour-preview">
										<div class="swatch swatch-dark-grey"></div>
										<div>
											<input type="color" class="userColour" name="theme[2][colour][dark-grey]" data-colour="dark-grey" :value="(this.colourBuilder[5].value) ? this.colourBuilder[5].value : '#121212'" data-set="true">
										</div>
									</div>
								</div>
								<div class="grid-col-span-laptop-4 grid-col-span-6">
									<div class="colour-preview">
										<div class="swatch swatch-red"></div>
										<div>
											<input type="color" class="userColour" name="theme[2][colour][red]" data-colour="red" :value="(this.colourBuilder[6].value) ? this.colourBuilder[6].value : '#d50000'" data-set="true">
										</div>
									</div>
								</div>
								<div class="grid-col-span-laptop-4 grid-col-span-6">
									<div class="colour-preview">
										<div class="swatch swatch-green"></div>
										<div>
											<input type="color" class="userColour" name="theme[2][colour][green]" data-colour="green" :value="(this.colourBuilder[7].value) ? this.colourBuilder[7].value : '#73c236'" data-set="true">
										</div>
									</div>
								</div>
								<div class="grid-col-span-laptop-4 grid-col-span-6">
									<div class="colour-preview">
										<div class="swatch swatch-pageBackground"></div>
										<div>
											<input type="color" class="userColour" name="theme[2][colour][pageBackground]" data-colour="pageBackground" :value="(this.colourBuilder[8].value) ? this.colourBuilder[8].value : '#2a2a2a'" data-set="true">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--
					<div class="grid-col-span-6" style="align-self: flex-start;">
						<p><strong>{{ this.helpText.colours }}</strong></p>
						<div class="colour-preview-wrapper">
							<div v-for="item in this.colourBuilder">
								<div class="colour-preview">
									<div :class="'swatch swatch-'+item.name"></div>
									<div>
										<input type="color" class="userColour" :name="'style[colour]['+item.name+']'" :data-colour="item.name" :value="item.value" :data-set="item.data">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-col-span-6">
						<p><strong>{{ this.helpText.font_size }}</strong></p>
						<div class="grid">
							<div class="grid-col-span-6">
								<input type="range" name="style[font_size]" :value="fontSize" step="1" min="1" max="22" id="fontSizeChanger">
							</div>
							<div class="example-text grid-col-span-6">
								{{ this.helpText.example_text }}
							</div>
						</div>
						<p>&nbsp;</p>
						<p><strong>{{ this.helpText.spacing }}</strong></p>
						<div class="grid">
							<div class="grid-col-span-6">
								<input type="range" name="style[space_size]" :value="spaceSize" step="0.01" min="0.1" max="2" id="spaceChanger">
							</div>
							<div class="grid-col-span-6">
								<div class="example-text heightChecker">
									{{ this.helpText.spacing_text }}
								</div>
							</div>
						</div>
						<p>&nbsp;</p>
						<p><label for="reset_styles"><strong>{{ this.helpText.reset_default }}</strong></label></p>
						<p><input value="1" type="checkbox" name="reset_styles" id="reset_styles"></p>
					</div>
					-->
					<div class="grid-col-span-12 text-right">
						<btn :text="this.helpText.submit"></btn>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		data: function(){
			var helpText = JSON.parse(document.getElementById('user-help-text').innerHTML);
			var user = JSON.parse(document.getElementById('user-data').innerHTML);

			var flags = getSiteLanguages();
			var social = ['twitter', 'twitch', 'youtube', 'discord', 'steam'];
			var socialBuilder = [];
			var userLinks = user.hasOwnProperty('links') ? JSON.parse(user.links) : null;

			$.each(social, function(){
				let socialLink = {};
				socialLink['name'] = this;
				socialLink['title'] = helpText.social[this];
				socialLink['help'] = helpText.social_help[this];
				socialLink['value'] = (userLinks) ? (userLinks.hasOwnProperty(this)) ? userLinks[this] : '' : '';
				socialBuilder.push(socialLink);
			});

			var colourBuilder = [];
			var userColours = user.hasOwnProperty('style') ? JSON.parse(user.colours) : null;
			var colours = ['blue','dark-blue','offwhite','white','text','dark-grey','red','green','pageBackground'];
			$.each(colours, function(){
				let colourLink = {};
				colourLink['name'] = this;
				colourLink['value'] = (userColours) ? (userColours.hasOwnProperty(this)) ? userColours[this] : null : null;
				colourLink['data'] = (userColours) ? (userColours.hasOwnProperty(this)) ? 'unset' : userColours[this] : 'unset';
				colourBuilder.push(colourLink);
			});

			var fontSize = user.hasOwnProperty('style') ? JSON.parse(user.font_size) : null;
			var spaceSize = user.hasOwnProperty('style') ? JSON.parse(user.spacing) : null;

			var currentTheme = user.hasOwnProperty('style') ? user.style.hasOwnProperty('theme') ? user.style.theme : 'default' : 'default'; 
			return{
				helpText: helpText,
				user: user,
				csrf: $('[name="csrf-token"]').attr('content'),
				flags: flags,
				socialLinks: socialBuilder,
				colourBuilder : colourBuilder,
				fontSize : fontSize,
				spaceSize : spaceSize,
				currentTheme : currentTheme
			}
		},
		methods: {
			closeglobalmodal(){
				$('#themeFontSize').text('');
				$('#themeSpace').text('');
				$('#themeColours').text('');
				this.$emit('closeglobalmodal');
			},
			themeNum(text, num){
				return text.replace(':num', num);
			}
		},
		mounted() {
			$(".toBase64").on('change',function(){
				var alters = '#'+$(this).attr('data-alters');
				var selectedFile = this.files[0];
				selectedFile.convertToBase64(function(base64){
					$(alters).attr('src', base64);
				});
			});
			function componentToHex(c) {
				var hex = c.toString(16);
				return hex.length == 1 ? "0" + hex : hex;
			}
			function rgbToHex(r, g, b) {
				return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
			}

			// $('body').find('.userColour').each(function(){
			// 	if($(this).attr('data-set') == 'unset'){
			// 		var a = $(this).closest('.colour-preview').find('.swatch').css('background-color').split("(")[1].split(")")[0];
			// 		a = a.split(",");
			// 		var b = a.map(function(x){             //For each array element
			// 		    x = parseInt(x).toString(16);      //Convert to a base16 string
			// 		    return (x.length==1) ? "0"+x : x;  //Add zero if we get only one character
			// 		})
			// 		b = "#"+b.join("");
			// 		$(this).val(b);
			// 	}
			// });

			$('.font-size-changer').on('change', function(){
				$('#themeFontSize').text('html{ font-size: '+$(this).val()+'px !important }');
			});

			$('.space-changer').on('change', function(){
				$('#themeSpace').text('html{ --space: '+$(this).val()+'rem !important }');
			});

			$('.userColour').on('change', function(){
				$('#themeColours').text('');
				var themeColours = 'body{ ';
				$(this).closest('.theme-content').find('.userColour').each(function(){
					themeColours += '--'+$(this).attr('data-colour')+': '+$(this).val()+' !important; ';
				});
				themeColours += '}';
				$('#themeColours').text(themeColours);
			});

			$('.theme-tab input').on('change', function(){
				$('.theme-content').attr('data-active', 'false');
				var tabContent = $('.theme-content[data-theme="'+$(this).val()+'"]');
				tabContent.attr('data-active', 'true');
				$('body').attr('class', '');
				$('#themeFontSize').text('');
				$('#themeSpace').text('');
				$('#themeColours').text('');
				if(tabContent.find('.theme-class').length){
					$('body').attr('class', tabContent.find('.theme-class').val());
				}
				if(tabContent.find('.font-size-changer').length){
					$('#themeFontSize').text('html{ font-size: '+tabContent.find('.font-size-changer').val()+'px !important }');
				}
				if(tabContent.find('.space-changer').length){
					$('#themeSpace').text('html{ --space: '+tabContent.find('.space-changer').val()+'rem !important }');
				}
				if(tabContent.find('.userColour').length){
					var themeColours = 'body{ ';
					tabContent.find('.userColour').each(function(){
						if($(this).attr('data-set') === 'unset'){
							var a = $(this).closest('.colour-preview').find('.swatch').css('background-color').split("(")[1].split(")")[0];
					 		a = a.split(",");
							var b = a.map(function(x){             //For each array element
							    x = parseInt(x).toString(16);      //Convert to a base16 string
							    return (x.length==1) ? "0"+x : x;  //Add zero if we get only one character
							})
							b = "#"+b.join("");
							$(this).val(b);
							$(this).attr('data-set', 'true');
						}
						themeColours += '--'+$(this).attr('data-colour')+': '+$(this).val()+' !important; ';
					});
					themeColours += '}';
					$('#themeColours').text(themeColours);
				}
			});
		}
	}
</script>