<template>
	<div>
		<div class="modal wide">
			<div class="modal-header">
				<h5>{{ this.helpText.delete.title }}</h5>
				<div class="close" @click="closeglobalmodal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
			</div>
			<div class="modal-content">
				<form action="/profile/delete" method="POST" enctype="multipart/form-data" id="deleteForm" onkeydown="return event.key != 'Enter';">
					<input type="hidden" name="_token" :value="this.csrf">
					<div class="grid">
						<div class="grid-col-span-12">
							<p class="text-centre">{{ this.helpText.delete.description }}</p>
						</div>
						<div class="grid-col-span-2 grid-col-span-tablet-8">
							<input-help :label="this.helpText.delete.confirm" name="delete"></input-help>
						</div>
						<div class="grid-col-span-2 grid-col-span-tablet-4 text-right">
							<span class="button delete" @click="showWarning()">{{ this.helpText.delete.submit }}</span>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="warning-overlay">
			<div class="warning-centre">
				<h2>{{ this.helpText.delete.warning_title }}</h2>
				<p>{{ this.helpText.delete.warning_description }}</p>
				<div class="grid">
					<div class="grid-col-span-2 grid-col-span-tablet-6">
						<p><button class="button delete" @click="submitForm()">{{ this.helpText.delete.submit }}</button></p>
					</div>
					<div class="grid-col-span-2 grid-col-span-tablet-6">
						<p><span class="button button-blue" @click="closeglobalmodal()">{{ this.helpText.delete.cancel }}</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data: function(){
			var helpText = JSON.parse(document.getElementById('user-help-text').innerHTML);
			return{
				helpText: helpText,
				csrf: $('[name="csrf-token"]').attr('content')
			}
		},
		methods: {
			closeglobalmodal(){
				this.$emit('closeglobalmodal');
			},
			showWarning(){
				$('.warning-overlay').addClass('active');
			},
			submitForm(){
				document.getElementById('deleteForm').submit();
			}
		},
		mounted() {
			
		}
	}
</script>