<template>
	<div class="modal wide">
		<div class="modal-header">
			<h5>{{ this.helpText.create_mod }}</h5>
			<div class="close" @click="closeglobalmodal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="modal-content">
			<form action="/mod/create" method="POST" enctype="multipart/form-data">
				<input type="hidden" name="_token" :value="this.csrf">
				<div class="grid">
					<div class="grid-col-span-6 grid-col-span-tablet-3">
						<div class="image-upload data-field">
							<div class="user-image">
								<img id="base64" src="/img/placeholder-image.png">
							</div>
							<input type="file" class="toBase64" data-alters="base64" name="mod_image">
							<p class="text-centre"></p>
						</div>
					</div>
					<div class="grid-col-span-6 grid-col-span-tablet-9">
						<input-help :label="this.helpText.name" :helptext="this.helpText.name_help" name="name"></input-help>
						<textarea-help :label="this.helpText.description" :helptext="this.helpText.description_help" name="description"></textarea-help>
						<div class="emoji-select data-field">
							<select-help label="Language" :values="languages" name="data[language]" helptext="Which language file type will the mod export localisation files in?"></select-help>
						</div>
						<btn :text="this.helpText.submit"></btn>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		data: function(){
			return{
				helpText: JSON.parse(document.getElementById('mod-help-text').innerHTML),
				csrf: $('[name="csrf-token"]').attr('content'),
				languages: window.getFileLanguages() 
			}
		},
		methods: {
			closeglobalmodal(){
				this.$emit('closeglobalmodal');
			}
		},
		mounted() {
			$(".toBase64").on('change',function(){
				var alters = '#'+$(this).attr('data-alters');
				var selectedFile = this.files[0];
				selectedFile.convertToBase64(function(base64){
					$(alters).attr('src', base64);
				});
			});
		}
	}
</script>