<template>
	<div class="modal open wide">
		<div class="modal-header">
			<h5>{{ this.helpText.country.edit_country }}</h5>
			<div class="close" @click="closeSecondaryModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="modal-content">
			<form id="country-edit-form" @submit.prevent="updateCountry">
				<div class="grid">
					<div class="grid-col-span-tablet-6 grid-col-span-12">
						<input-help required :label="this.helpText.country.tag" :value="this.country.tag" :helptext="helpText.country.tag_help" name="tag"></input-help>
						<datalist-help required :values="this.ideologies" :label="this.helpText.country.ideology" :value="this.country.data.ideology" :helptext="helpText.country.ideology_help" name="data[ideology]"></datalist-help>
					</div>
					<div class="grid-col-span-tablet-6 grid-col-span-12 grow-descendants">
						<textarea-help  :label="this.helpText.country.history" :value="this.country.data.history" :helptext="helpText.country.history_help" name="data[history]"></textarea-help>
					</div>
					<div class="grid-col-span-tablet-6 grid-col-span-12">
						<input-help :label="this.helpText.country.focuses" :value="this.country.data.focuses" :helptext="helpText.country.focuses_help" name="data[focuses]"></input-help>
					</div>
					<div class="grid-col-span-tablet-6 grid-col-span-12">
						<input-help :label="this.helpText.country.ideas" :value="this.country.data.ideas" :helptext="helpText.country.ideas_help" name="data[ideas]"></input-help>
					</div>
					<div class="grid-col-span-tablet-6 grid-col-span-12">
						<checkbox-help name="data[minor]" :value="(this.country.data.minor) ? this.country.data.minor : ''" :label="helpText.country.minor" :helptext="helpText.country.minor_help"></checkbox-help>
					</div>
					<div class="grid-col-span-tablet-6 grid-col-span-12 text-right">
						<button class="button button-blue">{{ this.helpText.create_modal.submit }}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		props: [
			'helpText', 'toolHelp', 'item', 'newcountry'
		],
		data(){
			var c = null;
			var env = this;
			$.each(env.item.countries, function(){
				if(this.order == env.newcountry){
					c = this;
				}
			});
			var i = [];
			/* TODO when ideologies added: Add custom ideologies to this list */
			$.each(this.helpText.country.ideologies, function(key, value){
				i.push({value: key, label: value});
			});

			return{
				country: c,
				ideologies : i
			}
		},
		methods: {
			closeSecondaryModal(){
				this.$emit('updateData');
				this.$emit('closeSecondaryModal');
			},
			updateCountry(){
				this.country.tag = $('[name="tag"]').val();
				this.country.data = getFormDataByInputName('country-edit-form', 'data');

				let env = this;
				var index = 0;
				$.each(env.item.countries, function(key, value){
					if(value.order == env.newcountry){
						index = key;
					}
				});
				env.item.countries[key] = this.country;

				env.closeSecondaryModal();
				
			}
		},
		mounted(){

		}
	}
</script>