<template>
	<div>
		<form :action="'/start-date/update/'+id" method="POST" id="start-date-edit">
			<h2 class="text-centre">{{ this.helpText.edit.title }}</h2>
			<div class="grid start-date-wrapper">
				<div class="grid-col-span-laptop-6 grid-col-span-12 grid-row-start-laptop-1" @focusout="updateData">
					<input-help name="name" :value="this.info.item.name" :label="this.helpText.edit.name" :helptext="this.helpText.edit.name_help"></input-help>
					<textarea-help name="description" :value="this.info.item.description" :label="this.helpText.edit.description" :helptext="this.helpText.edit.description_help"></textarea-help>
					
				</div>
				
				<div class="grid-col-span-laptop-6 grid-col-span-12" @focusout="updateData">
					<input-help name="date" :value="this.info.item.date" :label="this.helpText.edit.date" :helptext="this.helpText.edit.date_help"></input-help>
				</div>
				<div class="grid-col-span-laptop-5 grid-col-span-12 grid-col-start-laptop-8" @focusout="updateData">
					<checkbox-help name="data[default]" :value="(this.info.item.data) ? this.info.item.data.default : ''" :label="this.helpText.edit.default" :helptext="this.helpText.edit.default_help"></checkbox-help>
				</div>
				<div class="grid-col-span-tablet-6 grid-col-span-12" @focusout="updateData">
					<input-help name="data[default_country]" :value="(this.info.item.data) ? this.info.item.data.default_country : ''" :label="this.helpText.edit.default_country" :helptext="this.helpText.edit.default_country_help"></input-help>
				</div>
				<div class="grid-col-span-laptop-5 grid-col-span-12 grid-col-start-laptop-8 grid-row-start-laptop-1">
					<gfx-select :data="this.info.item" @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" @updateGFX="updateGFX(id)"></gfx-select>
				</div>
				
				<div class="grid-col-span-12">
					<h3>{{ this.helpText.edit.countries }}</h3>
				</div>
				<div class="grid-col-span-12">
					<draggable v-model="data.countries" v-bind="dragOptions" @end="updateData">
						<transition-group class="grid" tag="div" type="transition" :name="'flip-list'">
							<div class="grid-col-span-12 grid-col-span-laptop-4" v-for="item in this.info.item.countries" :key="item.order">
								<div class="selected-country">
									<span class="num">{{ item.order + 1}}</span>
									<svg class="feather-icon icon-move"><use xlink:href="#move"></use></svg>
									<h5 v-if="!item.data.minor">{{ (item.tag) ? item.tag : '...' }}</h5>
									<h6 v-if="item.data.minor">{{ (item.tag) ? item.tag : '...' }}</h6>
									<svg class="feather-icon icon-edit" @click="editCountry(item.order)"><use xlink:href="#edit"></use></svg>
									<svg class="feather-icon icon-trash-2" @click="deleteCountry(item.order)"><use xlink:href="#trash-2"></use></svg>
								</div>
							</div>
						</transition-group>
					</draggable>

				</div>
			</div>

			
		</form>

		<component v-bind:is="secondaryComponent" @closeSecondaryModal="closeSecondaryModal" @updateGFX="updateGFX" @updateData="updateData" v-bind="info"></component>
	</div>
</template>

<script>
	import draggable from "vuedraggable";
	export default {
		props: ['id', 'data', 'newcountry'],
		components: {
    		draggable
  		},
		data: function(){
			return {
				secondary: 'placeholder',
				secondaryData: null,
				helpText: this.$parent.helpText,
				toolHelp: this.$parent.toolHelp,
				info: {
					gfxList: 'gfx-list',
					helpText: this.$parent.helpText,
					toolHelp: this.$parent.toolHelp,
					item: this.data,
					tool: 'start-date',
					newcountry: false
				},
			}
		},

		methods: {
			openSecondaryModal(event, modal, data = null){
				this.secondary = modal;
				this.secondaryData = data;
			},
			closeSecondaryModal(){
				this.secondary = 'placeholder';
			},
			updateGFX(gfxId){
				this.data.gfx = gfxId;
			},
			updateData(data){
				const config = {
					headers: {
						'content-type': 'multipart/form-data',
						'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
					}
				}
				let toolHelp = this.info.toolHelp
				let env = this;

				$.each(env.data.countries, function(key, value){
					env.data.countries[key].order = key;
				});
				env.data.name = $('[name="name"]').val();
				env.data.date = $('[name="date"]').val();
				env.data.description = $('[name="description"]').val();
				env.data.data = getFormDataByInputName('start-date-edit', 'data');
				let formData = new FormData();
				formData.append('data', JSON.stringify(env.data));
				axios.post('/start-date/update', formData, config)
				.then(function (response) {
				});
			},
			editCountry(order){
				this.info.newcountry = order;
				this.secondary = 'start-date-country';
			},
			deleteCountry(order){
				var c = null;
				var env = this;
				$.each(env.data.countries, function(index, value){
					if(this.order == order){
						c = index;
					}
				});
				this.data.countries.splice(c, 1);
				this.updateData();
			}
		},
		computed: {
			secondaryComponent: function(){
				return this.secondary.toLowerCase();
			},
			dragOptions() {
				return {
					animation: 250,
					group: "description",
					disabled: false,
					ghostClass: "ghost"
				};
			},
		},
		watch: {
			newcountry: function(newVal, oldVal){
				if(newVal !== false){
					this.info.newcountry = newVal;
					this.secondary = 'start-date-country';
				}
			}
		},
		mounted(){
			var env = this;
			var val = '';
			$('#start-date-edit input').on('focus', function(){
				val = $(this).val();
			});
			$('#start-date-edit input').on('focusout', function(){
				if(val != $(this).val()){
					env.updateData();
				}
			});
		}
	}
</script>