@function fontSize($size) {
	@return map-get($font-sizes, $size);
}

@function colour($col) {
	@return var(#{"--"+$col});
}

@function vw($px, $width : 1920){
	@return #{(vCalc($px, $width))}vw; 
}

@function vh($px, $width : 1080){
	@return #{(vCalc($px, $width))}vh; 
}

@function vmin($px, $width : 1080){
	@return #{(vCalc($px, 1080))}vmin; 
}

@function vmax($px, $width : 1920){
	@return #{(vCalc($px, $width))}vmax; 
}

@function stripUnit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function space($size : 1){
	@return calc(#{$size} * var(--space)); 
}

@function vCalc($size, $dimension : 1920){
	@return #{(((stripUnit($size)) / $dimension)  * 100)};
}