@mixin minWidth($width){
	@media screen and (min-width: #{map-get($breakpoints, $width)}) {
		@content
	}
}

@mixin maxWidth($width){
	@media screen and (max-width: #{map-get($breakpoints, $width)}) {
		@content
	}
}

@mixin gridStarts($max) {
	$num: 1;
	@while $max >= $num {
	    .grid-col-start-#{$num} {
	        grid-column: #{$num};
	    }

	    .grid-row-start-#{$num} {
	        grid-row: #{$num};
	    }

	    $num: $num + 1;
	}
	$num: 1;
	@while $max >= $num {
	    @each $breakpoint, $v in $breakpoints {
			@include minWidth($breakpoint){
	    		.grid-col-start-#{$breakpoint}-#{$num}{
					grid-column: #{$num};
	    		}

	    		.grid-row-start-#{$breakpoint}-#{$num}{
					grid-row: #{$num};
	    		}
			}
		}

	    $num: $num + 1;
	}
}

@mixin gridColumnSpans($max) {
	$num: 1;
	$curr: $max;
	@while $curr >= $num {
	    .grid-col-span-#{$curr} {
	         grid-column-end: span #{$curr};
	    }

	    $curr: $curr - 1;
	}
	$num: 1;
	$curr: $max;
	@while $curr >= $num {
	    @each $breakpoint, $v in $breakpoints {
			@include minWidth($breakpoint){
	    		.grid-col-span-#{$breakpoint}-#{$curr}{
	         		grid-column-end: span #{$curr};
	    		}
			}
		}

	    $curr: $curr - 1;
	}
}

@mixin gridRowSpans($max) {
	$num: 1;
	@while $max >= $num {
	    .grid-row-span-#{$num} {
	        -ms-grid-row-span: #{$num};
	         grid-row-end: span #{$num};
	    }

	    $num: $num + 1;
	}
	$num: 1;
	@while $max >= $num {
	    @each $breakpoint, $v in $breakpoints {
			@include minWidth($breakpoint){
	    		.grid-row-span-#{$breakpoint}-#{$num}{
	         		grid-row-end: span #{$num};
	    		}
			}
		}

	    $num: $num + 1;
	}
}

@include maxWidth(laptop){
	$start: 7;
	$max: 12;
	@while $max >= $start {
		.grid > .grid-col-span-#{$start}{
			grid-column-end: span 6;
		}
		$start: $start + 1;
	}
}

@include maxWidth(tablet){
	$start: 3;
	$max: 12;
	@while $max >= $start {
		.grid > .grid-col-span-#{$start}{
			grid-column-end: span 2;
		}
		$start: $start + 1;
	}
}