h1,h2,h3,h4{
	font-family: $heading;
	font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";
}

h1,h2,h3,h4,h5,h6,p,ul,ol,blockquote{
	margin: 0;

	+ {
		h1,h2,h3,h4,h5,h6,p,ul,ol,div:not(.close),blockquote{
			margin-top: 1rem;
		}
	}
}

p{
	font-size: 1rem;
}

h1{
	font-size: 3.2rem;
}

h2{
	font-size: 2.4rem;
}

h3{
	font-size: 1.8rem;
}

h4,h5{
	font-size: 1.2rem;
}

h3,h4,h5{
	font-weight: 500;
}

h6{
	font-weight: 300;
	font-size: 0.9rem;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.text-centre{
	text-align: center;
}

.small-text{
	font-size: 0.75rem;
}

a{
	text-decoration: none;
}

a:not([class]){
	color: colour(blue);	

	&:hover{
		color: colour(dark-blue);
	}

	&:visited{
		color: colour(dark-blue);

		&:hover{
			color: colour(blue);
		}
	}
}

blockquote{
	position: relative;
	margin: 0;
	padding: 1rem;
	padding-left: 2rem;
	margin-left: 1rem;
	background: colour(offwhite);

	&:before{
		content: '“';
		position: absolute;
		top: 0;
		left: -1rem;
		font-size: 4.5rem;
		color: colour(blue);
		font-family: serif;
		font-weight: 900;
	}
}

.quote-author{
	margin-bottom: 1rem;
	display: block;
	width: 100%;
}

.text{
	@each $name,$value in $colours{
		&-#{"" + $name}{ /* Use "" to stop warning in compiler */
			color: colour($name);
		}
	}
}

.underline{
	text-decoration: underline;
}