<template>
	<div class="page-content">
	    <div class="character-lists grid">
	    	<div class="grid-col-span-laptop-6" v-for="item in lists">
	    		<mod-preview :mod="item" :list="item.characters" link_preview="/character/list" preview_text_property="name"></mod-preview>
	    	</div>
	    </div>
	</div>
</template>

<script>
    export default{
    	data(){
    		return {
    			lists: []
    		}
    	},
        mounted(){
        	var el = this;
        	$.get('/character/api/list/', function(data){
        		el.lists = data;
        	});
        }
    }
</script>
