<template>
	<div>
		<modal title="Create new list of Characters">
			<form action="/character/list/create" method="POST" class="grid">
				<csrf></csrf>
				<div class="grid-col-span-laptop-6">
					<input-help required="true" name="name" label="Name" helptext="A name to help you identify your character lists easier"></input-help>
				</div>
				<div class="grid-col-span-laptop-6">
					<mod-list></mod-list>
				</div>
				<button class="button button-blue">Submit</button>
			</form>
		</modal>
	</div>
</template>

<script>
	export default {
		mounted(){

		}
	}
</script>