<template>
	<div class="character-preview">
		<div class="image">
			<img :src="'/media/find/'+character.data.gfx" loading="lazy">
		</div>
		<div class="content">
			<h4>{{ character.data.name }}</h4>
			<p class="character-type">Country leader: <svg :class="'feather-icon icon-'+(character.data.type.civilian.country_leader.selected ? 'check' : 'x')"><use :xlink:href="'#'+(character.data.type.civilian.country_leader.selected ? 'check' : 'x')"></use></svg></p>
			<p class="character-type">Advisor: <svg :class="'feather-icon icon-'+(character.data.type.civilian.advisor.selected ? 'check' : 'x')"><use :xlink:href="'#'+(character.data.type.civilian.advisor.selected ? 'check' : 'x')"></use></svg></p>
			<p class="character-type">Field marshal: <svg :class="'feather-icon icon-'+(character.data.type.army.selected && character.data.type.army.position != 'corps_commander' ? 'check' : 'x')"><use :xlink:href="'#'+(character.data.type.army.selected && character.data.type.army.position != 'corps_commander' ? 'check' : 'x')"></use></svg></p>
			<p class="character-type">General: <svg :class="'feather-icon icon-'+(character.data.type.army.selected && character.data.type.army.position == 'corps_commander' ? 'check' : 'x')"><use :xlink:href="'#'+(character.data.type.army.selected && character.data.type.army.position == 'corps_commander' ? 'check' : 'x')"></use></svg></p>
			<p class="character-type">Admiral: <svg :class="'feather-icon icon-'+(character.data.type.navy.selected ? 'check' : 'x')"><use :xlink:href="'#'+(character.data.type.navy.selected ? 'check' : 'x')"></use></svg></p>
			<p class="buttons" v-if="editable">
				<button class="button" @click="$emit('editCharacter')">Edit</button>
				<button class="button delete" @click="$emit('deleteCharacter')">Delete</button>
			</p>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['character', 'editable']
	}
</script>