<template>
	<div>
		<div class="character-list">
			<character @editCharacter="setEditing(index)" @deleteCharacter="deleteCharacter(index)" :editable="editable" :character="item" v-for="item,index in list" :key="item.id"></character>

			<div class="character-buttons" v-if="editable">
				<button class="button button-blue" @click="newCharacter()">Add character</button>
			</div>
		</div>

		<dialog id="character-modal" class="dialog-modal" v-if="editable">
			<div class="modal-header">
				<h5>{{ editing.hasOwnProperty('data') ? 'Editing '+editing.data.name : 'Create new character' }}</h5>
				<button class="close" @click="closeModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></button>
			</div>
			<div class="modal-content">
				<form method="POST" @submit.prevent="submitForm();" class="grid" id="character-modal-form">
					<csrf></csrf>
					<div class="grid-col-span-laptop-6">
						<input type="hidden" name="id" :value="editing.hasOwnProperty('id') ? editing.id : 'new'">
						<input-help name="name" label="Name" helptext="Name of the character" :value="editing.hasOwnProperty('data') ? editing.data.name : ''"></input-help>
						<p class="mt">Portrait GFX</p>
						<gfx-input name="gfx" :value="editing.hasOwnProperty('data') ? editing.data.gfx : '1'" tool="country"></gfx-input>
						<p><small>This portrait should be the largest possible size it will be used as.<br>For example, if this character can be a country leader or a military theorist, it should be large enough to be a country leader; the site will reformat it for the military theorist when exporting.</small></p>
						<p><button class="button">Submit</button></p>
					</div>
					<div class="grid-col-span-laptop-6">
						<input class="outside-fakebox character-type-checkbox" type="checkbox" name="type[civilian][selected]" id="character-civilian" value="1" :checked="getValue('civilian.selected') ? true : false">
						<label class="fakebox input-with-help" for="character-civilian">
							<div class="checkbox">
								<svg class="feather-icon icon-check"><use xlink:href="#check"></use></svg>
							</div>
							<div class="label">
								Civilian
								<div class="help-text">
									<svg class="feather-icon info"><use xlink:href="#info"></use></svg>
									<div class="help-text-info">
										Is this character a country leader/advisor?
									</div>
								</div>
							</div>
						</label>

						<div class="character-info character-civilian">
							<input :checked="getValue('civilian.country_leader.selected') ? true : false" class="outside-fakebox character-type-checkbox" type="checkbox" name="type[civilian][country_leader][selected]" id="character-civilian-country_leader" value="1">
							<label class="fakebox input-with-help" for="character-civilian-country_leader">
								<div class="checkbox">
									<svg class="feather-icon icon-check"><use xlink:href="#check"></use></svg>
								</div>
								<div class="label">
									Leader
									<div class="help-text">
										<svg class="feather-icon info"><use xlink:href="#info"></use></svg>
										<div class="help-text-info">
											Is this character a leader of the country (e.g. Churchill, FDR, etc.)
										</div>
									</div>
								</div>
							</label>
							<div class="character-info character-civilian-country_leader">
								<datalist-help :value="getValue('civilian.country_leader.ideology')" name="type[civilian][country_leader][ideology]" label="Ideology" helptext="The sub-type of the ideology which the leader follows. (e.g. Churchill is conservatism not democratic)" :values="getLeaderIdeologies()"></datalist-help>
								<input-help :value="getValue('civilian.country_leader.expire')" name="type[civilian][country_leader][expire]" label="Expire" helptext="The date when this leader will die, if their death is not triggered earlier. Format: YYYY.M(?M).D(?).H e.g. 1950.9.12.6 to die at 6am on the 12th of September 1950"></input-help>
								<trait-input :value="getValue('civilian.country_leader.traits')" name="type[civilian][country_leader][traits]" label="Traits"></trait-input>
							</div>

							<input :checked="getValue('civilian.advisor.selected') ? true : false" class="outside-fakebox character-type-checkbox" type="checkbox" name="type[civilian][advisor][selected]" id="character-civilian-advisor" value="1">
							<label class="fakebox input-with-help" for="character-civilian-advisor">
								<div class="checkbox">
									<svg class="feather-icon icon-check"><use xlink:href="#check"></use></svg>
								</div>
								<div class="label">
									Advisor
									<div class="help-text">
										<svg class="feather-icon info"><use xlink:href="#info"></use></svg>
										<div class="help-text-info">
											Is this character an advisor/army chief/theorist/etc.?
										</div>
									</div>
								</div>
							</label>
							<div class="character-info character-civilian-advisor">
								<select-help optional="true" :value="getValue('civilian.advisor.slot')" name="type[civilian][advisor][slot]" label="Slot" helptext="Where in government will this character be able to be assigned?" :values="getAdvisorSlots()"></select-help>
								<select-help optional="true" :value="getValue('civilian.advisor.ledger')" name="type[civilian][advisor][ledger]" label="Ledger" helptext="Which area of expertise the character is for; only required for Theorists and Military High Command" :values="getLedgers()"></select-help>
								<input-help :value="getValue('civilian.advisor.cost')" name="type[civilian][advisor][cost]" type="number" step="1" label="Cost" helptext="PP cost to hire this advisor"></input-help>
								<trait-input :value="getValue('civilian.advisor.traits')" name="type[civilian][advisor][traits]" label="Traits"></trait-input>
								<builder-input :value="getValue('civilian.advisor.allowed')" name="type[civilian][advisor][allowed]" label="Allowed" helptext="What conditions must be met for this character to be allowed for a nation?" uses="scopes"></builder-input>
								<builder-input :value="getValue('civilian.advisor.available')" name="type[civilian][advisor][available]" label="Available" helptext="What conditions must be met for this character to be available?" uses="scopes"></builder-input>
								<builder-input :value="getValue('civilian.advisor.ai_will_do')" name="type[civilian][advisor][ai_will_do]" label="AI Will Do" helptext="How likely will the AI be to do this? The simplest thing will just be 'base = 1'" uses="scopes"></builder-input>

							</div>
						</div>

						<input :checked="getValue('army.selected') ? true : false" class="outside-fakebox character-type-checkbox" type="checkbox" name="type[army][selected]" id="character-army" value="1">
						<label class="fakebox input-with-help" for="character-army">
							<div class="checkbox">
								<svg class="feather-icon icon-check"><use xlink:href="#check"></use></svg>
							</div>
							<div class="label">
								Army
								<div class="help-text">
									<svg class="feather-icon info"><use xlink:href="#info"></use></svg>
									<div class="help-text-info">
										Is this character a general/field marshal?
									</div>
								</div>
							</div>
						</label>

						<div class="character-info character-army">
							<select-help optional="true" :value="getValue('army.position')" name="type[army][position]" label="Position" :values="getArmyPositions()"></select-help>
							<trait-input :value="getValue('army.traits')" name="type[army][traits]" label="Traits"></trait-input>
							<input-help :value="getValue('army.stats.skill')" name="type[army][stats][skill]" type="number" step="1" label="Level" helptext="The starting level for this general/field marshal"></input-help>
							<div class="grid">
								<div class="grid-col-span-laptop-6">
									<input-help :value="getValue('army.stats.attack_skill')" name="type[army][stats][attack_skill]" type="number" step="1" label="Attack"></input-help>
								</div>
								<div class="grid-col-span-laptop-6">
									<input-help :value="getValue('army.stats.defense_skill')" name="type[army][stats][defense_skill]" type="number" step="1" label="Defence"></input-help>
								</div>
								<div class="grid-col-span-laptop-6">
									<input-help :value="getValue('army.stats.planning_skill')" name="type[army][stats][planning_skill]" type="number" step="1" label="Planning"></input-help>
								</div>
								<div class="grid-col-span-laptop-6">
									<input-help :value="getValue('army.stats.logistics_skill')" name="type[army][stats][logistics_skill]" type="number" step="1" label="Logistics"></input-help>
								</div>
							</div>
						</div>

						<input :checked="getValue('navy.selected') ? true : false" class="outside-fakebox character-type-checkbox" type="checkbox" name="type[navy][selected]" id="character-navy" value="1">
						<label class="fakebox input-with-help" for="character-navy">
							<div class="checkbox">
								<svg class="feather-icon icon-check"><use xlink:href="#check"></use></svg>
							</div>
							<div class="label">
								Navy
								<div class="help-text">
									<svg class="feather-icon info"><use xlink:href="#info"></use></svg>
									<div class="help-text-info">
										Is this character an admiral?
									</div>
								</div>
							</div>
						</label>

						<div class="character-info character-navy">
							<trait-input :value="getValue('navy.traits')" name="type[navy][traits]" label="Traits"></trait-input>
							<input-help :value="getValue('navy.stats.skill')" name="type[navy][stats][skill]" type="number" step="1" label="Level" helptext="The starting level for this admiral"></input-help>
							<div class="grid">
								<div class="grid-col-span-laptop-6">
									<input-help :value="getValue('navy.stats.attack_skill')" name="type[navy][stats][attack_skill]" type="number" step="1" label="Attack"></input-help>
								</div>
								<div class="grid-col-span-laptop-6">
									<input-help :value="getValue('navy.stats.defense_skill')" name="type[navy][stats][defense_skill]" type="number" step="1" label="Defence"></input-help>
								</div>
								<div class="grid-col-span-laptop-6">
									<input-help :value="getValue('navy.stats.maneuvering_skill')" name="type[navy][stats][maneuvering_skill]" type="number" step="1" label="Maneuvering"></input-help>
								</div>
								<div class="grid-col-span-laptop-6">
									<input-help :value="getValue('navy.stats.coordination_skill')" name="type[navy][stats][coordination_skill]" type="number" step="1" label="Coordination"></input-help>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</dialog>
	</div>
</template>

<script>
	export default {
		props: ['id', 'modId'],
		data(){
			return {
				list : [],
				editing: {},
				editingIndex: null,
				editable: false,
				ideologyList: []
			}
		},
		mounted(){
			let el = this;
			$.get('/character/api/list/'+this.id, function(data){
				el.list = data;
			});
			$.get('/character/api/list/'+this.id+'/editable', function(data){
				el.editable = data.editable;
			});
		},
		methods: {
			closeModal(){
				this.editingIndex = null;
				this.editing = {};
				document.getElementById('character-modal').close();
			},
			openModal(){
				document.getElementById('character-modal').showModal();
			},
			newCharacter(){
				this.editing = {};
				let $ = jQuery;
				$('#character-modal-form select').find('option').removeAttr('selected');
				$('#character-modal-form select').val('');

				$('#character-modal-form input[type="text"]').val('');
				$('#character-modal-form input[type="number"]').val('');
				$('#character-modal-form input[type="checkbox"]').prop('checked', false);

				$('#character-modal-form input[name="id"]').val(this.id);

				$('#character-modal-form .gfx-input').val('1');
				$('#character-modal-form .gfx-input-preview').attr('src', '/media/find/1/preview');
				this.openModal();
			},
			setEditing(index){
				if(!this.editable){
					return;
				}
				this.editingIndex = index
				this.editing = this.list[index];
				this.openModal();
			},
			deleteCharacter(index){
				if(!this.editable){
					return;
				}
				let el = this;
				let formData = new FormData();
				let id = this.list[index].id;
				formData.append('id', id);
				formData.append('_token', document.querySelector('[name="csrf-token"]').content);
				axios.post('/character/api/delete', formData)
				.then(function (response){
					el.list.splice(index, 1);
				});
			},
			submitForm(){
				// this.list.push({name:"Example character name here"});
				// this.closeModal();
				//Code to submit the form here
				let form = document.getElementById('character-modal-form');
				let formData = new FormData(form);
				formData.append('listID', this.id);
				
				let el = this;
				axios.post('/character/api/update', formData)
				.then(function (response) {
					if(el.editing.hasOwnProperty('id')){
						el.list[el.editingIndex] = response.data;
					}else{
						el.list.push(response.data);
					}
					el.editingIndex = null;
					el.editing = {};
					el.closeModal();
				});
			},
			getValue(jsonSelector){
				if(!this.editing.hasOwnProperty('data')){
					return '';
				}

				let json = this.editing.data.type;
				let selector = json;
				let selectors = jsonSelector.split('.');
				$.each(selectors, function(key, value){
					if(selector.hasOwnProperty(value)){
						selector = selector[value];
					}else{
						selector = '';
						return selector;
					}
				});

				return selector;
			},
			getAdvisorSlots(){
				var json = [
					{
						label: "Political Advisor",
						value: "political_advisor" 
					},
					{
						label: "Theorist",
						value: "theorist"
					},
					{
						label: "Chief of Army",
						value: "army_chief"
					},
					{
						label: "Chief of Navy",
						value: "navy_chief"
					},
					{
						label: "Chief of Airforce",
						value: "air_chief"
					},
					{
						label: "Military High Command",
						value: "high_command"
					}
				];
				return json;
			},
			getLedgers(){
				var json = [
					{
						label: "All",
						value: "all"
					},
					{
						label: "Army",
						value: "army"
					},
					{
						label: "Navy",
						value: "navy"
					},
					{
						label: "Air",
						value: "air"
					},
					{
						label: "Civilian",
						value: "civilian"
					}
				];
				return json;
			},
			getLeaderIdeologies(){
				if(this.ideologyList.length > 0){
					return this.ideologyList;
				}

				let el = this;
				$.get('/ideology/api/ideology-list/'+this.modId, function(data){
					el.ideologyList = data;
				});

			},
			getArmyPositions(){
				var json = [
					{
						label: "General",
						value: "corps_commander"
					},
					{
						label: "Field Marshal",
						value: "field_marshal"
					}
				];
				return json;
			}
		}
	}
</script>