<template>
	<div class="modal">
		<div class="modal-header">
			<h5>{{ this.title }}</h5>
			<div class="close" @click="closeEditView()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="modal-content">
			<form @submit.prevent="updateFocus" :id="'focus-form-'+item.id" :data-id="item.id">
				<input-help required :label="helpText.name" :value="item.name" :helptext="helpText.name_help" name="name"></input-help>
				<textarea-help required :label="helpText.description" :value="item.description" :helptext="helpText.description_help" name="description"></textarea-help>
				<gfx-select :data="item" type="focus" @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" @updateGFX="updateGFX(id)"></gfx-select>
				<div class="grid">
					<div class="grid-col-span-6">
						<input-help required :label="helpText.x" :value="item.x" :helptext="helpText.x_help" name="x"></input-help>
					</div>
					<div class="grid-col-span-6">
						<input-help required :label="helpText.y" :value="item.y" :helptext="helpText.y_help" name="y"></input-help>
					</div>
				</div>
				<div class="data-field" v-for="item in dataFields">
					<input-help :label="item.label" :value="item.value" :helptext="item.helptext" :name="'data['+item.name+']'" v-if="item.type == 'input'"></input-help>
					<textarea-help :label="item.label" :value="item.value" :helptext="item.helptext" :name="'data['+item.name+']'" v-if="item.type == 'textarea'"></textarea-help>
					<select-help :label="item.label" :value="item.value" :helptext="item.helptext" :name="'data['+item.name+']'" :values="item.values" v-if="item.type == 'select'"></select-help>
					<datalist-help :label="item.label" :value="item.value" :helptext="item.helptext" :name="'data['+item.name+']'" :values="item.values" v-if="item.type == 'datalist'"></datalist-help>
					<builder @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" :label="item.label" :value="item.value" :helptext="item.helptext" :uses="item.name == 'completion_reward' || item.name == 'select_effect' ? ['scopes', 'conditions', 'effects'] : ['scopes', 'conditions']" :name="'data['+item.name+']'" v-if="item.type == 'builder'"></builder>
				</div>
				<btn text="Submit" wide="true"></btn>
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		props:[
			'isEdit', 'item', 'helpText', 'toolHelp'
		],
		data(){
			this.selectValues = [];
			var weeks = 1;
			while(weeks < 21){
				this.selectValues.push({'value':weeks, 'label':this.helpText.ttc_select[weeks]});
				weeks++;
			}

			this.searchFilters = [];
			for(var index in this.helpText.searchFilters) {
				this.searchFilters.push({'value':index, 'label':this.helpText.searchFilters[index]});
			}


			return{
				dataFields:[
					{
						'name' : 'cost',
						'label' : this.helpText.ttc,
						'helptext' : this.helpText.ttc_help,
						'value' : (this.item.data.hasOwnProperty('cost') ? this.item.data.cost : ''),
						'values' : this.selectValues,
						'type' : 'datalist'
					},
					{
						'name' : 'search_filters',
						'label' : this.helpText.search_filters,
						'helptext' : this.helpText.search_filters_help,
						'value' : (this.item.data.hasOwnProperty('search_filters') ? this.item.data.search_filters : ''),
						'values' : this.searchFilters,
						'type' : 'select'
					},
					{
						'name' : 'prerequisite',
						'label' : this.helpText.prerequisite,
						'helptext' : this.helpText.prerequisite_help,
						'value' : (this.item.data.hasOwnProperty('prerequisite') ? this.item.data.prerequisite : ''),
						'type' : 'input'
					},
					{
						'name' : 'mutually_exclusive',
						'label' : this.helpText.mutually_exclusive,
						'helptext' : this.helpText.mutually_exclusive_help,
						'value' : (this.item.data.hasOwnProperty('mutually_exclusive') ? this.item.data.mutually_exclusive : ''),
						'type' : 'input'
					},
					{
						'name' : 'ai_will_do',
						'label' : this.helpText.ai_will_do,
						'helptext' : this.helpText.ai_will_do_help,
						'value' : (this.item.data.hasOwnProperty('ai_will_do') ? this.item.data.ai_will_do : ''),
						'type' : 'input'
					},
					{
						'name' : 'available',
						'label' : this.helpText.available,
						'helptext' : this.helpText.available_help,
						'value' : (this.item.data.hasOwnProperty('available') ? this.item.data.available : ''),
						'type' : 'builder'
					},
					{
						'name' : 'bypass',
						'label' : this.helpText.bypass,
						'helptext' : this.helpText.bypass_help,
						'value' : (this.item.data.hasOwnProperty('bypass') ? this.item.data.bypass : ''),
						'type' : 'builder'
					},
					{
						'name' : 'completion_reward',
						'label' : this.helpText.completion_reward,
						'helptext' : this.helpText.completion_reward_help,
						'value' : (this.item.data.hasOwnProperty('completion_reward') ? this.item.data.completion_reward : ''),
						'type' : 'builder'
					},
					{
						'name' : 'select_effect',
						'label' : this.helpText.select_effect,
						'helptext' : this.helpText.select_effect_help,
						'value' : (this.item.data.hasOwnProperty('select_effect') ? this.item.data.select_effect : ''),
						'type' : 'builder'
					},
					{
						'name' : 'allow_branch',
						'label' : this.helpText.allow_branch,
						'helptext' : this.helpText.allow_branch_help,
						'value' : (this.item.data.hasOwnProperty('allow_branch') ? this.item.data.allow_branch : ''),
						'type' : 'builder'
					},
					{
						'name' : 'will_lead_to_war_with',
						'label' : this.helpText.will_lead_to_war_with,
						'helptext' : this.helpText.will_lead_to_war_with_help,
						'value' : (this.item.data.hasOwnProperty('will_lead_to_war_with') ? this.item.data.will_lead_to_war_with : ''),
						'type' : 'input'
					},
				]
			}
		},
		created(){
			this.title = this.item.id != 'new' ? this.helpText.edit_title : this.helpText.create_title;
			if(document.getElementById('focus-json-'+this.item.id)){
				this.focusData = JSON.parse(document.getElementById('focus-json-'+this.item.id).innerHTML);
				this.item.x = this.focusData.x;
				this.item.y = this.focusData.y;
			}else{
				this.item.name = '';
				this.item.gfx = 445;
				this.item.description = '';
				this.item.x = 0;
				this.item.y = 0;
				this.item.data = {};
			}
		},
		methods:{
			closeEditView(){
				updateFocusZoom();
				this.$emit('closeComponents');
			},
			openSecondaryModal(event, modal, data = null){
				this.$emit('openSecondaryModal', modal, data);
			},
			closeSecondaryModal(){
				this.$emit('closeSecondaryComponent');
			},
			updateFocus(){
				const config = {
					headers: {
						'content-type': 'multipart/form-data',
						'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
					}
				}
				let comp = this;
				let focusData = this.focus;
				let formData = new FormData();
				formData.append('id', this.item.id);
				var idPrefix = '[data-id="'+this.item.id+'"] ';
				var xP = ($(idPrefix+'[name="x"]').val() > 0) ? $(idPrefix+'[name="x"]').val() : 0;
				var yP = ($(idPrefix+'[name="y"]').val() > 0) ? $(idPrefix+'[name="y"]').val() : 0;
				formData.append('name', $(idPrefix+'[name="name"]').val());
				formData.append('description', $(idPrefix+'[name="description"]').val());
				formData.append('x', xP);
				formData.append('y', yP);
				formData.append('gfx', $(idPrefix+'[name="gfx"]').val());
				formData.append('data', JSON.stringify(getFormDataByInputName('focus-form-'+this.item.id, 'data')));
				formData.append('focus_tree_id', $('.national-focus').attr('id'));
				$('#focus-form').find('button').attr('disabled', 'true');
				axios.post('/focus/update', formData, config)
					.then(function (response) {
						focusData = response.data;
						focusData.data = JSON.parse(focusData.data);
						updateFocusZoom();
						comp.updateData(focusData);
						resetFocusDraggable();
					});
				
			},
			updateData(focusData){
				this.$emit('updateData', focusData);
				this.$emit('closeComponents');
			}
		}
	}
</script>