<template>
	<div :class="(this.isActive ? 'active ' : '')+ 'focus-item'" :data-x="json.x" :data-y="json.y" :data-id="id" :style="{'top':this.top + 'px', 'left':this.left + 'px'}">
		<div class="focus-delete" @click="deleteFocus()">
			<svg class="feather-icon icon-trash-2"><use xlink:href="#trash-2"></use></svg>
		</div>
		<img class="focus-image" :src="'/media/find/'+json.gfx" @mousedown="focusMouseDown($event)" @mouseup="focusMouseRelease($event)" loading="lazy">
		<div class="focus-title" @mousedown="focusMouseDown($event)" @mouseup="focusMouseRelease($event)">
			{{ json.name }}
		</div>
		<div class="focus-json" :id="'focus-json-'+id">{{ this.data }}</div>
		<component v-bind:is="focusComponent" v-bind="info" @closeComponents="closeComponents()" @openSecondaryModal="openSecondaryComponent" @updateData="updateData"></component>
		<component v-bind:is="secondaryComponent" @closeSecondaryModal="closeSecondaryComponent" @updateGFX="updateGFX" @updateData="updateData" v-bind="info" ></component>
	</div>
</template>

<script>
	export default {
		props:[
			'id','json'
		],
		data(){

			return{
				hasBeenDragged: false,
				isMouseDown: false,
			}
		},
		created() {
			this.data = JSON.stringify(this.json);
			this.top = ((this.json.y * 150) + (this.json.y * 40));
			this.left = (this.json.x * 200);
			this.isActive = false;
		},
		mounted() {
		},
		methods: {
			focusMouseDown(event){
				this.isMouseDown = true;
				this.hasBeenDragged = false;
				this.checkIfDragging(event);
			},
			checkIfDragging(event){
				var el = this;
				if(this.isMouseDown && !this.hasBeenDragged){
					if($(event.target).closest('.focus-item').is('.ui-draggable-dragging')){
						this.hasBeenDragged = true;
					}else{
						setTimeout(function(){
							el.checkIfDragging(event);
						}, 300);
					}
				}
			},
			focusMouseRelease(event){
				if(!this.hasBeenDragged && !$('#focus-multi-select').prop('checked') && !$('.focus-item.active').length){
					this.openFocusComponent(event);
				}
				this.hasBeenDragged = false;
				this.isMouseDown = false;
			},
			closeComponents(){
				this.secondary = 'placeholder';
				this.comp = 'placeholder';
				this.isActive = false;
				if(this.id == 'new'){
					this.$emit('removefocusfromlist', this.id);
				}
				setTimeout(function(){
					resetFocusDraggable();
				}, 200);
			},
			openFocusComponent(event){
				$(event.target).closest('.focus-item').draggable('destroy');
				this.comp = 'focus-edit-menu';
				this.isActive = true;
			},
			closeFocusComponent(){
				this.comp = 'placeholder';
				this.isActive = false;
			},
			openSecondaryComponent(modal, data = null){
				this.secondary = modal;
				this.info.secondaryData = data;
			},
			closeSecondaryComponent(){
				this.secondary = 'placeholder';
			},
			updateGFX(gfxId){
				this.info.item.gfx = gfxId;
			},
			updateData(focusData){
				this.id = focusData.id;
				this.info.item.id = focusData.id;
				this.info.item.name = focusData.name;
				this.info.item.description = focusData.description;
				this.info.item.x = focusData.x;
				this.info.item.y = focusData.y;
				this.info.item.gfx = focusData.gfx;
				this.info.item.data = focusData.data;
				this.top = ((focusData.y * 150) + (focusData.y * 40));
				this.left = (focusData.x * 200);
				if(document.getElementById('focus-json-'+this.id)){
					let newData = {};
					newData['id'] = focusData.id;
					newData['description'] = focusData.description;
					newData['x'] = focusData.x;
					newData['y'] = focusData.y;
					newData['gfx'] = focusData.gfx;
					newData['data'] = focusData.data;
					document.getElementById('focus-json-'+this.id).innerHTML = JSON.stringify(newData);
				}
				setTimeout(function(){
					focusConnectors();
					resetFocusDraggable();
				}, 200);
			},
			deleteFocus(){
				const config = {
					headers: {
						'content-type': 'multipart/form-data',
						'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
					}
				}
				let toolHelp = this.info.toolHelp
				let env = this;
				jconfirm({
					title: toolHelp.delete_title,
					content: toolHelp.delete_text,
					buttons: {   
						ok: {
							text: toolHelp.delete_confirm,
							btnClass: 'button',
							keys: ['enter'],
							action: function(){
								let formData = new FormData();
								formData.append('id', env.id);
								axios.post('/focus/delete', formData, config)
									.then(function (response) {
										env.$emit('removefocusfromlist', env.id);
										setTimeout(function(){
											focusConnectors();
										}, 200);
									});

								
							}
						},
						cancel: {
							text: toolHelp.delete_cancel,
							btnClass: 'button invert white'
						}
					}
				});
			}
		},
		data: function(){
			return {
				comp: (this.json.id == 'new') ? 'focus-edit-menu' : "placeholder",
				secondary: "placeholder",
				info:{
					isEdit : true,
					item: this.json,
					helpText: this.$parent.helpText,
					toolHelp: this.$parent.toolHelp,
					tool: 'focus',
					queryString: null,
					gfxObject: null,
					gfxList : 'gfx-list'
				}
			}
		},
		computed: {
			focusComponent: function(){
				return this.comp.toLowerCase();
			},
			secondaryComponent: function(){
				return this.secondary.toLowerCase();
			}
		}
	}
</script>
