<template>
	<div>
		<div class="grid">
			<div class="grid-col-span-laptop-8 grid-col-span-12">
				<div class="country-title-box">
					<span class="box-title">{{ this.helpText.division_designer }}</span>

					<div class="division-designer">
						<div class="division-data">
							<input type="text" id="divisionName" :placeholder="this.helpText.unit_name">
							<select id="divisionStartDate">
								<option v-for="(item,index) in data.dates" :value="index">{{ item.year }}.{{ item.month }}.{{ item.day }}</option>
							</select>
						</div>
						<div class="support-units">
							<div class="unit" v-for="n in 5">
								<select>
									<option value=""></option>
									<option v-for="(item, index) in supportUnits" :value="item.id">{{ item.name }}</option>
								</select>
							</div>
						</div>
						<div class="main-units">
							<div class="unit-row" v-for="r in 5">
								<div class="unit" v-for="n in 5">
									<select>
										<option value=""></option>
										<option v-for="(item, index) in regimentUnits" :value="item.id">{{ item.name }}</option>
									</select>
								</div>
							</div>
						</div>
						<span></span>
						<div class="text-right">
							<button class="button button-primary" id="updateDivisionDesigner" data-id="new" @click="saveDivisionDesigner()">{{ this.helpText.save }}</button>
						</div>
					</div>

					<div class="division-information grid">
						<div v-for="(item, index) in data.dates" class="division-information-date grid-col-span-12 grid-col-span-laptop-6">
							<h3>{{ item.year }}.{{ item.month }}.{{ item.day }}</h3>
							<p v-for="(div, i) in item.divisions" class="division-name" :data-date="index" :data-id="i" >{{ div.name }}
								<span>
									<span class="edit-icon"><svg class="feather-icon icon-edit" @click="setDivisionDesigner(index, i, div)"><use xlink:href="#edit"></use></svg></span>
									<span class="delete-icon"><svg class="feather-icon icon-trash-2" @click="deleteDivision(index, i)"><use xlink:href="#trash-2"></use></svg></span>
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col-span-laptop-4 grid-col-span-12">
				<div class="country-title-box">
					<span class="box-title">{{ this.helpText.deployed }}</span>
					<div class="division-information bring-up">
						<div v-for="(item, index) in data.dates" class="division-information-date">
							<h3>{{ item.year }}.{{ item.month }}.{{ item.day }}</h3>
							<p v-for="(div, i) in item.divisions" :data-date="index" :data-id="i" @click="openDivisionProvinceEditor(index, i)" class="divisionProvinceSelector">{{ div.name }} ({{ getTotalUnitsInField(div) }}) <span class="edit-icon"><svg class="feather-icon icon-edit"><use xlink:href="#edit"></use></svg></span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['data', 'startDate', 'toolHelp', 'helpText'],
		data(){
			return{
				supportUnits : [],
				regimentUnits : []
			}
		},
		methods:{
			//TODO - Swap out text for icons, and create selector
			setDivisionDesigner(dateIndex, index, elem){
				this.resetDivisionDesigner();
				$('#divisionName').val(elem.name);
				$('#divisionStartDate').val(dateIndex);
				$('#updateDivisionDesigner').attr('data-id', index);

				$.each(elem.support, function(id, data){
					$('.support-units .unit:nth-child('+(id + 1)+') select').val(data);
				});

				$.each(elem.regiments, function(id, data){
					var unitRow = '.main-units .unit-row:nth-child('+(id + 1)+')';
					$.each(data, function(i, u){
						$(unitRow+' .unit:nth-child('+(i+1)+') select').val(u);
					});
				});
			},

			saveDivisionDesigner(){
				var ins = this;

				if($('#divisionName').val() == ''){
					alert('Name not set');
					return;
				}

				var btn = event.target;
				var dateData = ins.data.dates[$('#divisionStartDate').val()].divisions;
				var support = [];
				var regiments = [];
				$('.support-units .unit').each(function(){
					if($(this).find('select').val() != ''){
						support.push($(this).find('select').val());
					}
				});
				$('.main-units .unit-row').each(function(){
					var unitRow = [];
					$(this).find('.unit').each(function(){
						if($(this).find('select').val() != ''){
							unitRow.push($(this).find('select').val());
						}
					});
					if(unitRow.length){
						regiments.push(unitRow);
					}
				});

				if($(btn).attr('data-id') == 'new'){
					dateData.push({'name' : $('#divisionName').val(), 'support' : support, 'regiments' : regiments, 'locations' : []});
				}else{
					this.$set(dateData, $(btn).attr('data-id'), {'name' : $('#divisionName').val(), 'support' : support, 'regiments' : regiments, 'locations': dateData[$(btn).attr('data-id')].locations});
				}
				$(btn).attr('data-id', 'new');

				this.resetDivisionDesigner();
			},

			deleteDivision(date, division){
				let toolHelp = this.toolHelp
				let env = this;
				jconfirm({
					title: toolHelp.delete_title,
					content: toolHelp.delete_text,
					buttons: {   
						ok: {
							text: toolHelp.delete_confirm,
							btnClass: 'button',
							keys: ['enter'],
							action: function(){
								var hasBeenFound = false;
								env.data.dates[date]['divisions'].forEach(function(val, key){
									if(key === division && !hasBeenFound){ //So it doesn't delete all after it
										env.data.dates[date]['divisions'].splice(env.data.dates[date]['divisions'].indexOf(val), 1);
										hasBeenFound = true;
									}
								});
								$('.country-data-save').show();
							}
						},
						cancel: {
							text: toolHelp.delete_cancel,
							btnClass: 'button invert white'
						}
					}
				});
			},

			resetDivisionDesigner(){
				$('#divisionStartDate').val(0);
				$('#divisionName').val('');
				$('.division-designer .unit select').val('');
			},

			setDivisionDropdowns(){
				var divisions = JSON.parse($('#division-data').text());
				var delegations = JSON.parse($('#division-breakdown').text());
				var ins = this;
				
				$.each(Object.fromEntries(Object.entries(divisions).sort()), function(key, value){
					var nv = value;
					nv['id'] = key;
					if(delegations.support.includes(key)){
						ins.supportUnits.push(nv);
					}
					if(delegations.regiment.includes(key)){
						ins.regimentUnits.push(nv);
					}
				});
			},

			getTotalUnitsInField(division){
				var count = 0;
				$.each(division.locations, function(id, ct){
					if(ct){
						count += parseInt(ct);
					}
				});
				return count;
			},

			openDivisionProvinceEditor(date,id){
				var ins = this;
				setEditingDivisionProvince(date, id);
				setTimeout(function(){
					ins.openSecondaryModal();
				}, 100);
			},

			openSecondaryModal(){
				this.$emit('openSecondaryModal', 'division-province');
			}
		},
		mounted(){
			this.setDivisionDropdowns();
		}
	}
</script>