<template>
	<div class="grid">
		<div class="grid-col-span-tablet-6 grid-col-span-12 country-title-box" v-for="(item, index) in data.government">
			<span class="box-title">{{ index.replace('_', ' ') }}</span>
			<div class="government-options" @click="updateGovernmentData()">
				<div class="option" v-for="(data, name) in item">
					<input type="radio" :name="'government['+index+']'" :data-name="name" :data-clicked="data.is_active" :value="name" class="government-select" :checked="data.is_active">
					<span class="image-wrapper" >
						<img :src="'/media/find/'+data.icon">
					</span>
					<div class="delete" v-if="!data.is_default" @click="deleteGovernment(index, name)"><svg class="feather-icon icon-trash-2"><use xlink:href="#trash-2"></use></svg></div>
					<div class="edit" v-if="!data.is_default" @click="openGovernmentEditor(index, name)"><svg class="feather-icon icon-edit"><use xlink:href="#edit"></use></svg></div>
				</div>
				<button class="button button-primary circular addGovernmentFigure" :data-index="index" @click="openGovernmentEditor(index, false)">+</button>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['data', 'startDate', 'toolHelp'],
		data(){
			//TODO - Update
			return{
				helpText : {'name' : 'NAME', 'name_help' : 'NAME HELP'}
			}
		},
		methods:{
			openGovernmentEditor(index, id){
				this.$emit('openGovernmentEditor', index, id);
			},
			deleteGovernment(list, index){
				let toolHelp = this.toolHelp
				let env = this;
				jconfirm({
					title: toolHelp.delete_title,
					content: toolHelp.delete_text,
					buttons: {   
						ok: {
							text: toolHelp.delete_confirm,
							btnClass: 'button',
							keys: ['enter'],
							action: function(){
								env.$delete(env.data.government[list], index);
								$('.country-data-save').show();
							}
						},
						cancel: {
							text: toolHelp.delete_cancel,
							btnClass: 'button invert white'
						}
					}
				});
			},
			updateGovernmentData(){
				var ins = this;
				$.each(ins.data.government, function(key, value){
					$.each(value, function(name, data){
						ins.data.government[key][name].is_active = $('[name="government['+key+']"][data-name="'+name+'"]').prop('checked');
					});
				});
			}
		},
		mounted(){
			$('.government-select').on('click', function(){
				if($(this).attr('data-clicked')){
					if($(this).attr('data-clicked') == 'true'){
						$(this).closest('.government-options').find('.government-select').attr('data-clicked', 'false');
						$(this).prop('checked', false);
					}else{
						$(this).closest('.government-options').find('.government-select').attr('data-clicked', 'false');
						$(this).attr('data-clicked', 'true');
					}
				}else{
					$(this).closest('.government-options').find('.government-select').attr('data-clicked', 'false');
					$(this).attr('data-clicked', 'true');
				}
			});
		}
	}
</script>