<template>
	<div>
		<h1>{{ data.dates[startDate].year }}.{{ data.dates[startDate].month }}.{{ data.dates[startDate].day }}</h1>
		<div class="country-ideologies">
			<div class="country-title-box" v-for="item in data.dates[startDate].ideologies" @focusout="updateIdeologyData()">
				<span class="box-title">{{ item.ideology }}</span>
				<div :class="(startDate > 0) ? 'hidden' : 'country-national-name-wrapper'">
					<input-help :name="'ideology['+item.ideology+'][name]'" :label="helpText.name" :helptext="helpText.name_help" :value="item.name"></input-help>
					<input-help :name="'ideology['+item.ideology+'][definition]'" :label="helpText.definition" :helptext="helpText.definition_help" :value="item.definition"></input-help>
					<input-help :name="'ideology['+item.ideology+'][nationality]'" :label="helpText.nationality" :helptext="helpText.nationality_help" :value="item.nationality"></input-help>
					<input-help type="number" step="1" :name="'ideology['+item.ideology+'][popularity]'" :label="helpText.popularity" :helptext="helpText.popularity_help" :value="item.popularity"></input-help>
				</div>
				<div class="grid">
					<div :class="(startDate > 0) ? 'hidden' : 'grid-col-span-12' ">
						<h4>{{ helpText.flag.title }}</h4>
					</div>
					<div :class="(startDate > 0) ? 'hidden' : 'grid-col-span-laptop-5 grid-col-span-12'">
						<div class="flag-media-uploader">
							<input type="file" v-on:change="updateFlag('ideology['+item.ideology+'][flag]')" :data-affects="'ideology['+item.ideology+'][flag]'">
							<img :id="'flag-'+item.ideology" :data-ideology-flag="'ideology['+item.ideology+'][flag]'" class="country-flag-preview" :src="'/media/find/'+(item.flag ? item.flag : 1)+ '/flag-standard'">
							<input type="text" style="display: none;" :name="'ideology['+item.ideology+'][flag]'" :value="item.flag">
						</div>
					</div>
					<div class="grid-col-span-laptop-7 grid-col-span-12">
						<p><strong>{{ helpText.flag.text }}</strong></p>
						<p><small>{{ helpText.flag.subtext }}</small></p>
					</div>
				</div>
				<div class="grid">
					<div class="grid-col-span-12">
						<h4>{{ helpText.leader.title }}</h4>
						<gfx-select :data-ideology="item.ideology" :data="getGFX(item)" @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" @updateGFX="updateGFX(id)"></gfx-select>
						<input-help :name="'ideology['+item.ideology+'][party]'" :label="helpText.leader.party" :helptext="helpText.leader.party_help" :value="item.party"></input-help>
						<input-help :name="'ideology['+item.ideology+'][party_long]'" :label="helpText.leader.party_long" :helptext="helpText.leader.party_long_help" :value="item.party_long"></input-help>
						<input-help :name="'ideology['+item.ideology+'][leader]'" :label="helpText.leader.name" :helptext="helpText.leader.name_help" :value="item.leader"></input-help>
						<input-help :name="'ideology['+item.ideology+'][leader_expire]'" :label="helpText.leader.expire" :helptext="helpText.leader.expire_help" :value="item.leader_expire" placeholder="1936.1.1"></input-help>
						<traits :name="'ideology['+item.ideology+'][leader_traits]'" :label="helpText.leader.traits" :helptext="helpText.leader.traits_help" :value="item.leader_traits" type="country" @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" ></traits>
						<select-help :name="'ideology['+item.ideology+'][sub_ideology]'" :label="helpText.leader.sub_ideology" :helptext="helpText.leader.sub_ideology_help" :value="item.sub_ideology" :values="getSubIdeolgies(item.ideology)"></select-help>
						<textarea-help :name="'ideology['+item.ideology+'][leader_description]'" :label="helpText.leader.description" :helptext="helpText.leader.description_help" :value="item.leader_description"></textarea-help>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<style>
.flag-media-uploader{
	position: relative;
}
.flag-media-uploader [type="file"]{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	z-index: 1;
}
.flag-media-uploader.waiting{
	opacity: 0.2;
	pointer-events: none;
}
.hidden{
	display: none;
}
.country-national-name-wrapper{
	margin-bottom: calc(1.5 * var(--space));
}
</style>

<script>
	export default {
		props: ['data', 'startDate', 'helpText', 'toolHelp'],
		data(){
			return {
			};
		},
		mounted(){
			var ins = this;
			$('.gfx-select input').on('change', function(){
				ins.updateIdeologyData();
			});
		},
		methods:{
			getGFX(item){
				return {gfx:item.leader_gfx, name:'ideology['+item.ideology+'][leader_gfx]'};
			},
			updateIdeologyData(){
				var ins = this;
				
				$.each(ins.data.dates[ins.startDate].ideologies, function(key, value){
					var ideology = value.ideology;

					ins.data.dates[ins.startDate].ideologies[key].name = $('[name="ideology['+ideology+'][name]"]').val();
					ins.data.dates[ins.startDate].ideologies[key].popularity = $('[name="ideology['+ideology+'][popularity]"]').val();
					ins.data.dates[ins.startDate].ideologies[key].definition = $('[name="ideology['+ideology+'][definition]"]').val();
					ins.data.dates[ins.startDate].ideologies[key].nationality = $('[name="ideology['+ideology+'][nationality]"]').val();
					ins.data.dates[ins.startDate].ideologies[key].sub_ideology = $('[name="ideology['+ideology+'][sub_ideology]"]').val();
					ins.data.dates[ins.startDate].ideologies[key].party = $('[name="ideology['+ideology+'][party]"]').val();
					ins.data.dates[ins.startDate].ideologies[key].party_long = $('[name="ideology['+ideology+'][party_long]"]').val();
					ins.data.dates[ins.startDate].ideologies[key].leader = $('[name="ideology['+ideology+'][leader]"]').val();
					ins.data.dates[ins.startDate].ideologies[key].leader_expire = $('[name="ideology['+ideology+'][leader_expire]"]').val();
					ins.data.dates[ins.startDate].ideologies[key].leader_gfx = $('[name="ideology['+ideology+'][leader_gfx]"]').val();
					ins.data.dates[ins.startDate].ideologies[key].leader_traits = $('[name="ideology['+ideology+'][leader_traits]"]').val();
					ins.data.dates[ins.startDate].ideologies[key].leader_description = $('[name="ideology['+ideology+'][leader_description]"]').val();
					ins.data.dates[ins.startDate].ideologies[key].leader_traits = $('[name="ideology['+ideology+'][leader_traits]"]').val();
					ins.data.dates[ins.startDate].ideologies[key].flag = $('[name="ideology['+ideology+'][flag]"]').val();
				});
			},
			getSubIdeolgies(ideology){
				var ideologies = JSON.parse($('#help-ideologies-text').text());
				var output = [];
				$.each(ideologies[$('.page-content').attr('data-mod')][ideology+'_sub'], function(key, value){
					output.push({"value":key, "label":value});
				});
				return output;
			},
			openSecondaryModal(event, modal, data = null){
				//If traits
				if(data != null && data.indexOf('data-uid') > -1){
					this.$emit('openSecondaryModal', modal, data);
				}else{
					this.$emit('openSecondaryModal', modal, {type:'leader', elem: $(event.target).closest('.gfx-select').find('input').attr('name')});
				}
			},
			closeSecondaryModal(refresh = true){
				this.$emit('closeSecondaryComponent', refresh);
			},
			updateFlag(el){
				const config = {
					headers: {
						'content-type': 'multipart/form-data',
						'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
					}
				}
				var env = this;
				let formData = new FormData();
				$('[data-affects="'+el+'"]').addClass('waiting');
				formData.append('flag', $('[data-affects="'+el+'"]').prop('files')[0]);
				axios.post('/country/add-flag', formData, config)
				.then(function (response) {
					if(response.data.hasOwnProperty('id')){
						$('[name="'+el+'"]').val(response.data.id);
						$('[data-ideology-flag="'+el+'"]').attr('src', '/media/find/'+response.data.id);
					}else{
						alert('Failed to upload file');
					}
					$('[data-affects="'+el+'"]').removeClass('waiting');
				});
			}
		}
	}
</script>