<template>
	<div class="grid">
		<div class="grid-col-span-tablet-6 grid-col-span-12 country-title-box">
			<span class="box-title general-shrink-title">{{ this.helpText.army }} <span class="general-shrink"><svg class="feather-icon icon-chevron-down"><use xlink:href="#chevron-down"></use></svg></span></span>
			<div class="military-generals">
				<div class="option" v-for="(staff, index) in data.general_data"  @click="openMilitaryEditor('army', index)">
					<div class="staff-delete" @click="deleteGeneral('general_data', index)"><svg class="feather-icon icon-trash-2"><use xlink:href="#trash-2"></use></svg></div>
					<div class="staff-image" :style="'background-image:url(/media/find/'+staff.gfx+')'"></div>
					<div class="staff-info">
						<h4>{{ staff.name }}</h4>
						<ul>
							<li v-for="item in staff.traits">{{ item }}</li>
						</ul>
						<div class="staff-type">{{ staff.is_field_marshal ? 'Field Marshal' : 'General' }}</div>
					</div>
				</div>
			</div>
			<div class="text-centre tabble-content">
				<button class="button button-primary circular addMilitaryStaff" data-index="army" @click="openMilitaryEditor('army', false)">+</button>
			</div>
		</div>

		<div class="grid-col-span-tablet-6 grid-col-span-12 country-title-box">
			<span class="box-title general-shrink-title">{{ this.helpText.navy }} <span class="general-shrink"><svg class="feather-icon icon-chevron-down"><use xlink:href="#chevron-down"></use></svg></span></span>
			<div class="military-generals">
				<div class="option" v-for="(staff, index) in data.admiral_data"  @click="openMilitaryEditor('navy', index)">
					<div class="staff-delete" @click="deleteGeneral('admiral_data', index)"><svg class="feather-icon icon-trash-2"><use xlink:href="#trash-2"></use></svg></div>
					<div class="staff-image" :style="'background-image:url(/media/find/'+staff.gfx+')'"></div>
					<div class="staff-info">
						<h4>{{ staff.name }}</h4>
						<ul>
							<li v-for="item in staff.traits">{{ item }}</li>
						</ul>
						<div class="staff-type">Admiral</div>
					</div>
				</div>
				
			</div>
			<div class="text-centre tabble-content">
				<button class="button button-primary circular addMilitaryStaff" data-index="navy"  @click="openMilitaryEditor('navy', false)">+</button>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['data', 'startDate', 'toolHelp', 'helpText'],
		data(){
			return{
				
			}
		},
		mounted(){
			$('.general-shrink-title').on('click', function(){
				$(this).parent().find('.military-generals').toggleClass('shrink');
			});
		},
		methods:{
			openMilitaryEditor(type, id){
				if($(window.event.target).hasClass('feather-icon') || $(window.event.target).parent().hasClass('feather-icon') || $(window.event.target).hasClass('staff-delete')){
					return;
				}
				this.$emit('openMilitaryEditor', type, id);
			},
			deleteGeneral(list, index){
				let toolHelp = this.toolHelp
				let env = this;
				jconfirm({
					title: toolHelp.delete_title,
					content: toolHelp.delete_text,
					buttons: {   
						ok: {
							text: toolHelp.delete_confirm,
							btnClass: 'button',
							keys: ['enter'],
							action: function(){
								var hasBeenFound = false;
								env.data[list].forEach(function(val, key){
									if(key === index && !hasBeenFound){ //So it doesn't delete all after it
										env.data[list].splice(env.data[list].indexOf(val), 1);
										hasBeenFound = true;
									}
								});
								$('.country-data-save').show();
							}
						},
						cancel: {
							text: toolHelp.delete_cancel,
							btnClass: 'button invert white'
						}
					}
				});
			}
		}
	}
</script>