<template>
	<div @focusout="updateMiscData()">
		<form id="miscData">
		<div class="grid">
			<div class="country-title-box grid-col-span-12 grid-col-span-laptop-6 grid-row-start-laptop-1">
				<span class="box-title">{{ this.helpText.colour }}</span>
				<div class="grid">
					<div class="grid-col-span-9 colour-ranges">
						<p>{{ this.helpText.red }}: <input type="range" @change="updatePreviewColour()" min="0" max="255" id="r" step="1" :value="data.colour.r" name="colour[r]"></p>
						<p>{{ this.helpText.green }}: <input type="range" @change="updatePreviewColour()" min="0" max="255" id="g" step="1" :value="data.colour.g" name="colour[g]"></p>
						<p>{{ this.helpText.blue }}: <input type="range" @change="updatePreviewColour()" min="0" max="255" id="b" step="1" :value="data.colour.b" name="colour[b]"></p>
					</div>
					<div class="grid-col-span-3">
						<div class="colour-preview" id="countryColour" :style="'height: 5rem;background: rgb('+data.colour.r+','+data.colour.g+','+data.colour.b+');'"></div>
					</div>
				</div>
			</div>
			<div class="country-title-box grid-col-span-12 grid-col-span-laptop-6 grid-row-start-laptop-2">
				<span class="box-title">{{ this.helpText.culture_capital }}</span>
				<div class="grid">
					<div class="grid-col-span-12 grid-col-span-tablet-6">
						<!-- Culture -->
						<select-help :value="data.culture" :label="helpText.culture" :helptext="helpText.culture_help" name="culture" :values="cultures"></select-help>
					</div>
					<div class="grid-col-span-12 grid-col-span-tablet-6">
						<!-- Capital -->
						<input style="display: none;" :value="data.capital" name="capital">
						<div class="load-maps generateCapitalMap" v-if="!mapLoaded"><span class="button blue invert"><svg class="feather-icon icon-map"><use xlink:href="#map"></use></svg></span></div>
						<div v-if="mapLoaded">
							<span class="show-capital-map button blue" @click="showCapitalMap()">Select Capital</span>
							<div class="capital-map">
								<div class="map-wrapper" data-zoom="1.0">
									<div id="capital-map" class="map dragscroll">
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="country-title-box grid-col-span-12 grid-col-span-laptop-6 grid-row-start-laptop-3">
				<span class="box-title">{{ this.helpText.tag }}</span>
				<input-help name="tag" :label="helpText.tag" :helptext="helpText.tag_help" :value="data.tag"></input-help>
			</div>
			<div class="country-title-box grid-col-span-12 grid-col-start-laptop-7 grid-col-span-laptop-6 grid-row-start-laptop-1 grid-row-span-laptop-3">
				<span class="box-title">{{ this.helpText.names }}</span>
				<textarea-help :name="'names[male]'" :label="helpText.male_name" :helptext="helpText.name_help" :value="data.names.male.join(', ')"></textarea-help>
				<textarea-help :name="'names[female]'" :label="helpText.female_name" :helptext="helpText.name_help" :value="data.names.female.join(', ')"></textarea-help>
				<textarea-help :name="'names[surnames]'" :label="helpText.surname" :helptext="helpText.name_help" :value="data.names.surnames.join(', ')"></textarea-help>
				<textarea-help :name="'names[callsigns]'" :label="helpText.callsign" :helptext="helpText.name_help" :value="data.names.callsigns.join(', ')"></textarea-help>
			</div>

			<div class="country-title-box grid-col-span-12 grid-col-span-laptop-6 set_politics">
				<span class="box-title">{{ this.helpText.politic_title }}</span>
				<input-help :name="'last_election'" :label="helpText.politics.last_election" :helptext="helpText.politics.last_election_help" :value="data.misc_data.set_politics.last_election"></input-help>
				<input-help type="number" step="1" :name="'election_frequency'" :label="helpText.politics.election_frequency" :helptext="helpText.election_frequency_help" :value="data.misc_data.set_politics.election_frequency"></input-help>
				<checkbox-help :name="'elections_allowed'" :label="helpText.politics.elections_allowed" :helptext="helpText.elections_allowed_help" :value="data.misc_data.set_politics.elections_allowed"></checkbox-help>

				<select-help name="ruling_party" :label="helpText.politics.ruling_party" :helptext="helpText.politics.ruling_party_help" :value="data.misc_data.set_politics.ruling_party" :values="ideologies"></select-help>
			</div>

			<div class="country-title-box grid-col-span-12 grid-col-span-laptop-6">
				<span class="box-title">{{ this.helpText.foreign_relations }}</span>
				<div class="misc_data" style="margin-bottom: calc(1.5 * var(--space))">
					<input-help :name="'create_faction'" :label="helpText.faction" :helptext="helpText.faction_help" :value="data.misc_data.create_faction"></input-help>
				</div>
				<input-help :name="'add_to_faction'" :label="helpText.add_to_faction" :helptext="helpText.add_to_faction_help" :value="factions.join(', ')"></input-help>
				<input-help :name="'give_military_access'" :label="helpText.give_military_access" :helptext="helpText.give_military_access_help" :value="access.join(', ')"></input-help>


			</div>

			<div class="country-title-box grid-col-span-12 misc_data">
				<span class="box-title">{{ this.helpText.misc }}</span>
				<div class="grid">
					<div class="grid-col-span-12 grid-col-span-tablet-6 grid-col-span-laptop-3">
						<input-help type="number" step="0.1" :name="'set_war_support'" :label="helpText.war_support" :helptext="helpText.war_support_help" :value="data.misc_data.set_war_support"></input-help>
					</div>
					<div class="grid-col-span-12 grid-col-span-tablet-6 grid-col-span-laptop-3">
						<input-help type="number" step="0.1" :name="'set_stability'" :label="helpText.stability" :helptext="helpText.stability_help" :value="data.misc_data.set_stability"></input-help>
					</div>
					<div class="grid-col-span-12 grid-col-span-tablet-6 grid-col-span-laptop-3">
						<input-help type="number" step="1" :name="'set_research_slots'" :label="helpText.research_slots" :helptext="helpText.research_slots_help" :value="data.misc_data.set_research_slots"></input-help>
					</div>
					<div class="grid-col-span-12 grid-col-span-tablet-6 grid-col-span-laptop-3">
						<input-help type="number" step="1" :name="'set_convoys'" :label="helpText.convoys" :helptext="helpText.convoys_help" :value="data.misc_data.set_convoys"></input-help>
					</div>
				</div>
			</div>
			<div class="grid-col-span-12">
				<h1>{{ data.dates[startDate].year }}.{{ data.dates[startDate].month }}.{{ data.dates[startDate].day }}</h1>
			</div>
			<div class="country-title-box grid-col-span-tablet-6">
				<span class="box-title">{{ this.helpText.national_spirits }}</span>
				<p><small>{{ this.helpText.national_spirits_desc }}</small></p>
				<div class="idea-list">
					<div class="national-spirits grid">
						<div class="grid-col-span-2 grid-col-span-tablet-6" v-for="item in nationalSpirits" :key="item.id">
							<div class="idea" :data-id="item.id">
								<img class="idea-image" :src="'/media/find/'+item.gfx">
								<div class="idea-title">
									<p class="name">{{ item.name }}</p>
								</div>
								<div class="idea-delete" @click="removeNationalSpirit(item)">
									<svg class="feather-icon icon-trash-2"><use xlink:href="#trash-2"></use></svg>
								</div>
							</div>
						</div>
					</div>
				</div>
				<h5>{{ this.helpText.national_spirit_choose_list }}</h5>
				<div>
					<button type="button" @click="openNationalSpiritList(id, name.prefix)" class="button button-blue" style="margin-right: 1rem;" v-for="name,id in ideaLists" :data-id="id">{{ name.prefix ? '['+name.prefix+'] ' : '' }}{{ name.name }}</button>
					<div v-if="ideaLists.length == 0">
						{{ this.helpText.national_spirit_no_options }}
					</div>
				</div>
			</div>
			<div class="country-title-box grid-col-span-6">
				<span class="box-title">{{ this.helpText.autonomy }}</span>
				<p><small>{{ this.helpText.autonomy_desc }}</small></p>
				<div class="grid autonomy-subjects" v-for="item,index in subjects" :key="item.index">
					<div class="grid-col-span-tablet-5 grid-col-span-12 tag">
						<input-help :name="'subject['+index+'][tag]'" :label="helpText.subject_tag" :helptext="helpText.subject_tag_help" :value="item.tag"></input-help>

					</div>
					<div class="grid-col-span-tablet-5 grid-col-span-12 autonomy">
						<select-help :name="'subject['+index+'][autonomyLevel]'" :value="item.autonomyLevel" :values="autonomyLevels" :label="helpText.autonomy_level" :helptext="helpText.autonomy_level_help"></select-help>
					</div>
				</div>
				<button type="button" class="button" @click="addAutonomySubject()">{{ this.helpText.add_subject }}</button>
			</div>
		</div>
		</form>
		<div class="national-spirit-modal modal wide open" v-if="nationalSpiritList">
			<div class="modal-header">
				<h5>{{ this.helpText.national_spirit_title }}</h5>
				<div class="close" @click="closeNationalSpiritModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
			</div>
			<div class="modal-content">
				<div class="grid idea-list">
					<div v-for="item in nationalSpiritList" class="grid-col-span-2 grid-col-span-tablet-6" @click="addNationalSpiritToList(item)">
						<div class="idea" :data-id="item.id">
							<img class="idea-image" :src="'/media/find/'+item.gfx">
							<div class="idea-title">
								<p class="name">{{ item.name }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<style scoped>
	.load-maps{
		position: static !important;
	}
	.load-maps .button{
		justify-content: center;
	}
	.idea-list .idea{ max-width: 100%; }
</style>
<script>
	export default {
		props: ['data', 'startDate', 'helpText'],
		data(){
			var cultures = [];
			var ideologies = [];
			var autonomyLevels = [];

			$.each(this.helpText.cultures, function(key, value){
				cultures.push({label:value, value:key});
			});

			$.each(this.data.dates[0].ideologies, function(key, val){
				ideologies.push({label: val.ideology, value: val.ideology});
			});

			var autonomyList = JSON.parse(document.getElementById('autonomy-data').innerHTML);
			$.each(autonomyList, function(key, value){
				autonomyLevels.push({value:key, label:value.name});
			});
			if(this.data.dates[this.startDate].misc_data == null){
				this.data.dates[this.startDate].misc_data = {};

				if(!this.data.dates[this.startDate].misc_data.hasOwnProperty('national_spirits')){
					this.data.dates[this.startDate].misc_data.national_spirits = [];
				}
			}
			if(this.data.dates[this.startDate].misc_data == null){
				if(!this.data.dates[this.startDate].misc_data.hasOwnProperty('subjects')){
					this.data.dates[this.startDate].misc_data.subjects = [];
				}
			}
			return{
				cultures: cultures,
				ideologies: ideologies,
				mapLoaded: $('#province-map').find('svg').length,
				factions: (Array.isArray(this.data.misc_data.add_to_faction) ? this.data.misc_data.add_to_faction : [this.data.misc_data.add_to_faction]),
      			access: (Array.isArray(this.data.misc_data.give_military_access) ? this.data.misc_data.give_military_access : [this.data.misc_data.give_military_access]),
      			ideaLists: JSON.parse(document.getElementById('idea-lists').innerHTML),
      			nationalSpirits: this.data.dates[this.startDate].misc_data.national_spirits,
      			nationalSpiritList: null,
      			nationalSpiritListPrefix: null,
      			subjects: this.data.dates[this.startDate].misc_data.subjects,
      			autonomyLevels: autonomyLevels
			}
		},
		mounted(){
			var ins = this;
			$('.generateCapitalMap').on('click', function(){
				ins.checkMapIsSet();
			});
			if($('#province-map').find('svg').length){
				ins.generateCapitalMap();
			}
		},
		methods:{
			checkMapIsSet(){
				var ins = this;
				if($('#province-map').find('svg').length){
					ins.mapLoaded = true;
					setTimeout(function(){
						ins.generateCapitalMap();
					}, 500);
				}else{
					setTimeout(function(){
						ins.checkMapIsSet();
					}, 500);
				}
			},
			generateCapitalMap(){
				var $map = $('#capital-map');
				$map.html($('#province-map').html());

				$('.map-wrapper').bind('mousewheel DOMMouseScroll', function(event){
					event.preventDefault();
					if (event.originalEvent.wheelDelta > 0 || event.originalEvent.detail < 0) {
						zoomInMap();
					}else {
						zoomOutMap();
					}
				});

				var ins = this;
				setTimeout(function(){
					$('.capital-map #state-'+ins.data.capital).attr('data-isCapital', 'true');

					$('.capital-map [id*="state-"]').on('click', function(){
						$('.capital-map [id*="state-"]').removeAttr('data-isCapital');
						$(this).attr('data-isCapital', 'true');
						$('[name="capital"]').val($(this).attr('id').replace('state-', ''));
						ins.showCapitalMap();
					});
				}, 100);
			},
			showCapitalMap(){
				$('.capital-map').toggle();
			},
			addAutonomySubject(){
				var ins = this;
				var time = + new Date();
				if(ins.data.dates[ins.startDate].misc_data.subjects == undefined){
					ins.data.dates[ins.startDate].misc_data.subjects = [];
				}
				ins.data.dates[ins.startDate].misc_data.subjects.push({index: time, tag: '', autonomyLevel:''});
				ins.subjects = ins.data.dates[ins.startDate].misc_data.subjects;
			},
			closeNationalSpiritModal(){
				var ins = this;
				ins.nationalSpiritList = null;
			},
			openNationalSpiritList(id, prefix){
				var ins = this;
				ins.nationalSpiritListPrefix = prefix;

				$.get('/ideas/list/'+id, function(data){
					var list = [];
					$.each(data, function(index, value){
						if(value.group == 'country'){
							list.push({gfx:value.gfx, name:value.name, id:value.id});
						}
					});
					ins.nationalSpiritList = list;

				});
			},
			addNationalSpiritToList(item){
				var ins = this;
				item.prefix = ins.nationalSpiritListPrefix;
				if(ins.data.dates[ins.startDate].misc_data.national_spirits == undefined){
					ins.data.dates[ins.startDate].misc_data.national_spirits = [];
				}
				ins.data.dates[ins.startDate].misc_data.national_spirits.push(item);
				ins.nationalSpirits = ins.data.dates[ins.startDate].misc_data.national_spirits;
			},
			removeNationalSpirit(item){
				var ins = this;
				ins.data.dates[ins.startDate].misc_data.national_spirits.forEach(function(val, key){
					if(val.id === item.id){
						ins.data.dates[ins.startDate].misc_data.national_spirits.splice(ins.data.dates[ins.startDate].misc_data.national_spirits.indexOf(val), 1);
					}
				});
			},
			updatePreviewColour(){
				$('body').find('.colour-preview').attr('style', 'height: 5rem;background: rgb('+$('body').find('.colour-ranges #r').val()+','+$('body').find('.colour-ranges #g').val()+','+$('body').find('.colour-ranges #b').val()+');');
			},
			updateMiscData(){
				var ins = this;
				$.each(ins.data.names, function(key, value){
					ins.data.names[key] = $('[name="names['+key+']"').val().split(', ');
				});
				ins.data.capital = $('[name="capital"]').val();
				ins.data.culture = $('[name="culture"]').val();
				ins.data.tag = $('[name="tag"]').val();
				ins.data.colour.r = $('[name="colour[r]"]').val();
				ins.data.colour.g = $('[name="colour[g]"]').val();
				ins.data.colour.b = $('[name="colour[b]"]').val();

				var subjects = [];
				var sIndex = 0;
				$('.autonomy-subjects').each(function(){
					subjects.push({index:sIndex, tag:$(this).find('.tag input').val(), autonomyLevel: $(this).find('.autonomy select').val()});
					sIndex++;
				});

				ins.data.dates[ins.startDate].misc_data = {"national_spirits": ins.nationalSpirits, "subjects": subjects};

				$('.misc_data input, .misc_data select').each(function(){
					ins.data.misc_data[$(this).attr('name')] = $(this).val();
				});

				$('.set_politics input, .set_politics select').each(function(){
					if($(this).attr('type') != 'checkbox'){
						ins.data.misc_data.set_politics[$(this).attr('name')] = $(this).val();
					}
				});
				$('.set_politics input[type="checkbox"]').each(function(){
					ins.data.misc_data.set_politics[$(this).attr('name')] = $(this).prop('checked');
				});

				var factions = $('[name="add_to_faction"]').val().split(', ');
				if(factions.length == 1){
					factions = [factions];
				}
				ins.data.misc_data.add_to_faction = factions;
				
				var milAccess = $('[name="give_military_access"]').val().split(', ');
				if(milAccess.length == 1){
					milAccess = [milAccess];
				}
				ins.data.misc_data.give_military_access = milAccess;

			}
		}
	}
</script>