<template>
	<div>
		<h1>{{ data.dates[startDate].year }}.{{ data.dates[startDate].month }}.{{ data.dates[startDate].day }}</h1>
		<div class="research-items">
			<div class="research-item" v-for="(item,index) in currentResearch" :key="item.index">
				<div class="select" :data-index="item.index">
					<select-help name="research" label="Research" :values="research" :value="item.value"></select-help>
				</div>
				<div class="remove" @click="deleteResearch(index)">
					<svg class="feather-icon icon-trash-2"><use xlink:href="#trash-2"></use></svg>
				</div>
			</div>
		</div>
		<p><button class="button button-blue" @click="addNewResearch">Add research</button></p>
	</div>
</template>

<script>
	export default {
		props: ['data', 'startDate', 'toolHelp', 'helpText'],
		data(){
			var researchable = JSON.parse(document.getElementById('researchable').innerHTML);
			var researchText = JSON.parse(document.getElementById('research-data').innerHTML);
			var research = [];
			$.each(researchable.research, function(key, value){
				if(researchText.hasOwnProperty(value)){
					research.push({value:value, label: researchText[value].name});
				}else{
					research.push({value: value, label: value})
				}
			});
			
			research.sort(function (a, b) {
			    return a.label.localeCompare(b.label);
			});

			var currentResearch = this.data.dates[this.startDate].research;
			if(currentResearch == null){
				currentResearch = [{index:0,value:''}];
			}
			var currentResearchIndex = 0;
			$.each(currentResearch, function(index, item){
				currentResearchIndex = item.index;
			});
			return{
				research: research,
				currentResearch: currentResearch,
				currentResearchIndex: currentResearchIndex
			}
		},
		mounted(){
			var env = this;
			$('.research-items').on('change', 'select', function(){
				env.updateResearch();
			});
		},
		methods:{
			addNewResearch(){
				this.currentResearchIndex++;
				this.currentResearch.push({index: this.currentResearchIndex, value: ''});
			},
			deleteResearch(index){
				this.currentResearchIndex--;
				this.currentResearch.splice(index, 1);
				this.updateResearch();
			},
			updateResearch(){
				var ins = this;
				var research = [];
				$.each(ins.currentResearch, function(i, item){
					var val = $('.select[data-index="'+item.index+'"]').find('select').val();
					research.push({index:item.index, value:$('.select[data-index="'+item.index+'"]').find('select').val()});
				});
				ins.data.dates[this.startDate].research = research;
				updateCountryData(ins.data);
				resetCountrySaveUpdateEvents();
			}
		}
	}
</script>