<template>
	<div>
		<h1>{{ data.dates[startDate].year }}.{{ data.dates[startDate].month }}.{{ data.dates[startDate].day }}</h1>
		<div class="modal centred show">
			<div class="modal-header">
				<h4>{{ this.helpText.title }}</h4>
			</div>
			<div class="modal-content">
				<p>{{ this.helpText.info }}</p>
				<p v-for="(item, key) in data.dates"><button :class="'button button-primary full-width ' + ((key == startDate) ? 'invert disabled' : '') " @click="updateStartDate(key)">{{ item.year }}.{{ item.month }}.{{ item.day }}</button></p>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['data', 'startDate', 'helpText'],
		methods:{
			updateStartDate(arrayIndex){
				this.$emit('updateStartDate', arrayIndex);
			}
		}
	}
</script>