<template>
	<div>
		<h1>{{ data.dates[startDate].year }}.{{ data.dates[startDate].month }}.{{ data.dates[startDate].day }}</h1>
		<div class="map-wrapper" data-zoom="1.0">
			<div id="state-map" class="map dragscroll">
				
			</div>
			<canvas id="country-map-canvas"></canvas>
		</div>
		<div>
			Definitions:
			<input placeholder="delimiter" value=";" type="text" id="delimiter">
			<p><input type="file" name="csv" id="definitions-csv"></p>
		</div>
	</div>
</template>

<style>
	.map-wrapper{
		position: relative;
	}
	#state-map{
		width: calc(5632px * 2);
	}
	#state-map svg{
		width: 100%;
		height: auto !important;
	}
	canvas{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		opacity: 0.4;
	}

	canvas.hide{
		opacity: 0;
		pointer-events: none;
	}
</style>

<script>
	export default {
		props: ['data', 'startDate'],
		methods :{
			generateMap(){
				var $map = $('#state-map');
				$map.html($('#province-map').html());

				$('.map-wrapper').bind('mousewheel DOMMouseScroll', function(event){
					//event.preventDefault();
					// if (event.originalEvent.wheelDelta > 0 || event.originalEvent.detail < 0) {
					// 	zoomInMap();
					// }else {
					// 	zoomOutMap();
					// }
				});

				resetDragscroll();

				/* 
				For canvas check
				*/
				var img = document.getElementById('imageToCheck'); 
				var base_image = new Image();
				base_image.src = $('#imageToCheck').attr('src');
				var canvas = document.getElementById('country-map-canvas');
				canvas.height = img.height * 2;
				canvas.width = img.width * 2;
				canvas.getContext('2d').drawImage(base_image, 0, 0, img.width * 2, img.height * 2);

				var definitions = [];
				$('#definitions-csv').on('change', function(){
					alert('Reading CSV');
					let csvreader = new FileReader();
					let csvfilename = document.getElementById('definitions-csv').files[0].name;
					csvreader.readAsText(document.getElementById('definitions-csv').files[0], "UTF-8");
					csvreader.onload = function(evt){
						var lines = evt.target.result.split("\n");
						$.each(lines, function(key, line){
							var data = line.split($('#delimiter').val()); 
							definitions[data[0]] = {'r': data[1], 'g': data[2], 'b':data[3]};
						});
					};
				});

				var rgb = [];
				var hex = '';

				function getCursorPosition(canvas, event) {
				    const rect = canvas.getBoundingClientRect()
				    const x = event.clientX - rect.left
				    const y = event.clientY - rect.top
				    return [x,y]
				}

				canvas.addEventListener('mousedown', function(e) {
				    var pos = getCursorPosition(canvas, e);
				    rgb = canvas.getContext('2d').getImageData(pos[0], pos[1], 1, 1).data;
					hex = rgbToHex(rgb[0],rgb[1],rgb[2]);
					console.log('RGB: '+rgb);
					$('#country-map-canvas').addClass('hide');
				})

				$('svg > *').on('click', function(){
					var el = $(this);
					if(!el.attr('data-state-id') && !el.attr('data-province-id')){
						$.each(definitions, function(key, value){
							if((value.r == rgb[0]) && (value.g == rgb[1]) && (value.b == rgb[2])){
								//Perfect match
								el.attr('data-province-id', key);
								el.attr('style', 'fill:'+hex);
							}
						});
					}
					$('#country-map-canvas').removeClass('hide');
				});


			}
		},
		mounted(){
			this.generateMap();
		}
	}
</script>