<template>
	<div>
		<h1>{{ data.dates[startDate].year }}.{{ data.dates[startDate].month }}.{{ data.dates[startDate].day }}</h1>
		<div class="state-map-wrapper">
			<div class="map-wrapper" data-zoom="1.0">
				<div id="state-map" class="map dragscroll">
					
				</div>

				<div class="state-map-details" v-if="stateEditing">
					<span class="close" @click="closeStateEditor"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></span>
					<div class="grid">
						<div class="grid-col-span-tablet-6 grid-col-span-12">
							<checkbox-help name="controlState" :label="this.helpText.control" :value="this.stateEditing.control"></checkbox-help>
						</div>
						<div class="grid-col-span-tablet-6 grid-col-span-12">
							<checkbox-help name="coreState" :label="this.helpText.core" :value="this.stateEditing.core"></checkbox-help>
						</div>
						<div class="grid-col-span-tablet-6 grid-col-span-12 grid-col-start-tablet-7">
							<button @click="updateState()" class="button button-blue">{{ this.helpText.submit }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<style>
	:root{
		--countryColour: var(--countryColour);
	}
</style>
<script>
	export default {
		props: ['data', 'startDate', 'helpText'],
		data(){
			return{
				stateEditing: null
			}
		},
		computed:{
			stateColour(){
				return {
					'--countryColour': 'rgb('+ this.data.colour.r +', '+ this.data.colour.g +', '+ this.data.colour.b +')'
				}
			}
		},
		methods :{
			generateMap(){
				var $map = $('#state-map');
				$map.html($('#province-map').html());
				var ins = this;

				this.setStateOwnership();

				$('.map-wrapper').bind('mousewheel DOMMouseScroll', function(event){
					event.preventDefault();
					if (event.originalEvent.wheelDelta > 0 || event.originalEvent.detail < 0) {
						zoomInMap();
					}else {
						zoomOutMap();
					}
				});			

				
				$('#country-editor-tabs').on('click', '#state-map [id*="state-"]', function(){
					ins.stateEditing = { id: $(this).attr('id').replace('state-', ''), control: ($(this).attr('data-control') == "true"), core: ($(this).attr('data-core') == "true") };
				});

				resetDragscroll();


			},
			setStateOwnership(){
				var ins = this;
				//Remove all as state may have been removed from list whilst editing
				$('#state-map [id*="state-"]').removeAttr('data-control');
				$('#state-map [id*="state-"]').removeAttr('data-core');
				$.each(ins.data.dates, function(index, data){
					//Don't show data for future start dates
					if(ins.startDate >= index){
						if(data.states != null){
							$.each(data.states, function(id, info){
								var state = $('#state-map #state-'+id);
								if(info.control){
									state.attr('data-control', 'true');
								}else{
									//Remove if added from previous date
									state.removeAttr('data-control');
								}
								if(info.core){
									state.attr('data-core', 'true');
								}else{
									//Remove if added from previous date
									state.removeAttr('data-core');
								}
							});
						}
					}
				});
			},
			closeStateEditor(){
				this.stateEditing = null;
			},
			updateState(){
				var ins = this;
				var stateID = ins.stateEditing.id;
				var isCore = $('.state-map-details [name="coreState"]').prop('checked');
				var isControl = $('.state-map-details [name="controlState"]').prop('checked');
				var shouldRemove = true;
				var startDate = ins.startDate;

				if(ins.data.dates[startDate].states == null){
					ins.data.dates[startDate].states = {};
				}

				if(!isCore && !isControl){
					$.each(ins.data.dates, function(index, data){
						//Only check if past dates had it (so that way core/control can be removed in later dates)
						if(startDate > index){
							shouldRemove = data.states.hasOwnProperty(stateID);
						}
					});
				}else{
					shouldRemove = false;
				}

				if(ins.data.dates[startDate].states != null){
					var isArraySomehow = Array.isArray(ins.data.dates[startDate].states);
					var newData = {};
					$.each(ins.data.dates[startDate].states, function(stateID, value){
						if(value == undefined){
							if(ins.data.dates[startDate].states.hasOwnProperty(stateID)){
								delete ins.data.dates[startDate].states[stateID];
							}
						}else{
							newData[stateID] = ins.data.dates[startDate].states[stateID];
						}
					});
					if(isArraySomehow){
						ins.data.dates[startDate].states = newData;
					}
				}

				if(!shouldRemove){
					ins.data.dates[startDate].states[stateID] = {core: isCore, control: isControl};
				}else{
					//Only delete if it exists
					if(ins.data.dates[startDate].states.hasOwnProperty(stateID)){
						delete ins.data.dates[startDate].states[stateID];
					}
				}

				this.setStateOwnership();
				this.stateEditing = null;
				$('.country-data-save').show();

			}
		},
		mounted(){
			this.generateMap();
		}
	}
</script>