<template>
	<div class="input-with-help">
		<div class="input-wrapper" @focusin="openSecondaryModal" @focusout="closeSecondaryModal">
			<textarea class="default-input" :data-uses="writeUses()" :name="name" :placeholder="label" v-html="value"></textarea>
			<label class="input-label" :for="name">{{ label }}</label>
			<div class="help-text" v-if="helptext">
				<svg class="feather-icon info"><use xlink:href="#info"></use></svg>
				<div class="help-text-info">
					{{ helptext }}
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props:[
			'label','value','helptext','name', 'uses'
		],
		methods: {
			closeSecondaryModal(){
				this.$emit('closeSecondaryModal');
			},
			openSecondaryModal(event){
				this.$emit('openSecondaryModal', event, 'outcome-builder', this.name);
			},
			writeUses(){
				var str = '';
				if(this.uses){
					$.each(this.uses, function(k, v){
						str += v+',';
					});
				}
				str = str.replace(/,\s*$/, "");
				return str;
			}
		}
	}
</script>