<template>
	<button :class="'button' + (inv ? ' inverted ' : '') + (wide ? ' full-width' : '')">{{ text }}</button>
</template>

<script>
	export default {
		props:[
			'text','inv','wide'
		]
	}
</script>