<template>
	<div class="input-with-help">
		<label class="fakebox" :for="name">
			<input :name="name" @change="updatedValue($event.target.checked)" :id="name" value="1" :checked="(value == '1' || value == 'yes' || value == true) ? true : false" type="checkbox" :readonly="readonly">
			<div class="checkbox">
				<svg class="feather-icon icon-check"><use xlink:href="#check"></use></svg>
			</div>
			<div class="label">
				{{ label }}
				<div class="help-text" v-if="helptext">
					<svg class="feather-icon info"><use xlink:href="#info"></use></svg>
					<div class="help-text-info">
						{{ helptext }}
					</div>
				</div>
			</div>
		</label>
	</div>
</template>

<script>
	export default {
		props:[
			'label','value','helptext','name', 'readonly'
		],
		methods:{
			updatedValue(val){
				this.$emit("updatedValue", { name: this.name, value: val });
			}
		}
	}
</script>