<template>
	<input type="hidden" name="_token" :value="token">
</template>

<script>
	export default {
		data(){
			return {
				token: document.querySelector('[name="csrf-token"]').content
			}
		}
	}
</script>