<template>
	<div class="input-with-help">
		<div class="input-wrapper">
			<input class="default-input" @change="updatedValue($event.target.checked)" @keyup="updatedValue($event.target.checked)" :required="required" type="text" :name="name" :value="value" :placeholder="label" autocomplete="disabled" :list="'list'+name">
			<div class="select-dropdown"><svg class="feather-icon chevron-down"><use xlink:href="#chevron-down"></use></svg></div>
			<label class="input-label" :for="name">{{ label }}</label>
			<div class="help-text" v-if="helptext">
				<svg class="feather-icon info"><use xlink:href="#info"></use></svg>
				<div class="help-text-info">
					{{ helptext }}
				</div>
			</div>
			<datalist :id="'list'+name">
				<option></option>
				<option v-for="item in fixed_values" :value="item.value">{{ item.label }}</option>
			</datalist>
		</div>
	</div>
</template>

<script>
	export default {
		props:[
			'label','value','helptext','name','values', 'required'
		],
		data: function(){
			return {
				fixed_values : []
			}
		},
		mounted(){
			this.setFixedValues();
		},
		watch:{
			values(newValues, oldValues){
				this.setFixedValues();
			}
		},
		methods: {
			setFixedValues(){
				if(typeof this.values == 'object'){
					this.fixed_values = this.values;
					return;
				}

				let selectValues = false;
				try{
					JSON.parse(this.values);
				} catch (e){
					selectValues = this.values;
				}
				
				try{
					let json = JSON.parse(this.values);
					selectValues = json;
				} catch (e){
					selectValues = [];
				}

				this.fixed_values = selectValues;
			}
		}
	}
</script>