<template>
	<div class="gfx-select">
		<div class="grid">
			<div class="grid-col-span-tablet-3 grid-col-span-6">
				<img :src="'/media/find/'+this.inputGFX+'/preview'" class="gfx-input-preview">
				<input :readonly="readonly" class="gfx-input" :value="this.inputGFX" :name="this.name" style="display: none">
			</div>
			<div class="grid-col-span-tablet-9 grid-col-span-6">
				<button v-if="!readonly" type="button" class="button inverted full-width" @click="openGFXSelectionModal()"><svg class="feather-icon icon-image"><use xlink:href="#image"></use></svg> Choose GFX</button>
			</div>
		</div>

		<dialog id="media-modal" class="dialog-modal">
			<div class="modal-header">
				<h5>Choose GFX</h5>
				<button class="close" type="button" @click="closeGFXSelectionModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></button>
			</div>
			<div class="modal-content">
				<div class="data-field" style="margin-bottom: 1rem;">
					<div class="input-wrapper">
						<input class="default-input gfxListSearch" type="text" placeholder="Search GFX" @keyup="searchGFXList()">
						<label>Search GFX</label>
					</div>
				</div>
				<div>
					<h3>Default GFX</h3>
					<div class="gfx-list default" id="gfxDefaultImages">
						<img :src="spriteMap()" @click="chooseGFX(item.id)" @load="removeLoader(index)" :style="'object-position: -'+getX(index)+'px -'+getY(index)+'px'" class="gfx-image gfx-image-sprite" :data-id="item.id" :data-filename="item.filename" v-for="(item, index) in this.gfx.default" loading="lazy">
					</div>
				</div>
				<div v-if="this.gfx.custom">
					<h3 style="margin-top: 2rem;">Custom GFX</h3>
					<div class="grid-col-span-12">
						<p><label for="custom_gfx">Choose new custom GFX</label>
						<input type="file" name="custom_gfx" id="custom_gfx"></p>
						<p><button type="button" class="button" @click="uploadCustomGFX()">Upload GFX</button></p>
						<p>&nbsp;</p>
					</div>
					<div class="gfx-list">
						<img :src="'/media/find/'+item.id" loading="auto" class="gfx-image" @click="chooseGFX(item.id)" :data-id="item.id" :data-filename="item.filename" v-for="item in this.gfx.custom">
					</div>
					
				</div>
			</div>
		</dialog>
	</div>
</template>

<style scoped>
.gfx-list{
	max-height: 25vh;
	overflow-y: auto;
	position: relative;
}
.gfx-list > *{
	z-index: 2;
}
.gfx-list.default::before{
	content: '';
	position: absolute;
	top: 30px;
	left: calc(50% - 0.5em);
	width: 25px;
	height: 25px;
	background-image: url('/img/feather-icons/loader.svg');
	background-position: center;
	background-size: contain;
	animation: spin infinite 2s ease;
}
#gfxDefaultImages.loaded::before{
	display: none;
}
</style>

<script>
	export default {
		props: [
			'name', 'value', 'tool', 'readonly'
		],
		data: function(){
			let val = this.value ? this.value : 0
			return {
				inputGFX: val,
				gfx: {default:[], custom:[], spritemap:''}
			}
		},
		mounted() {
			
		},
		methods: {
			openGFXSelectionModal(){
				if(this.gfx.default.length == 0){
					this.getGFX();
				}
				document.getElementById('media-modal').showModal();
			},
			closeGFXSelectionModal(){
				document.getElementById('media-modal').close();
			},
			getGFX(){
				var el = this;
				$.get('/media/gfx-list/'+this.tool, function(data){
					el.gfx = JSON.parse(data);
				});
			},
			searchGFXList(){
				var val = $('.gfxListSearch').val().toLowerCase();
				if(val != ''){
					$('.gfx-list .gfx-image').each(function(){
						var file = $(this).attr('data-filename').toLowerCase();
						if(file.includes(val)){
							$(this).show();
						}else{
							$(this).hide();
						}
					});
				}else{
					$('.gfx-list .gfx-image').show();
				}
			},
			removeLoader(index){
				if(index > 2){
					$('#gfxDefaultImages').addClass('loaded');
				}
			},
			uploadCustomGFX(){
				let el = this;
				const config = {
					headers: {
						'content-type': 'multipart/form-data',
						'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
					}
				}

				let formData = new FormData();
				formData.append('custom_gfx', $('#custom_gfx').prop('files')[0]);
				axios.post('/media/upload-custom-gfx', formData, config)
					.then(function (response) {
						el.gfx.custom.push(response.data);
						el.chooseGFX(response.data.id);
					});
			},
			getX(index){
				var max = 10;
				var n = index / max;
				var decimal = n - Math.floor(n);
				return Math.round(decimal * 10) * 95;
			},
			getY(index){
				var max = 10;
				var f = Math.floor(index / max);
				return f * 95;
			},
			spriteMap(){
				return this.gfx.spritemap;
			},
			chooseGFX(id){
				this.inputGFX = id;
				this.closeGFXSelectionModal();
				this.$emit("updatedValue", { name: this.name, value: id });
			},
		},
		watch: {
			value(val){
				this.inputGFX = val || 0;
			}
		}
	}
</script>