<template>
	<div class="input-with-help">
		<div class="input-wrapper">
			<input class="default-input" @keyup="updatedValue($event.target.value)" @change="updatedValue($event.target.value)" :readonly="readonly" :type="(type) ? type : 'text'" :step="step" :name="name" :required="required" :value="value" :placeholder="label">
			<label class="input-label" :for="name">{{ label }}</label>
			<div class="help-text" v-if="helptext">
				<svg class="feather-icon info"><use xlink:href="#info"></use></svg>
				<div class="help-text-info">
					{{ helptext }}
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props:[
			'label','value','helptext','name', 'required', 'type', 'step', 'readonly'
		],
		methods: {
			updatedValue(val){
				this.$emit("updatedValue", { name: this.name, value: val });
			}
		}
	}
</script>