<template>
	<a :class="'button' + (inv ? ' inverted ' : '') + (wide ? ' full-width' : '')" :href="link">{{ text }}</a>
</template>

<script>
	export default {
		props:[
			'text','inv','link','wide'
		]
	}
</script>