<template>
	<select-help name="mod_id" label="Mod" helptext="Which mod would you like this to be associated with?" :values="values"></select-help>
</template>

<script>
	export default {
		data(){
			return {
				values: []
			}
		},
		mounted(){
			var el = this;
			$.get('/mod/api/list', function(data){
				var vals = [];
				$.each(data, function(key, val){
					vals.push({value:val.id, label:val.name});
				});
				el.values = vals;
			});
		}
	}
</script>