<template>
	<div class="input-with-help">
		<div class="input-wrapper">
			<textarea class="default-input" :name="name" :placeholder="label" v-html="outcomeValue" :data-uid="this._uid"></textarea>
			<label class="input-label" :for="name">{{ label }}</label>
			<div class="help-text" v-if="helptext">
				<svg class="feather-icon info"><use xlink:href="#info"></use></svg>
				<div class="help-text-info">
					{{ helptext }}
				</div>
			</div>
			<button class="builder-modal-button button button-small" type="button" @click="openBuilderModal()">Build</button>
		</div>

		<dialog :id="'builder-modal-'+this._uid" class="dialog-modal builder-modal" v-if="this.useBuilderModal">
			<div class="modal-header">
				<h5>Builder</h5>
				<div class="close" @click="closeBuilderModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
			</div>
			<div class="modal-content builder-modal-content">
				<p class="text-centre"><small>Press the "+" button to add a new item to the output. If the item added is a scope, and is still incomplete a new "+" button will appear inside. Once you have finished building your output, press the "Submit" button.</small></p>
				<div class="builder" :id="'builderOutput-'+this._uid" contenteditable="true">
					<button type="button" contenteditable="false" class="addToBuilder" data-tabs="0">+</button>
				</div>
				<p>&nbsp;</p>
				<p class="text-centre"><button type="button" class="button wide" @click="updateData">Submit</button></p>
			</div>
		</dialog>
	</div>
</template>

<script>
	export default {
		props: ['label','value','helptext','name', 'uses'],
		data(){
			return {
				outcomeValue: this.value,
				useBuilderModal: false
			}
		},
		methods: {
			openBuilderModal(){
				this.useBuilderModal = true;
				this.openModal();
			},
			openModal(){
				if(document.getElementById('builder-modal-'+this._uid)){
					document.getElementById('builder-modal-'+this._uid).showModal();
					this.setupBuilder();
				}else{
					var el = this;
					setTimeout(function(){
						el.openModal();
					}, 50);
				}
			},
			closeBuilderModal(){
				document.getElementById('builder-modal-'+this._uid).close();
			},
			updateData(){
				$('.addToBuilder').remove();
				$('.builderSearch').remove();
				var val = $('#builderOutput-'+this._uid).html().replace(/(<([^>]+)>)/gi, "");

				var gtp = "&gt;",
    			gtp = new RegExp(gtp, "g");
    			var ltp = "&lt;",
    			ltp = new RegExp(ltp, "g");
				this.outcomeValue = val.replace(gtp, '>').replace(ltp, '<').trim();
				this.closeBuilderModal();
				this.useBuilderModal = false;
			},
			setupBuilder(){
				if(typeof window.getBuilderResults !== "undefined"){
					let val = this.outcomeValue;
					console.log(val);
					if(val){
						let replaced = '';
						let lines = val.split("\n");
						lines.forEach(function(l){
							if(l.trim() == '}'){
								let tabs = (l.match(/\t/g) || []).length;
								replaced += '<button contenteditable="false" class="addToBuilder" data-tabs="'+(tabs + 1)+'">+</button>';
								replaced += l+"\n";
							}else{
								replaced += l+"\n";
							}
						});
						replaced += '<button contenteditable="false" class="addToBuilder" data-tabs="0">+</button>';
						replaced = replaced.replace('TAG', '<span contenteditable="false" class="choose-country">TAG</span>').replace('STATE', '<span contenteditable="false" class="choose-state">STATE</span>');
						$('#builderOutput-'+this._uid).html(replaced);
					}

					var builderData = {};
					var builderJSON = window.getBuilderResults();
					if(this.uses.length){
						var uses = this.uses.split(',');
						//Add custom ones at the top
						$.each(uses, function(key, item){
							if(builderJSON.hasOwnProperty('custom_'+item)){
								$.extend(true, builderData, builderJSON['custom_'+item]);
							}
						});
						$.each(uses, function(key, item){
							$.extend(true, builderData, builderJSON[item]);
						});
					}else{
						$.each(builderJSON, function(key, value){
							if(key != 'version'){
								$.extend(true, builderData, value);
							}
						});
					}
					window.setupOutcomeBuilderSearch(builderData);
				}else{
					var el = this;
					setTimeout(function(){
						el.setupBuilder();
					}, 50);
				}
			}
		},
		mounted(){
			
		}
	}
</script>