<template>
	<div class="input-with-help">
		<div class="input-wrapper">
			<select :name="name" class="default-input" @change="updatedValue($event.target.checked)" :required="!optional">
				<option value="" :selected="(value == '') ? true : false" disabled>{{ label }}</option>
				<option v-for="item in fixed_values" :value="item.value" :selected="(value === item.value) ? true : false">{{ item.label }}</option>
			</select>
			<div class="select-dropdown"><svg class="feather-icon chevron-down"><use xlink:href="#chevron-down"></use></svg></div>
			<label class="input-label" :for="name">{{ label }}</label>
			<div class="help-text" v-if="helptext">
				<svg class="feather-icon info"><use xlink:href="#info"></use></svg>
				<div class="help-text-info">
					{{ helptext }}
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props:[
			'label','value','helptext','name', 'values', 'optional'
		],
		data: function(){
			return {
				fixed_values : []
			}
		},
		mounted(){
			this.setFixedValues();
		},
		watch:{
			values(newValues, oldValues){
				this.setFixedValues();
			}
		},
		methods: {
			setFixedValues(){
				if(this.values == undefined){
					return;
				}
				var selectValues = false;
				try{
					JSON.parse(this.values);
				} catch (e){
					selectValues = this.values;
				}
				
				if(!selectValues){
					var json = JSON.parse(this.values);
					selectValues = json;
				}

				this.fixed_values = selectValues;
			},
			updatedValue(val){
				this.$emit("updatedValue", { name: this.name, value: val });
			}
		}
	}
</script>