<template>
	<datalist-help :required="required" :name="name" :label="label" :value="value" :helptext="helptext" :values="tags"></datalist-help>
</template>

<script>
	export default {
		props: ['name', 'value', 'helptext', 'required', 'label'],
		data(){
			return {
				tags: []
			}
		},
		mounted(){
			let el = this;
			$.get("/get-data/tags", function(data){
				let tags = [];

				$.each(data, function(tag, name){
					tags.push({value:tag, label:name});
				});

				el.tags = tags;
			});
		}
	}
</script>