<template>
	<div class="trait-selector data-field">
		<div class="input-with-help">
			<div class="input-wrapper">
				<input @focus="openTraitModal()" :data-uid="this._uid" class="trait-input default-input" type="text" :name="name" :value="this.traitValue" :placeholder="label">
				<label class="input-label" :for="name">{{ label }}</label>
				<div class="help-text" v-if="helptext">
					<svg class="feather-icon info"><use xlink:href="#info"></use></svg>
					<div class="help-text-info">
						{{ helptext }}
					</div>
				</div>
			</div>
		</div>
		<dialog :id="'trait-modal-'+this._uid" class="dialog-modal" v-if="showTraitModal">
			<div class="modal-header">
				<h5>Trait Selector</h5>
				<div class="close" @click="closeTraitModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
			</div>
			<div class="modal-content builder-modal-content">
				<p>Select which traits you would like to assign from the list below.</p>
				<p><small>All traits will be shown in the language your ideas list is set to, not what your account is set to.</small></p>
				<div class="selected-traits">
					<div class="trait-item" v-for="(item,index) in this.currentTraits" :data-id="item.index" :key="item.index">
						<div class="trait-selction">
							{{ item.name }}
							<button class="remove" @click="removeIdea(item.index)">
								<svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg>
							</button>
						</div>
					</div>
				</div>
				<div class="trait-search" v-if="this.showSearch">
					<p>&nbsp;</p>
					<h4 class="text-centre">Search Traits</h4>
					<div class="input-wrapper">
						<input type="text" class="default-input" placeholder="..." @keyup="searchTraits()" id="traitSearch">
					</div>
					<p>&nbsp;</p>
					<div class="selected-traits full">
						<div class="trait-item" v-for="(item,index) in getTraitList()" :data-id="index">
							<div class="trait-selction">
								{{ traitLocalisation(index) }}
								<button type="button" class="add" @click="addIdea(index)">
									<svg class="feather-icon icon-plus"><use xlink:href="#plus"></use></svg>
								</button>
							</div>
						</div>
					</div>
				</div>
				<button type="button" class="addToBuilder" @click="showTraitSearch()">+</button>
			</div>
		</dialog>
	</div>
</template>

<script>
	export default {
		props: ['name', 'value', 'helptext', 'label', 'list'],
		data(){
			return {
				traits: [],
				currentTraits: [],
				showSearch: false,
				traitValue: this.value != null ? this.value : '',
				showTraitModal: false
			}
		},
		mounted(){
			if(window.globalTraitSelectorList == null){
				var el = this;
				$.get('/get-data/traits?combined=true', function(data){
					window.globalTraitSelectorList = data;
					el.traits = data;

				});
			}else{
				this.traits = window.globalTraitSelectorList;
			}
		},
		methods:{
			addIdea(index){
				var env = this;
				if(this.traitValue != null){
					this.traitValue = this.traitValue + ' ' + index;
				}else{
					this.traitValue = index;
				}

				var name = index;
				if(env.traits.localisation.hasOwnProperty(index)){
					if(env.traits.localisation[index].hasOwnProperty('name')){
						name = env.traits.localisation[index].name;
					}
				}
				if(index != null || index != "null"){
					this.currentTraits.push({index:index,name:name});
				}
				$('.selected-traits.full [data-id="'+index+'"]').remove();
			},
			removeIdea(index){
				var env = this;

				var split = this.traitValue.split(' ');
				var string = "";
				$.each(split, function(key, value){
					if(value != "" && value != index){
						string += value + ' ';
					}
				});
				this.traitValue = string;
				this.currentTraits = this.getCurrentTraits();
			},
			traitLocalisation(index){
				if(this.traits.localisation.hasOwnProperty(index)){
					if(this.traits.localisation[index].hasOwnProperty('name')){
						return this.traits.localisation[index].name.replace(/\n/g, ' - ').replace("\n", ' - ').replace(/\\n/g, ' - ');
					}else{
						return this.traits.localisation[index];
					}
				}
				return index;
			},
			getTraitList(){
				return this.traits.traits;
			},
			showTraitSearch(){
				this.showSearch = true;
				$('.addToBuilder').hide();
			},
			getCurrentTraits(){
				var env = this;
				var traits = [];
				if(this.traitValue == null){
					return traits;
				}
				var split = this.traitValue.split(' ');
				
				$.each(split, function(key, value){
					if(value != ""){
						var name = value;
						if(env.traits.localisation.hasOwnProperty(value)){
							if(env.traits.localisation[value].hasOwnProperty('name')){
								name = env.traits.localisation[value].name;
							}
						}
						traits.push({index:value, name:name});
					}
				});
				return traits;
			},
			searchTraits(){
				var text = $('#traitSearch').val().toLowerCase();
				if(text != ""){
					$('.selected-traits.full .trait-item').hide();
					$('.selected-traits.full .trait-item').each(function(){
						if($(this).text().toLowerCase().indexOf(text) > -1 || $(this).attr('data-id').indexOf(text) > -1){
							$(this).show();
						}
					});
				}else{
					$('.selected-traits.full .trait-item').show();
				}
			},
			setupBuilderSearch(){
				var env = this;
			},
			openTraitModal(){
				$('body').find('.trait-input[data-uid="'+this._uid+'"]').blur();
				let val = $('body').find('.trait-input[data-uid="'+this._uid+'"]').val();
				this.showTraitModal = true;
				this.currentTraits = this.getCurrentTraits();
				this.openModal();
			},
			openModal(){
				if(document.getElementById('trait-modal-'+this._uid)){
					document.getElementById('trait-modal-'+this._uid).showModal();
				}else{
					var el = this;
					setTimeout(function(){
						el.openModal();
					}, 50);
				}
			},
			closeTraitModal(){
				$('.addToBuilder').show();
				document.getElementById('trait-modal-'+this._uid).close();
				this.showSearch = false;
				this.showTraitModal = false;
				this.currentTraits = [];
			}
		},
		watch: {
			value: function(){
				let el = this;
				this.traitValue = this.value;

				if(this.value != null && this.value != ''){
					let json = [];
					$.each(this.value.split(" "), function(key, val){
						if(val != null && val != 'null'){
							json.push({index:val, name:el.traitLocalisation(val)});
						}
					});

					this.currentTraits = json;
				}
			}
		},
	}
</script>