<template>
	<div class="input-with-help" :data-uid="this._uid" :data-type="type">
		<div class="input-wrapper" @focusin="openSecondaryModal" @focusout="closeSecondaryModal">
			<input type="text" class="default-input" :name="name" :placeholder="label" :value="value">
			<label class="input-label" :for="name">{{ label }}</label>
			<div class="help-text" v-if="helptext">
				<svg class="feather-icon info"><use xlink:href="#info"></use></svg>
				<div class="help-text-info">
					{{ helptext }}
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props:[
			'label','value','helptext','name','type'
		],
		methods: {
			closeSecondaryModal(){
				this.$emit('closeSecondaryModal');
			},
			openSecondaryModal(event){
				this.$emit('openSecondaryModal', event, 'trait-selector', '[data-uid="'+this._uid+'"] [name="'+this.name+'"]');
			}
		}
	}
</script>