<template>
	<div class="modal wide">
		<div class="modal-header">
			<h5>{{ this.helpText.create_modal.title }}</h5>
			<div class="close" @click="closeglobalmodal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="modal-content">
			<form action="/decision/create" method="POST">
				<input type="hidden" name="_token" :value="this.csrf">
				<div class="grid">
					<div class="grid-col-span-6">
						<input-help :label="this.helpText.create_modal.name" required :helptext="this.helpText.create_modal.name_help" name="name"></input-help>
						<select-help :label="this.helpText.create_modal.mod" :helptext="this.helpText.create_modal.mod_help" name="mod_id" :values="mods"></select-help>
					</div>
					<div class="grid-col-span-6">
						<div class="emoji-select data-field">
							<select-help :label="this.helpText.create_modal.lang" :helptext="this.helpText.create_modal.lang_help" name="lang" :values="languages"></select-help>
						</div>
						<div class="text-right data-field">
							<btn :text="this.helpText.create_modal.submit"></btn>
						</div>
					</div>
					
				</div>
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		data: function(){
			return{
				helpText: JSON.parse(document.getElementById('modal-help-text').innerHTML),
				csrf: $('[name="csrf-token"]').attr('content'),
				countries: JSON.parse(document.getElementById('country-list').innerHTML),
				languages: window.getFileLanguages(),
				mods: JSON.parse(document.getElementById('mod-list').innerHTML)
			}
		},
		methods: {
			closeglobalmodal(){
				this.$emit('closeglobalmodal');
			}
		}
	}
</script>