<template>
	<div>
		<div class="decision-list">
			<div class="decision-header" @click="openMainComponent('edit-decision-category')">
				<div class="decision-image"><img :src="'/media/find/'+this.info.category.gfx"></div>
				<div class="decision-title">{{ this.info.category.name }}</div>
			</div>
			<div class="decision-description" v-if="this.info.category.description" @click="openMainComponent('edit-decision-category')">
				<div class="decision-description-image" v-if="this.info.category.description_gfx > 1">
					<img :src="'/media/find/'+this.info.category.description_gfx">
				</div>
				<div class="decision-description-text">
					{{ this.info.category.description }}
				</div>
			</div>
		</div>
		<div class="decision-items" v-if="this.info.decisions.length">
			<div class="decision-item" v-for="item,index in this.info.decisions" @click="editDecision($event, index)" :key="item.id">
				<div class="decision-image"><img :src="'/media/find/'+item.gfx"></div>
				<div class="decision-title">
					<h4>{{ item.name }}</h4>
				</div>
				<div class="decision-delete" @click="deleteDecision(item)">
					<svg class="feather-icon icon-trash-2"><use xlink:href="#trash-2"></use></svg>
				</div>
			</div>
		</div>

		<component v-bind:is="mainComponent" v-bind="info" @closeComponents="closeComponents()" @openSecondaryModal="openSecondaryModal" @updateCategory="updateCategory" @updateDecisionData="updateDecisionData"></component>
		<component v-bind:is="secondaryComponent" @closeSecondaryModal="closeSecondaryModal" @updateGFX="updateGFX" @updateData="updateData" v-bind="info" ></component>
	</div>
</template>
<script>
	export default {
		props:[
			'category', 'helptext', 'toolhelp', 'decisions'
		],
		data(){
			return{
				comp: 'placeholder',
				secondary: 'placeholder',
				info:{
					category: this.category,
					decisions : this.decisions,
					helpText: this.helptext,
					toolHelp: this.toolhelp,
					gfxList: 'gfx-list',
					tool: 'decision',
					gfxObject: null,
					editing: null,
					secondaryData: null
				}
			}
		},
		created(){
		},
		methods:{
			openMainComponent(modal){
				this.comp = modal;
			},
			closeComponents(){
				this.comp = 'placeholder';
				this.secondary = 'placeholder';
				this.info.secondaryData = null;
			},
			closeEditView(){
				this.closeComponents();
			},
			openSecondaryModal(event, modal, data = null){
				if(typeof data === 'string' || data instanceof String){
					this.info.secondaryData = data;
				}else{
					this.info.gfxObject = data.elem;
				}
				this.secondary = modal;
			},
			closeSecondaryModal(){
				this.secondary = 'placeholder';
				this.info.secondaryData = null;
			},
			updateData(data){

			},
			updateGFX(){

			},
			updateCategory(data){
				this.info.category = data;
			},
			updateDecisionData(data){
				this.info.decisions.splice(this.info.editing, 1, data);
			},
			editDecision(event, index){
				if(event.target.className != 'decision-delete'){
					this.info.editing = index;
					this.openMainComponent('edit-decision');
				}
			},
			deleteDecision(item){
				if(isNaN(item.id)){
					//ID = "new-..."
					this.removedecisionfromlist(item);
				}else{
					const config = {
						headers: {
							'content-type': 'multipart/form-data',
							'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
						}
					}
					let toolHelp = this.info.toolHelp
					let env = this;
					jconfirm({
						title: toolHelp.delete_title,
						content: toolHelp.delete_text,
						buttons: {   
							ok: {
								text: toolHelp.delete_confirm,
								btnClass: 'button',
								keys: ['enter'],
								action: function(){
									let formData = new FormData();
									formData.append('id', item.id);
									axios.post('/decision/delete-option', formData, config)
										.then(function (response) {
											//Remove from list
											env.removedecisionfromlist(item);
										});

									
								}
							},
							cancel: {
								text: toolHelp.delete_cancel,
								btnClass: 'button invert white'
							}
						}
					});
				}
				
			},
			removedecisionfromlist(item){
				this.$emit('removedecisionfromlist', item.id);
			}
		},
		computed:{
			mainComponent: function(){
				return this.comp.toLowerCase();
			},
			secondaryComponent: function(){
				return this.secondary.toLowerCase();
			}
		}
	}
</script>