<template>
	<div class="modal">
		<div class="modal-header">
			<h5>{{ helpText.decision.title }}</h5>
			<div class="close" @click="closeEditView()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="modal-content decision-edit">
			<form @submit.prevent="updateDecision()" :id="'decision-form-'+this.decision.id" :data-id="this.decision.id">

				<input-help required :label="helpText.decision.name" :value="this.decision.name" :helptext="helpText.decision.name_help" name="name"></input-help>
				<gfx-select :data="this.decision" type="decision" name="gfx" @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal"></gfx-select>

				<textarea-help :label="helpText.decision.description" :value="this.decision.data.description" :helptext="helpText.decision.description_help" name="data[description]"></textarea-help>

				<input-help :label="helpText.decision.cost" :value="this.decision.data.cost" :helptext="helpText.decision.cost_help" name="data[cost]" step="1" type="number"></input-help>

				<checkbox-help :label="helpText.decision.fire_only_once" :value="this.decision.data.fire_only_once" :helptext="helpText.decision.fire_only_once_help" name="data[fire_only_once]"></checkbox-help>

				<input-help :label="helpText.decision.days_remove" :value="this.decision.data.days_remove" :helptext="helpText.decision.days_remove_help" name="data[days_remove]" step="1" type="number"></input-help>

				<input-help :label="helpText.decision.days_re_enable" :value="this.decision.data.days_re_enable" :helptext="helpText.decision.days_re_enable_help" name="data[days_re_enable]" step="1" type="number"></input-help>

				<builder @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" :label="helpText.decision.available" :value="this.decision.data.available" :helptext="helpText.decision.available_help" name="data[available]" :uses="['scopes', 'conditions']"></builder>

				<builder @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" :label="helpText.decision.visible" :value="this.decision.data.visible" :helptext="helpText.decision.visible_help" name="data[visible]" :uses="['scopes', 'conditions']"></builder>

				<builder @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" :label="helpText.decision.complete_effect" :value="this.decision.data.complete_effect" :helptext="helpText.decision.complete_effect_help" name="data[complete_effect]" :uses="['scopes', 'conditions', 'effects']"></builder>

				<builder @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" :label="helpText.decision.remove_effect" :value="this.decision.data.remove_effect" :helptext="helpText.decision.remove_effect_help" name="data[remove_effect]" :uses="['scopes', 'conditions', 'effects']"></builder>

				<btn text="Submit" wide="true"></btn>
				<p></p>
				<h5>{{ helpText.decision.mission_title }}</h5>
				<p><small>{{ helpText.decision.mission_description }}</small></p>

				<builder @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" :label="helpText.decision.allowed" :value="this.decision.data.allowed" :helptext="helpText.decision.allowed_help" name="data[allowed]"></builder>

				<builder @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" :label="helpText.decision.activation" :value="this.decision.data.activation" :helptext="helpText.decision.activation_help" name="data[activation]" :uses="['scopes', 'conditions', 'effects']"></builder>

				<checkbox-help :label="helpText.decision.is_good" :value="this.decision.data.is_good" :helptext="helpText.decision.is_good_help" name="data[is_good]"></checkbox-help>

				<checkbox-help :label="helpText.decision.selectable_mission" :value="this.decision.data.selectable_mission" :helptext="helpText.decision.selectable_mission_help" name="data[selectable_mission]"></checkbox-help>

				<input-help :label="helpText.decision.days_mission_timeout" :value="this.decision.data.days_mission_timeout" :helptext="helpText.decision.days_mission_timeout_help" name="data[days_mission_timeout]" step="1" type="number"></input-help>

				<builder @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" :label="helpText.decision.timeout_effect" :value="this.decision.data.timeout_effect" :helptext="helpText.decision.timeout_effect_help" name="data[timeout_effect]" :uses="['scopes', 'conditions', 'effects']"></builder>

				<btn text="Submit" wide="true"></btn>
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		props:[
			'isEdit', 'category', 'helpText', 'toolHelp', 'gfxObject', 'decisions', 'editing'
		],
		data(){
			var decision = this.decisions[this.editing];
			return{
				decision : decision
			}
		},
		created(){
		},
		methods:{
			closeEditView(){
				this.$emit('closeComponents');
			},
			openSecondaryModal(event, modal, data = null){
				if(typeof data === 'string' || data instanceof String){
					var d = data;
				}else{
					var d = {type:'decision', elem: $(event.target).closest('.gfx-select').find('input').attr('name')}
				}
				this.$emit('openSecondaryModal', event, modal, d);
			},
			closeSecondaryModal(){
				this.$emit('closeSecondaryComponent');
			},
			updateDecision(){
				const config = {
					headers: {
						'content-type': 'multipart/form-data',
						'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
					}
				}
				let comp = this;
				let formData = new FormData();
				let decision = this.decision;
				var idPrefix = '#decision-form-'+this.decision.id+' ';
				formData.append('category_id', this.category.id)
				formData.append('id', this.decision.id)
				formData.append('name', $(idPrefix+'[name="name"]').val());
				formData.append('gfx', $(idPrefix+'[name="gfx"]').val());
				formData.append('data', JSON.stringify(getFormDataByInputName('decision-form-'+this.decision.id, 'data')));
				$('.decision-edit').find('button').attr('disabled', 'true');
				axios.post('/decision/update-option', formData, config)
					.then(function (response) {
						decision = response.data;
						comp.updateDecisionData(decision);
						$('.decision-edit').find('button').removeAttr('disabled');
						comp.closeEditView();
					});
			},
			updateDecisionData(data){
				this.$emit('updateDecisionData', data);
			}
		}
	}
</script>