<template>
	<div class="modal wide">
		<div class="modal-header">
			<h5>{{ helpText.edit_category.title }}</h5>
			<div class="close" @click="closeEditView()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></div>
		</div>
		<div class="modal-content decision-category-edit">
			<form @submit.prevent="updateDecisionCategory()" :id="'decision-form-'+category.id" :data-id="category.id">
				<div class="grid">
					<div class="grid-col-span-tablet-6 grid-col-span-12">
						<input-help required :label="helpText.edit_category.name" :value="category.name" :helptext="helpText.edit_category.name_help" name="name"></input-help>
					</div>
					<div class="grid-col-span-tablet-6 grid-col-span-12">
						<textarea-help :label="helpText.edit_category.description" :value="category.description" :helptext="helpText.edit_category.description_help" name="description"></textarea-help>
					</div>
					<div class="grid-col-span-tablet-6 grid-col-span-12">
						<h4>{{ helpText.edit_category.main_gfx }}</h4>
						<p>{{ helpText.edit_category.main_gfx_help }}</p>
						<gfx-select :data="category" type="decision" name="gfx" @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal"></gfx-select>
					</div>
					<div class="grid-col-span-tablet-6 grid-col-span-12">
						<h4>{{ helpText.edit_category.description_gfx }}</h4>
						<p>{{ helpText.edit_category.description_gfx_help }}</p>
						<gfx-select :data="category" type="decision" name="description_gfx" @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal"></gfx-select>
					</div>

					<div class="grid-col-span-tablet-6 grid-col-span-12">
						<builder @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" :label="helpText.edit_category.visible" :value="category.data.visible" :uses="['scopes', 'conditions']" :helptext="helpText.edit_category.visible_help" :name="'data[visible]'"></builder>
					</div>
					<div class="grid-col-span-tablet-6 grid-col-span-12">
						<builder @openSecondaryModal="openSecondaryModal" @closeSecondaryModal="closeSecondaryModal" :label="helpText.edit_category.allowed" :value="category.data.allowed" :uses="['scopes', 'conditions']" :helptext="helpText.edit_category.allowed_help" :name="'data[allowed]'"></builder>
					</div>
				</div>
				<btn text="Submit" wide="true"></btn>
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		props:[
			'isEdit', 'category', 'helpText', 'toolHelp', 'gfxObject'
		],
		data(){
			return{
			}
		},
		created(){
		},
		methods:{
			closeEditView(){
				this.$emit('closeComponents');
			},
			openSecondaryModal(event, modal, data = null){
				if(modal != 'gfx-modal'){
					var d = data;
				}else{
					var d = {type:'decision', elem: $(event.target).closest('.gfx-select').find('input').attr('name')};
				}
				this.$emit('openSecondaryModal', event, modal, d);
			},
			closeSecondaryModal(){
				this.$emit('closeSecondaryComponent');
			},
			updateDecisionCategory(){
				const config = {
					headers: {
						'content-type': 'multipart/form-data',
						'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
					}
				}
				let comp = this;
				let formData = new FormData();
				let category = this.category;
				formData.append('id', this.category.id);
				formData.append('name', $('.decision-category-edit [name="name"]').val());
				formData.append('description', $('.decision-category-edit [name="description"]').val());
				formData.append('gfx', $('.decision-category-edit [name="gfx"]').val());
				formData.append('description_gfx', $('.decision-category-edit [name="description_gfx"]').val());
				var data = {};
				data.allowed = $('.decision-category-edit [name="data[allowed]"]').val();
				data.visible = $('.decision-category-edit [name="data[visible]"]').val();
				formData.append('data', JSON.stringify(data));
				$('.decision-category-edit').find('button').attr('disabled', 'true');
				axios.post('/decision/update', formData, config)
					.then(function (response) {
						category = response.data;
						comp.updateData(category);
						$('.decision-category-edit').find('button').removeAttr('disabled');
						comp.closeEditView();
					});
			},
			updateData(data){
				this.$emit('updateCategory', data);
			}
		}
	}
</script>