<template>
	<div>
		<div class="grid">
			<div class="grid-col-span-laptop-4 grid-col-span-6 created-trait" v-for="item in traits">
				<span class="name">{{ item.name }}</span>
			</div>
		</div>
		<button class="button circular" @click="openEditor('new')">+</button>
		<dialog id="trait-modal" class="dialog-modal" v-if="editable">
			<div class="modal-header">
				<h5>{{ editing.hasOwnProperty('data') ? 'Editing '+editing.data.name : 'Create new trait' }}</h5>
				<button class="close" @click="closeModal()"><svg class="feather-icon icon-x"><use xlink:href="#x"></use></svg></button>
			</div>
			<div class="modal-content">
				<form method="POST" @submit.prevent="submitForm();" class="grid" id="trait-modal-form">
					<div class="grid-col-span-laptop-8 grid-col-span-6">
						<csrf></csrf>
						<input type="hidden" name="id" :value="editing.hasOwnProperty('id') ? editing.id : 'new'">
						<input-help name="name" label="Name" helptext="Name of the trait" :value="editing.hasOwnProperty('data') ? editing.data.name : ''"></input-help>
						<checkbox-help name="random" label="Random" helptext="Can this trait be randomly assigned?" :value="editing.hasOwnProperty('random') ? editing.data.random : false"></checkbox-help>
					</div>
					<div class="grid-col-span-6 grid-col-span-laptop-4">
						<h4>Sprite</h4>
						<div class="trait-sprite-select-wrapper">
							<label class="option" v-for="item in getTraitSprites()">
								<input type="radio" name="sprite" :value="item.value" :checked="editing.hasOwnProperty('data') ? editing.data.sprite == item.value : item.value == 11">
								<span class="image"></span>
							</label>
						</div>
						<p style="line-height: 0.9em;margin-top: 0.25rem;"><small>This is the small icon which will appear in the bottom left of any character which has this trait</small></p>
					</div>
					<div class="grid-col-span-12">
						<builder-input :value="editing.hasOwnProperty('data') ? editing.data : ''" name="data" label="Data" helptext="What data should this trait give?" uses="scopes,conditions,modifiers"></builder-input>
					</div>

					<div class="grid-col-span-12 text-right">
						<button class="button">Submit</button>
					</div>
				</form>
			</div>
		</dialog>
	</div>
</template>

<script>
	export default {
		props: ['id', 'type'],
		data(){
			return {
				traits: [],
				editable: false,
				editing: {}
			}
		},
		mounted(){
			let el = this;
			$.get('/traits/data/'+this.id+'/'+this.type, function(data){
				if(data.length > 0){
					el.traits = data;
				}
			});
			$.get('/traits/api/editable/'+this.id, function(data){
				el.editable = data.editable;
			});
		},
		methods:{
			openEditor(id){
				this.openModal();
			},
			openModal(){
				document.getElementById('trait-modal').showModal();
			},
			closeModal(){
				this.editing = {};
				document.getElementById('trait-modal').close();
			},
			getTraitSprites(){
				let values = [];
				let num = 1;
				while(num <= 18){
					values.push({label: num, value: num});
					num++;
				}
				return values;
			}
		}
	}
</script>